<label class="checkbox js-checkbox">
    <input class="input" type="checkbox" name="{{name}}" value="{{value}}"{{#if checked}} checked{{/if}}{{#if disabled}} disabled{{/if}}>
    <span class="figure"></span>
    <span class="label">
        {{label}}
    </span>
</label>
