<label class="checkbox js-checkbox">
    <input class="input" type="checkbox" name="{{name}}" value="{{value}}">
    <span class="figure"></span>
    <span class="label">
        {{label}}
    </span>
</label>