<div class="login js-login">
    <button class="btn close js-closeLoginForms"></button>
    <div class="formContainer auth active js-loginFormContainer">
        <div class="switches">
            <button class="btn round border fillFromCenter fillFromCenter-darkLilac active js-btnSwitchAuth">Вход</button>
            <button class="btn round border fillFromCenter fillFromCenter-darkLilac js-btnSwitchReg">Регистрация</button>
        </div>
        <form class="form auth js-loginForm" action="{{websiteAddress}}auth">
            <label class="input-labelInField js-inputLabelInField">
                <input class="textField" type="text" name="login">
                <span class="label">Ник</span>
            </label>
            <label class="input-labelInField js-inputLabelInField">
                <input class="textField" type="text" name="email">
                <span class="label">E-mail</span>
            </label>
            <label class="input-labelInField js-inputLabelInField">
                <input class="textField" type="password" name="password">
                <span class="label">Пароль</span>
            </label>
            <button type="submit" class="btn round border fillFromCenter fillFromCenter-darkLilac submit js-submitLoginForm">Войти</button>
        </form>
        <div class="responseMessage js-resultLogin"></div>
        <div class="canRestore">
            <span class="text">Забыли пароль?</span>
            <button class="btn link js-btnRestore">Восстановить</button>
        </div>
    </div>
    <div class="formContainer restore js-restoreFomContainer">
        <div class="title">Забыли пароль?</div>
        <div class="description">Мы пришлем Вам новый на E-mail, указанный при регистрации!</div>
        <form class="form" action="/restore" method="post">
            <label class="input-labelInField js-inputLabelInField">
                <input class="textField" type="text" name="email">
                <span class="label">E-mail</span>
            </label>
            <button type="submit" class="btn round border fillFromCenter fillFromCenter-darkLilac submit">Восстановить</button>
        </form>
        <button class="btn link js-btnBackLogin">Назад</button>
    </div>
</div>