<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>

<ul>
    <li><a href="/admin/products">Игры</a></li>
    {{#iff person.role '===' 'admin'}}
        <li><a href="/admin/products/compare">Сравнение цен</a></li>
        <li><a href="/admin/analytics">Аналитика</a></li>
        <li><a href="/admin/analytics/users">Аналитика по пользователям</a></li>
        <li><a href="/admin/categories">Категории</a></li>
        <li><a href="/admin/genres">Жанры</a></li>
        <li><a href="/admin/editions">Версии</a></li>
        <li><a href="/admin/keys">Ключи</a></li>
        <li><a href="/admin/extends">Расширения</a></li>
        <li><a href="/admin/languages">Языки</a></li>
        <li><a href="/admin/regions">Регионы</a></li>
        <li><a href="/admin/activation-services">Сервисы активации</a></li>
        <li><a href="/admin/publishers">Издатели</a></li>
        <li><a href="/admin/developers">Разработчики</a></li>
        <li><a href="/admin/platforms">Платформы</a></li>
        <li><a href="/admin/bundles">Связки игр</a></li>
        <li><a href="/admin/series">Серии игр</a></li>
        <li><a href="/admin/articles">Блог</a></li>
        <li><a href="/admin/achievements">Достижения</a></li>
        <li><a href="/admin/parsing">Парсинг</a></li>
        <li><a href="/admin/payment/checkout">Checkout</a></li>
        <li><a href="/admin/payment/method">Способ оплаты</a></li>
        <li><a href="/admin/reviews">Отзывы на модерации</a></li>
        <li><a href="/admin/reviews/best">Выбрать лучшие отзывы</a></li>
    {{/iff}}
</ul>

{{{body}}}

</body>
</html>