<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>

<ul>
    <li><a href="/admin/products">Игры</a></li>
    <li><a href="/admin/categories">Категории</a></li>
    <li><a href="/admin/genres">Жанры</a></li>
    <li><a href="/admin/names-kits">Названия наборов</a></li>
    <li><a href="/admin/keys">Ключи</a></li>
    <li><a href="/admin/extends">Расширения</a></li>
    <li><a href="/admin/languages">Языки</a></li>
    <li><a href="/admin/regions">Регионы</a></li>
    <li><a href="/admin/activation-services">Сервисы активации</a></li>
    <li><a href="/admin/publishers">Издатели</a></li>
    <li><a href="/admin/developers">Разработчики</a></li>
    <li><a href="/admin/platforms">Платформы</a></li>
    <li><a href="/admin/usp">УТП</a></li>
</ul>

{{{body}}}

</body>
</html>