<main class="contentContainer withoutCover basketPage js-cart">
    {{> breadcrumbs}}
    <div class="notFound">
        <img src="{{websiteAddress}}img/notFound.svg" class="img" alt="Иконка расстроенного смайла" title="Корзина пуста :(">
        <div class="text">
            <span class="title">ICE NOT FOUND</span>
        </div>
        <a href="{{websiteAddress}}" class="btn big border round hover-border-pink hover-color-pink" title="Перейти в каталог">На главную</a>
    </div>
</main>
