<main class="aboutPage">
    <div class="breadcrumbs contentContainer">
        <div class="item">
            <a class="btn link" href="/">Главная</a>
        </div>
        <div class="current">О компании</div>
    </div>
    <div class="cover blackout blackout-bottomMax blackout-bottomMax-darker">
        <img class="img" src="./img/aboutPageCover.png" alt="Phoenix Point: Year One Edition" title="Phoenix Point: Year One Edition">
        <div class="textContent">
            <div class="title">Icegames</div>
            <div class="description">
                — это интернет-магазин лицензионных компьютерных игр.<br>Наша главная миссия — создать неразрывное активное
                комьюнити геймеров.
            </div>
        </div>
        <button class="btn rounded big bg-blue translucent js-scroller" data-target="aboutContent">Читать</button>
    </div>
    <div class="contentContainer js-aboutContent">
        <div class="rocket">
            <img class="img" src="./img/aboutPage-rocket.png" alt="Ракета">
            <div class="content">
                <div class="title">Сегодня мы лучше, чем вчера.</div>
                <div class="description">
                    Наш проект совершенствуется ежечасно: команда специалистов еженедельно собирает полный спектр данных,
                    формирует отчётность, обсуждает и дорабатывает выявленные слабые места.
                </div>
            </div>
        </div>
        <div class="history">
            <div class="infoBlock">
                <img class="img" src="./img/aboutPage-friends.png" alt="Два друга">
                <div class="content">
                    <div class="title">История компании</div>
                    <div class="description">
                        Идея создания сайта зародилась в 2020 году. Два друга, увлекающиеся компьютерными играми,
                        решили объединить начинающих игроков и уже заядлых геймеров в одном месте, чтобы помочь им
                        покупать игры дешевле. Проект начал разрабатываться незамедлительно.
                    </div>
                </div>
            </div>
            <div class="infoBlock">
                <img class="img" src="./img/aboutPage-puzzle.png" alt="Трудности">
                <div class="description">
                    Уже тогда начались первые трудности. Технические недоработки, неверная структура сайта, нехватка
                    людей в команде… И как следствие — обманутые ожидания. Как видите, мы не сдались. Мы просто верили
                    в то, что комьюнити будет существовать.
                </div>
            </div>
            <div class="infoBlock">
                <img class="img" src="./img/aboutPage-instruments.png" alt="Отвертка и ключ">
                <div class="description">
                    Над проектом тогда старались более 5 человек, но чувствовалась серьёзная нехватка кадров. Первым
                    делом мы собрали команду людей, которые горели идеей также, как и те два парня в самом начале пути.
                    Вместе мы смогли выявить главные ошибки и даже временно остановили сайт, чтобы создать верную
                    структуру и подачу продукта, улучшить дизайн и устранить недоработки.
                </div>
            </div>
            <div class="infoBlock">
                <img class="img" src="./img/aboutPage-tents.png" alt="Палатки">
                <div class="description">
                    Над проектом тогда старались более 5 человек, но чувствовалась серьёзная нехватка кадров. Первым
                    делом мы собрали команду людей, которые горели идеей также, как и те два парня в самом начале пути.
                    Вместе мы смогли выявить главные ошибки и даже временно остановили сайт, чтобы создать верную
                    структуру и подачу продукта, улучшить дизайн и устранить недоработки.
                </div>
            </div>
        </div>
        <div class="Earth">
            <div class="content">
                <div class="title">Раз мы смогли сделать это за год, то совсем скоро о нас узнает весь мир.</div>
                <div class="description">
                    Мы планируем выходить за рамки СНГ, создавать собственные сервера с облачным геймингом, вводить в
                    продажу скины для игр и многое другое.
                </div>
            </div>
            <div class="bgBlock">
                <img class="img" src="./img/aboutPage-Earth.png" alt="планета Земля">
            </div>
        </div>
        <div class="weMade">
            <div class="title">Что мы смогли создать для вас?</div>
            <div class="list">
                <div class="item">
                    <span class="decorationIcon icon icon-triangle"></span>
                    <div class="title">Доступные цены круглый год</div>
                    <div class="description">скидки меняются, но не заканчиваются</div>
                </div>
                <div class="item">
                    <span class="decorationIcon icon icon-triangle"></span>
                    <div class="title">Множество способов оплаты</div>
                    <div class="description">
                        банковские карты: Visa, Mastercard, Maestro, Мир, American Express, JCB, Apple Pay и Google Pay,
                        ЮMoney, WebMoney, QIWI Кошелёк, оплата в терминалах и кассах, а также интернет-банки.
                    </div>
                </div>
                <div class="item">
                    <span class="decorationIcon icon icon-triangle"></span>
                    <div class="title">Широкий выбор игр</div>
                    <div class="description">тут надо написать сколько игр на сайте</div>
                </div>
                <div class="item">
                    <span class="decorationIcon icon icon-triangle"></span>
                    <div class="title">Быстрая доставка</div>
                    <div class="description">вы получаете ключ мгновенно после оплаты </div>
                </div>
                <div class="item">
                    <span class="decorationIcon icon icon-triangle"></span>
                    <div class="title">Техническая поддержка</div>
                    <div class="description">своевременная помощь на сайте и в группе ВКонтакте</div>
                </div>
                <div class="item">
                    <span class="decorationIcon icon icon-triangle"></span>
                    <div class="title">Активное комьюнити геймеров</div>
                    <div class="description">
                        мы уже делаем контент и набираем подписчиков в ВКонтакте, ТикТок, Инстаграм и Twitch
                    </div>
                </div>
            </div>
        </div>
        <div class="companyValues">
            <div class="trianglePuzzleWrapper">
                <div class="trianglePuzzle">
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                </div>
            </div>
            <div class="title">Ценности компании</div>
            <div class="trianglePuzzleWrapper">
                <div class="trianglePuzzle">
                    <span class="icon icon-triangle"></span>
                </div>
            </div>
            <div class="description">Только твёрдая, полная, сравнительная информация</div>
            <div class="trianglePuzzleWrapper">
                <div class="trianglePuzzle">
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                </div>
            </div>
            <div class="description">Качество — главное в нашем деле:<br>никакого посредственного отношения к работе.</div>
            <div class="trianglePuzzleWrapper">
                <div class="trianglePuzzle">
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                </div>
            </div>
            <div class="description">Важен поиск и использование любых возможностей.</div>
            <div class="trianglePuzzleWrapper">
                <div class="trianglePuzzle">
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                </div>
            </div>
            <div class="description">Работа в команде даёт наилучший результат. </div>
            <div class="trianglePuzzleWrapper">
                <div class="trianglePuzzle">
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                </div>
            </div>
            <div class="description">Клиент превыше всего</div>
            <div class="trianglePuzzleWrapper">
                <div class="trianglePuzzle">
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                    <span class="icon icon-triangle"></span>
                </div>
            </div>
            <div class="description">Маниакальная страсть к мелочам</div>
        </div>
        <div class="quote">
            <div class="description">На плохом фундаменте неверных ценностей никогда не вырастет достойная компания.</div>
            <span class="decorationIcon icon icon-triangle"></span>
            <span class="decorationIcon icon icon-triangle"></span>
            <span class="decorationIcon icon icon-triangle"></span>
            <span class="decorationIcon icon icon-triangle"></span>
            <span class="decorationIcon icon icon-triangle"></span>
        </div>
        <div class="end">
            <div class="title">
                <span class="name">ICE GAMES</span>
                же сделает всё необходимое для<br>достижения успеха
            </div>
            <img class="img" src="./img/aboutPage-diamond.svg" alt="Алмаз">
        </div>
    </div>
</main>