<form action="/admin/activation-services/{{activationService.id}}/add-activation-stage" method="post">
    <label>
        Этапа для сервиса {{activationService.name}}:
        <input type="text" name="text">
    </label>
    <br>
    <br>
    <input type="submit" name="add" value="Добавить">
</form>