<form method="post" action="/admin/categories/add">
    <label>
        Название категории:
        <input type="text" name="name">
    </label>
    <br>
    <br>
    <input type="submit" name="add" value="Добавить">
</form>