<form action="/admin/extends/add" method="post" enctype="multipart/form-data">
    <label>
        Введите название:
        <input type="text" name="name">
    </label>
    <br>
    <br>
    <label>
        Выберите иконку с соотношением сторон 1:1 в формате svg:
        <input type="file" name="icon">
    </label>
    <br>
    <br>
    <input type="submit" name="add" value="Добавить">
</form>