<form method="post" action="/admin/products/{{gameId}}/{{kitId}}/addElementKit" enctype="multipart/form-data">
    <label>
        Текст элемента:
        <input type="text" name="text">
    </label>
    <br>
    <br>
    <input type="submit" name="add" value="Добавить">
</form>