{{#if haveElements}}
    <p>Текущие элементы данного пакета:</p>
    <ul>
        {{#each elementsKit}}
            <li>
                {{text}}
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>У данного пакета нет элементов</p>
{{/if}}

<form method="post" action="/admin/products/{{gameId}}/{{kitId}}/addElementKit">
    <label>
        Текст элемента:
        <input type="text" name="text">
    </label>
    <br>
    <br>
    <input type="submit" name="add" value="Добавить">
</form>