<form action="/admin/series/{{seriesId}}/addGame" method="post">
    <label>
        Выберите игру:
        <select name="productId">
            {{#each products}}
                <option value="{{id}}">
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <input type="submit" name="add" value="Добавить">
</form>