<form method="post" action="/admin/names-kits/add" enctype="multipart/form-data">
    <label>
        Название набора:
        <input type="text" name="name">
    </label>
    <br>
    <br>
    <input type="submit" name="add" value="Добавить">
</form>