<form method="post" action="/admin/products/{{productId}}/addElements">
    <label>
        *Элементы через Enter (без лишних символов и пробелов):
        <br>
        <textarea name="elements" cols="30" rows="10"></textarea>
    </label>
    <br>
    <br>
    <input type="submit" name="add" value="Добавить">
</form>