<ul>
    {{#each results}}
        <li>
            <p>{{userEmail}}:</p>
            <ul>
                {{#each orderProducts}}
                    <li>
                        <a href="{{@root.websiteAddress}}games/{{alias}}">{{name}}</a>
                    </li>
                {{/each}}
            </ul>
        </li>
    {{/each}}
</ul>