<form method="post" action="/admin/cheat-reviews/add-purchases-to-favorites">
    <label>
        *Список e-mail пользователей, для которых нужно добавить покупки игр (через Enter):
        <textarea name="emails" cols="30" rows="10"></textarea>
    </label>
    <br>
    <br>
    <fieldset>
        <legend>Категория товаров</legend>
        <label>
            <input type="radio" name="categoryProducts" value="top" checked> Топ
        </label>
        <br>
        <br>
    </fieldset>
    <br>
    <br>
    <input type="submit" name="add" value="Добавить">
</form>