<a href="/admin/selections/edit/{{ selection._id }}">Назад к подборке</a>
<br>
<br>
<form action="/admin/selections/{{ selection._id }}/addItem" method="post">
    <label>
        *Выберите товары:
        <select name="productIds" multiple>
            {{#each products}}
                <option value="{{ _id }}">{{ name }}</option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <input type="submit" name="add" value="Добавить">
</form>