<form method="post" action="/admin/products/{{productId}}/addElement">
    <label>
        *Название:
        <input type="text" name="name">
    </label>
    <br>
    <br>
    <label>
        *Описание:
        <textarea name="description" cols="30" rows="10"></textarea>
    </label>
    <br>
    <br>
    <label>
        Товар:
        <select name="attachProductId">
            <option value="0">Не выбран</option>
            {{#each products}}
                <option value="{{_id}}">
                    {{name}}
                </option>
            {{/each}}
        </select>
    </label>
    <br>
    <br>
    <input type="submit" name="add" value="Добавить">
</form>