<form action="/admin/regions/add" method="post">
    <label>
        Название региона:
        <input type="text" name="name">
    </label>
    <br>
    <br>
    <input type="submit" name="add" value="Добавить">
</form>