<form method="post" action="/admin/usp/add" enctype="multipart/form-data">
    <label>
        Текст:
        <input type="text" name="text">
    </label>
    <br>
    <br>
    <input type="submit" name="add" value="Добавить">
</form>