<p>Депозит: {{balance}}</p>
<ul>
    {{#each catalog}}
        <li>
            <p>ID: {{sku}}</p>
            <p>Название: {{name}}</p>
            <p>В наличии: {{stock}}</p>
        </li>
    {{/each}}
</ul>