<main class="contentContainer withoutCover basketPage js-cart">
    {{> breadcrumbs}}
    <div class="notFound">
        <img src="{{websiteAddress}}img/notFound.svg" class="img" loading="lazy" alt="Иконка расстроенного смайла" title="Корзина пуста :(">
        <div class="text">
            <span class="title">We are under DDoS-attack</span>
        </div>
    </div>
</main>
