<main class="contentContainer withoutCover catalog js-catalog">
    <div class="breadcrumbs contentContainer">
        <div class="item">
            <a class="btn link" href="#">Главная</a>
        </div>
        <div class="current">Каталог</div>
    </div>
    <div class="main">
        <button class="btn openParams js-openParams">
            <span class="icon icon-filterParams"></span>
        </button>
        <div class="paramContainer params js-filter js-filterMobile">
            <button class="btn js-closeParams">
                <span class="icon icon-back"></span>
            </button>
            <div class="title params">Параметры</div>
            <div class="paramElements categories">
                <button class="btn uppercase js-openPriceParams">Цена</button>
                <button class="btn uppercase js-openSortParams">Сортировка</button>
                <button class="btn uppercase js-openCategoriesParams">Категории</button>
                <button class="btn uppercase js-openGenresParams">Жанры</button>
                <button class="btn uppercase js-openActivationParams">Активация</button>
            </div>
            <div class="paramContainer priceBlock js-priceParams">
                <button class="btn js-closePriceParams">
                    <span class="icon icon-back"></span>
                </button>
                <div class="title">Цена:</div>
                <div class="range js-range js-priceRange" data-min="0" data-max="3500">
                    <div class="min js-minSlider js-slider" data-name="priceFrom" data-default="0"></div>
                    <div class="max js-maxSlider js-slider" data-name="priceTo" data-default="3500">3500</div>
                </div>
            </div>
            <div class="paramContainer sortBlock js-sort js-sortParams">
                <button class="btn js-closeSortParams">
                    <span class="icon icon-back"></span>
                </button>
                <div class="title">Сортировать по:</div>
                <div class="variants paramElements">
                    <button class="btn small rounded bg-lilac translucent js-variant-sort sort" data-sort="date">Дате выхода</button>
                    <button class="btn small rounded bg-lilac translucent js-variant-sort sort" data-sort="price">Цене</button>
                    <button class="btn small rounded bg-lilac translucent js-variant-sort sort" data-sort="discount">Скидке</button>
                    {{> checkbox
                            value='true'
                            label='Только в наличии'
                            name='onlyStock'
                    }}
                </div>
            </div>
            <div class="variants">
                <div class="paramContainer categoriesBlock block js-categoriesParams">
                    <button class="btn js-closeCategoriesParams">
                        <span class="icon icon-back"></span>
                    </button>
                    <div class="title">Категории:</div>
                    <div class="elements paramElements">
                        {{#each categories}}
                            {{> checkbox
                                    value=id
                                    label=name
                                    name='categories'
                            }}
                        {{/each}}
                    </div>
                </div>
                <div class="paramContainer genresBlock block genres js-genresParams">
                    <button class="btn js-closeGenresParams">
                        <span class="icon icon-back"></span>
                    </button>
                    <div class="title">Жанры:</div>
                    <div class="elements paramElements">
                        {{#each genres}}
                            {{> checkbox
                                    value=id
                                    label=name
                                    name='genres'
                            }}
                        {{/each}}
                    </div>
                </div>
                <div class="paramContainer activationBlock block js-activationParams">
                    <button class="btn js-closeActivationParams">
                        <span class="icon icon-back"></span>
                    </button>
                    <div class="title">Активация:</div>
                    <div class="elements paramElements">
                        {{#each activationServices}}
                            {{> checkbox
                                    value=id
                                    label=name
                                    name='activationServices'
                            }}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="gameGrid js-productGrid"></div>
            <button class="btn rounded bg-lilac translucent loadMore hide js-loadMore" data-skip="1">Загрузить ещё</button>
        </div>
    </div>
</main>