<main class="contentContainer withoutCover checkFillUpStatusPage">
    {{> breadcrumbs}}
    <h1 class="title">Статус пополнения</h1>
    <div class="check">
        <div class="item">
            <div class="name">Логин</div>
            <div class="value"></div>
        </div>
        <div class="item">
            <div class="name">Сумма пополнения</div>
            <div class="value"></div>
        </div>
        <div class="item">
            <div class="name">Статус заявки</div>
            <div class="value"></div>
        </div>
    </div>
</main>