<main class="contentContainer withoutCover checkFillUpStatusPage">
    {{> breadcrumbs}}
    <h1 class="title">Статус пополнения</h1>
    <div class="check">
        <div class="item">
            <div class="name">Логин</div>
            <div class="value">{{ fillUp.steamLogin }}</div>
        </div>
        <div class="item">
            <div class="name">Сумма пополнения</div>
            <div class="value">{{ fillUp.amount }} ₽</div>
        </div>
        <div class="item">
            <div class="name">Статус заявки</div>
            <div class="value">{{ status }}</div>
        </div>
        {{#if showActions}}
            <div class="actions">
                {{#iff fillUp.status '===' 'paymentAwaiting'}}
                    <a href="{{ fillUp.sbpUrl }}" class="btn round border bg-darkPurple hover-bg-violet" target="_blank">Оплатить</a>
                {{/iff}}
                <button class="btn round bg-darkPurple js-reloadCheckFillUpStatus">Обновить</button>
            </div>
        {{/if}}
    </div>
    <div class="support">
        <a class="btn round border" href="https://vk.com/im?sel=-198095537" target="_blank" rel="nofollow">Поддержка в VK</a>
        <a class="btn round border" href="https://t.me/ICE_supportBot" target="_blank" rel="nofollow">Поддержка в Telegram</a>
    </div>
</main>