<main class="contentContainer withoutCover course js-course">
    <label>
        Коммисия $
        <input type="text" class="commission js-setCommission-dollar">
    </label>
    <label>
        Коммисия €
        <input type="text" class="commission js-setCommission-euro">
    </label>

    <h2>Курс короны</h2>
    <div class="input">
        <div class="name">Доллар:</div>
        <div class="value">0</div>
    </div>
    <div class="input">
        <div class="name">Евро:</div>
        <div class="value">0</div>
    </div>

    <h2>Курс с учетом комиссии</h2>
    <div class="input">
        <div class="name">Доллар:</div>
        <div class="value">0</div>
    </div>
    <div class="input">
        <div class="name">Евро:</div>
        <div class="value">0</div>
    </div>
</main>