<main class="contentContainer withoutCover legalInfoPage">
    <div class="breadcrumbs contentContainer mobileInvisibleScroll">
        <div class="item">
            <a class="btn link" href="{{websiteAddress}}">Главная</a>
        </div>
        <div class="current">Правовая информация</div>
    </div>
    <h1 class="title">Правовая информация</h1>
    <p class="description">
        На этой странице находятся все документы, необходимые покупателям и пользователям нашего сайта. Никаких пряток,
        ведь мы стремимся выстраивать максимально доверительные и честные отношения. Конечно, правовые документы читать
        тяжело, но очень занятно.
    </p>
    <div class="links">
        <a class="link" href="{{websiteAddress}}legal-info/agreement">Пользовательское соглашение</a>
        <a class="link" href="#">Политика конфиденциальности</a>
        <a class="link" href="#">Лицензионный договор-оферта</a>
        <a class="link" href="#">Договор-оферта оказания услуг</a>
    </div>
    <div class="entity">
        <div class="row">ИНДИВИДУАЛЬНЫЙ ПРЕДПРИНИМАТЕЛЬ КОЛПАКОВ ИГОРЬ СЕРГЕЕВИЧ</div>
        <div class="row">ОГРНИП: 321440000021782</div>
        <div class="row">ИНН: 440118086746</div>
        <div class="row">Дата регистрации: 30 сентября 2021 г.</div>
        <div class="row">Юридический адрес организации: Российская Федерация, 156009, КОСТРОМСКАЯ ОБЛ, Г. КОСТРОМА, МКР ЮБИЛЕЙНЫЙ, дом 3, кв. 38</div>
        <div class="row">Расчетный счет: 40802810900002630322</div>
        <div class="row">ОГРН: 321440000021782</div>
        <div class="row">Банк: АО «Тинькофф Банк»</div>
    </div>
</main>