<main class="contentContainer withoutCover agreementPage">
    {{> breadcrumbs}}
    <h1>Лицензионный договор-оферта</h1>
    <p>Настоящий Договор является публичным лицензионным договором-офертой (предложением) «ИП КОЛПАКОВ ИГОРЬ СЕРГЕЕВИЧ» (далее — Компания) с физическим лицом (далее — Пользователь), которое примет настоящее предложение на указанных ниже условиях.</p>
    <p>Текст настоящего Лицензионного договора-оферты (далее по тексту — Договор/Оферта) расположен по адресу: https://icegames.store/legal-info/license-agreement-offer</p>
    <ol>
        <li>
            <p>Понятия и определения</p>
            <ol>
                <li>
                    <p>Компания — «ИП КОЛПАКОВ ИГОРЬ СЕРГЕЕВИЧ», обладающее правами на распространение Лицензионных ключей среди Пользователей. Компания не обладает исключительным правом на результаты интеллектуальной деятельности и самостоятельно не предоставляет Пользователю никак лицензионных прав на распространяемые Компьютерные игры.</p>
                </li>
                <li>
                    <p>Пользователь — физическое лицо, имеющее Личный кабинет на Сайте, достигшее возраста 18 лет или 14 лет, получившее согласие своих законных представителей (родителей, опекунов, усыновителей) на принятие условий настоящей Оферты и/или на распоряжение личными денежными средствами в целях, установленных настоящей Офертой, совершившее акцепт настоящей Оферты.</p>
                </li>
                <li>
                    <p>Сайт ICEGAMES.STORE (далее — Сайт) — совокупность автоматизированных информационных данных, доступных в сети Интернет по сетевому адресу в домене: https://icegames.store/.</p>
                </li>
                <li>
                    <p>Регистрация — заполнение учетных данных (email, пароль) в регистрационной форме на Сайте. По результату регистрации автоматически создается личная учетная запись Пользователя (Личный кабинет) для осуществления доступа к услугам Сайта.</p>
                </li>
                <li>
                    <p>Личный кабинет — совокупность защищенных техническими средствами страниц Сайта, представляющих собой персональный раздел Пользователя на Сайте, к которому Пользователь получает доступ после прохождения регистрации и/или авторизации на Сайте. Личный кабинет предназначен для заключения, исполнения, прекращения гражданско-правовых сделок с Компанией, использования дополнительных функциональных возможностей Сайта, просмотра и управления доступными функциональными возможностями Сайта, получения скидок на сервис, направления в адрес Компании сообщений, уведомлений, а также осуществления иных действий, предусмотренных явными функциями Личного кабинета.</p>
                </li>
                <li>
                    <p>Компьютерная игра — программа для ЭВМ, служащая для организации игрового процесса и содержащая текстовую, цифровую, графическую, звуковую, музыкальную, видео, фото и иную информацию, включающую объекты авторского права и смежных прав. Описание Компьютерной игры, порядок и условия ее активации, а также системные требования, предъявляемые к ЭВМ, необходимые для ее Инсталляции и воспроизведения, содержатся на Сайте в разделе каждой конкретной выбранной Пользователем Компьютерной игры.</p>
                </li>
                <li>
                    <p>Инсталляция — установка Компьютерной игры (запись всех необходимых для ее функционирования файлов в соответствующих местах файловой системы ЭВМ), выполняемая особой программой (пакетным менеджером), присутствующей в операционной системе ЭВМ.</p>
                </li>
                <li>
                    <p>Дистрибутив — способ хранения и передачи Компьютерной игры, представляющий собой набор файлов и компонентов программной защиты для ее начальной установки.</p>
                </li>
                <li>
                    <p>Загрузка — запись Компьютерной игры в память ЭВМ Пользователя, осуществляемая в процессе передачи данных через компьютерную сеть Интернет.</p>
                </li>
                <li>
                    <p>Лицензионный ключ — уникальный набор символов, позволяющий правообладателю идентифицировать экземпляр Компьютерной игры и являющийся средством защиты Компьютерной игры от неправомерного использования.</p>
                </li>
                <li>
                    <p>Сервис активации — онлайн-сервис, расположенный в сети Интернет, на котором производится активация Лицензионного ключа с целью приобретения Компьютерной игры.</p>
                </li>
                <li>
                    <p>Предзаказ — изъявление намерения Пользователя, подтвержденное оплатой, приобрести Лицензионный ключ от Компьютерной игры до даты официального опубликования (выхода) Компьютерной игры ее правообладателем.</p>
                </li>
            </ol>
        </li>
        <li>
            <p>Предмет Договора</p>
            <ol>
                <li>
                    <p>С момента акцепта Пользователем настоящей Оферты Компания предоставляет Пользователю неисключительную лицензию на воспроизведение каждой Компьютерной игры, выбранной Пользователем при Заказе, путем предоставления Лицензионного ключа.</p>
                </li>
                <li>
                    <p>Пользователь уведомлен, что для активации Лицензионного ключа может требоваться Инсталляция дополнительного программного обеспечения, регистрация на Сайте правообладателя (лицензиара) и/или принятие условий лицензионного соглашения правообладателя с конечным пользователем.</p>
                </li>
                <li>
                    <p>Пользователь не вправе передавать право использования Лицензионного ключа. Исключение установлено в пп. 5.4.2. Оферты.</p>
                </li>
                <li>
                    <p>По настоящему Договору Компания предоставляет Пользователю право использования Лицензионного ключа в соответствии с его прямым назначением.</p>
                </li>
            </ol>
        </li>
        <li>
            <p>Порядок регистрации</p>
            <ol>
                <li>
                    <p>Регистрация на Сайте осуществляется Пользователем своими силами путем заполнения электронной формы, размещенной на Сайте.</p>
                </li>
                <li>
                    <p>Регистрируясь на Сайте, Пользователь подтверждает, что он ознакомлен с Политикой конфиденциальности ICE GAMES STORE, а также с условиями настоящего Договора.</p>
                </li>
                <li>
                    <p>По итогу регистрации на Сайте Пользователь получает доступ к Личному кабинету, содержащему сведения о Пользователе, а также о совершенных им заказах и предзаказах.</p>
                </li>
                <li>
                    <p>Для доступа к Личному кабинету Пользователь должен ввести идентификатор пользователя (логин) и пароль. Пользователь обязан хранить данные от своего Личного кабинета в тайне. Запрещается передавать эту информацию третьим лицам. Пароль доступа к Личному кабинету является аналогом собственноручной подписи Пользователя и служит для идентификации Пользователя при исполнении Договора.</p>
                </li>
            </ol>
        </li>
        <li>
            <p>Порядок предоставления Лицензионного ключа</p>
            <ol>
                <li>
                    <p>Приобретение Лицензионного ключа осуществляется Пользователем самостоятельно посредством акцепта Оферты. Акцепт настоящей Оферты представляет собой перечисления денежных средств на расчетный счет Компании.</p>
                </li>
                <li>
                    <p>После Акцепта Оферты Компания передает Пользователю Лицензионный ключ посредством его размещения в Личном кабинете Пользователя в разделе «Заказы» и направления на электронную почту Пользователя, на которую он зарегистрировал Личный кабинет на Сайте.</p>
                </li>
                <li>
                    <p>Предзаказ Лицензионного ключа осуществляется в соответствии п. 4.1. – 4.2. настоящего Договора.</p>
                </li>
                <ol>
                    <li>
                        <p>Срок передачи Лицензионного ключа — в течение 3 рабочих дней с даты официального опубликования (выхода) Компьютерной игры ее правообладателем.</p>
                    </li>
                </ol>
            </ol>
        </li>
        <li>
            <p>Возврат</p>
            <ol>
                <li>
                    <p>Пользователь вправе требовать возврата денежных средств за оплаченный Лицензионный ключ путем направления заявления на возврат в письменном виде на электронную почту Компании — icegames.store@mail.ru. Электронное письмо должно содержать тему «Возврат» или «Заявление на возврат».</p>
                </li>
                <li>
                    <p>Пользователь не вправе требовать возврата денежных средств за заказанный и/или предзаказанный Лицензионный ключ после получения при условии, что он надлежащего качества.</p>
                </li>
                <li>
                    <p>Под Лицензионным ключом надлежащего качества понимается Лицензионный ключ, который возможно использовать по назначению, то есть для активации Компьютерной игры, защищенной от неправомерного использования третьими лицами.</p>
                </li>
                <li>
                    <p>Возврат денежных средств за Лицензионный ключ осуществляется Компанией в срок не позднее 10 (десяти) календарных дней с момента получения заявления Пользователя на возврат денежных средств. Моментом возврата считается момент списания денежных средств с расчетного счета Компании. Срок зачисления денежных средств на банковский счет Пользователя зависит от условий перевода, устанавливаемых платежной системой.</p>
                </li>
            </ol>
        </li>
        <li>
            <p>Права и обязанности сторон</p>
            <ol>
                <li>
                    <p>Компания обязуется</p>
                    <ol>
                        <li>
                            <p>Предоставить Пользователю Лицензионный ключ в течение одного календарного дня с момента оплаты Пользователем Лицензионного ключа.</p>
                        </li>
                        <li>
                            <p>Предоставить Пользователю Лицензионный ключ, приобретенный по Предзаказу, в соответствии со сроком, указанным на Сайте. Срок предоставления Лицензионного ключа, приобретенного по Предзаказу, может быть отложен во времени до даты официального опубликования (выхода) Компьютерной игры ее правообладателем.</p>
                        </li>
                        <li>
                            <p>Соблюдать условия конфиденциальности.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>Компания имеет право</p>
                    <ol>
                        <li>
                            <p>Временно приостановить доступ к Личному кабинету Пользователя по техническим, технологическим или иным причинам, препятствующим предоставлению доступа к Личному кабинету Пользователя, на время устранения таких причин.</p>
                        </li>
                        <li>
                            <p>Приостановить действие настоящего Договора и(или) расторгнуть Договор в одностороннем внесудебном порядке путем уведомления Пользователя в случаях нарушения Пользователем обязательств и(или) гарантий, принятых в соответствии с Договором, наличия у Компании информации, поступившей от третьих лиц и(или) государственных органов Российской Федерации о приобритении Пользователем Лицензионных ключей для целей, связанных с предпринимательской деятельностью, а также в случае нарушения Пользователем принципов деловой этики общения, в частности использования ненормативной лексики при общении с сотрудниками (представителями) Компании, а также в иных случаях по своему усмотрению.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>Пользователь обязуется</p>
                    <ol>
                        <li>
                            <p>Самостоятельно изучить текст настоящей Оферты, размещенной по адресу: https://icegames.store/legal-info/license-agreement-offer</p>
                        </li>
                        <li>
                            <p>Оплачивать Лицензионное вознаграждение Компании в соответствии с условиями настоящего Договора.</p>
                        </li>
                        <li>
                            <p>Прежде, чем пробрести Лицензионный ключ, ознакомиться с описанием Компьютерной игры, для активации которой приобретается Лицензионный ключ, порядком его использования на Сервисе акцивации, а также системными требованиями, предъявляемыми к ЭВМ, необходимыми для Инсталляции и воспроизведения Компьютерной игры, содержащимся на Сайте в разделе каждой конкретной выбранной Пользователем Компьютерной игры.</p>
                        </li>
                        <li>
                            <p>Не передавать третьим лицам свой логин и пароль от Личного кабинета. Все действия, осуществленные на Сайте с использованием логина и пароля Пользователя, считаются осуществленными Пользователем. Компания не несет ответственности за несанкционированное использование регистрационных данных Пользователя третьими лицами.</p>
                        </li>
                        <li>
                            <p>Не лицензировать, сублицензировать, перепродавать, передавать, декомпилировать, дизассемблировать, отчуждать, распространять или использовать Сайт, а также Лицензионные ключи способами, не предусмотренными Офертой.</p>
                        </li>
                        <li>
                            <p>В случае неполучения Лицензионного ключа проинформировать об этом Компанию в срок не позднее 7 (семи) дней с момента оплаты Лицензионного вознаграждения. В случае, если в указанный срок Компания не получит от Пользователя уведомления о неполучении Лицензионного ключа, обязательства Компании по передаче Лицензионных ключей Пользователю считаются исполненными надлежащим образом и в полном объеме.</p>
                        </li>
                        <li>
                            <p>Ознакомиться с условиями активации Лицензионного ключа, указанными в Карточке Игры до момента оплаты Лицензионного вознаграждения, в том числе с условиями Лицензиара:</p>
                            <p>OOО «Эназа Игры», размещенными на сайте: https://gama-gama.ru</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>Пользователь имеет право</p>
                    <ol>
                        <li>
                            <p>Обращаться к Компании за получением дополнительной информацией о Компьютерной игре.</p>
                        </li>
                        <li>
                            <p>Подарить другому физическому лицу приобретенный и неактивированный Лицензионный ключ.</p>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            <p>Цена Договора и порядок расчетов</p>
            <ol>
                <li>
                    <p>Стоимость Лицензионного ключа определяется на Сайте. Компания вправе в одностороннем порядке изменять его стоимость путем размещения новых цен на Сайте.</p>
                </li>
                <li>
                    <p>Ценой Договора является лицензионное вознаграждение, которое оплачивается Пользователем на условиях предоплаты любым из способов, обозначенных на Сайте. Лицензионное вознаграждение не облагается НДС на основании пп. 26 п. 2 ст. 149 Налогового кодекса Российской Федерации.</p>
                </li>
                <li>
                    <p>Моментом оплаты Пользователем по Договору считается поступление денежных средств на расчетный счет Компании.</p>
                </li>
                <li>
                    <p>Все банковские либо иные комиссионные платежи, связанные с оплатой стоимости предоставления Лицензионных ключей Компьютерных игр, оплачиваются Пользователем.</p>
                </li>
            </ol>
        </li>
        <li>
            <p>Гарантии и ответственность Сторон</p>
            <ol>
                <li>
                    <p>Компания гарантирует, что она обладает всеми законными основаниями для выполнения своих обязательств в рамках настоящей Оферты.</p>
                </li>
                <li>
                    <p>Пользователь гарантирует, что ни при каких обстоятельствах он не будет осуществлять обратное проектирование, декомпиляцию и прочие преобразования Лицензионных ключей, модифицировать Лицензионные ключи.</p>
                </li>
                <li>
                    <p>Пользователь гарантирует, что он приобретает Лицензионные ключи для использования в личных целях.</p>
                </li>
                <li>
                    <p>Компания не несет ответственности за прямой и/или косвенный ущерб, причиненный Пользователю, а также не возмещает Пользователю убытки (включая упущенную выгоду), понесенные Пользователем в результате ненадлежащего качества каналов связи общего пользования, политики обмена трафиком между провайдерами, ненадлежащего функционирования сети Интернет или за качество линий связи, не имеющих отношения к собственным ресурсам Компании, и за их доступность для Пользователя.</p>
                </li>
                <li>
                    <p>Компания не несет ответственности, а также не возмещает Пользователю убытки, понесенные Пользователем, в результате:</p>
                    <ol>
                        <li>
                            <p>несанкционированного вмешательства Пользователя и/или третьих лиц по требованию Пользователя в исходный код или программные компоненты Компьютерной игры или Лицензионного ключа;</p>
                        </li>
                        <li>
                            <p>указания Пользователем недостоверных сведений при регистрации на Сайте;</p>
                        </li>
                        <li>
                            <p>блокировки Лицензионного ключа правообладателем и/или лицензиаром;</p>
                        </li>
                        <li>
                            <p>выявления недостатков в Компьютерных играх, выявленных после получения Пользователем Лицензионного ключа.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему Договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы, возникших после заключения Договора в результате событий чрезвычайного характера, которые стороны не могли предвидеть и предотвратить ра­зумными мерами. К обстоятельствам непреодолимой силы относятся события, на которые стороны не могут оказывать влияние и за возникновение которых не несут ответственности: землетрясение, наводнение, пожар, забастовки, насильственные или военные действия любого характера, решения органов государственной власти, препятствующие выполнению настоящего Договора.</p>
                </li>
                <li>
                    <p>По всем вопросам, не урегулированным настоящей Офертой, а также при разрешении споров, возникших в процессе его исполнения, Стороны руководствуются действующим законодательством РФ. Досудебный порядок урегулирования споров является обязательным для Сторон:</p>
                    <ol>
                        <li>
                            <p>Претензия направляется посредством электронной почты.</p>
                        </li>
                        <li>
                            <p>Сторона, получившая претензию, обязана направить мотивированный ответ на нее другой Стороне в срок не позднее 5 (пяти) дней с момента получения претензии.</p>
                        </li>
                        <li>
                            <p>В случае не достижения согласия спор передается на рассмотрение в судебные органы в соответствии с законодательством Российской Федерации.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>Пользователь гарантирует, что до акцепта настоящей Оферты он ознакомился с описанием программы, требованиям к системно-аппаратной платформе, условиями доставки и иной информацией, относящейся к Лицензионным ключам и предоставлению прав на них, размещенной на Сайте.</p>
                </li>
            </ol>
        </li>
        <li>
            <p>Заключительные положения</p>
            <ol>
                <li>
                    <p>Настоящий Договор является бессрочным.</p>
                </li>
                <li>
                    <p>Стороны признают, что уведомления и сообщения Пользователя в адрес Компании считаются направленными надлежащим образом только при составлении их в письменной форме с указанием всех данных, необходимых для идентификации Пользователя.</p>
                </li>
                <li>
                    <p>Каждая из Сторон обязуется действовать добросовестно, подписывать и вручать надлежащим образом документы и предпринимать иные действия, которые могут требоваться для исполнения Договора.</p>
                </li>
                <li>
                    <p>Настоящий Договор составлен в соответствии с действующим законодательством Российской Федерации.</p>
                </li>
            </ol>
        </li>
    </ol>
</main>