<form action="{{webSiteAddress}}/admin/parsing/start" method="post">
    {{#if parsing}}
        <input type="submit" value="Запустить парсинг">
    {{/if}}
    {{#if parsing}}
        <p style="color: red">Парсинг запущен</p>
    {{/if}}
    <a href="/admin/parsing/tasks">Задачи</a>
</form>