<!--
<form action="{{webSiteAddress}}/admin/parsing/start" method="post">
    <input type="submit"{{#if parsing}} disabled{{/if}} value="Запустить парсинг">
    {{#if parsing}}
        <p style="color: red">Парсинг запущен</p>
    {{/if}}
    <br>
    <br>
    <a href="/admin/parsing/tasks">Задачи</a>
</form>-->
<form action="{{webSiteAddress}}/admin/parsing/sync" method="post">
    <input type="submit"{{#if sunc}} disabled{{/if}} value="Запустить синхронизацию">
    {{#if sunc}}
        <p style="color: red">Синхронизация цен и наличия запущена</p>
    {{/if}}
    <br>
    <br>
</form>
