<form action="{{webSiteAddress}}/admin/parsing/sync" method="post">
    <input type="submit"{{#if sync}} disabled{{/if}} value="Запустить синхронизацию цен и наличия">
    {{#if sync}}
        <p style="color: red">Синхронизация цен и наличия запущена</p>
    {{/if}}
</form>
<br>
<form action="{{webSiteAddress}}/admin/suppliers/syncKupiKod" method="post">
    <input type="submit"{{#if syncKupiKod}} disabled{{/if}} value="Запустить синхронизацию с Купи-код">
    {{#if syncKupiKod}}
        <p style="color: red">Синхронизация с Купи-код запущена</p>
    {{/if}}
</form>
<br>
<form action="{{webSiteAddress}}/admin/parsing/syncRating" method="post">
    <input type="submit"{{#if syncRating}} disabled{{/if}} value="Запустить синхронизацию рейтина">
    {{#if syncRating}}
        <p style="color: red">Синхронизация рейтинга запущена</p>
    {{/if}}
</form>