<!--
<form action="{{webSiteAddress}}/admin/parsing/start" method="post">
    <input type="submit"{{#if parsing}} disabled{{/if}} value="Запустить парсинг">
    {{#if parsing}}
        <p style="color: red">Парсинг запущен</p>
    {{/if}}
    <br>
    <br>
    <a href="/admin/parsing/tasks">Задачи</a>
</form>-->
<form action="{{webSiteAddress}}/admin/parsing/sync" method="post">
    <input type="submit"{{#if sync}} disabled{{/if}} value="Запустить синхронизацию цен и наличия">
    {{#if sync}}
        <p style="color: red">Синхронизация цен и наличия запущена</p>
    {{/if}}
</form>
<br>
<form action="{{webSiteAddress}}/admin/parsing/syncRating" method="post">
    <input type="submit"{{#if syncRating}} disabled{{/if}} value="Запустить синхронизацию рейтина">
    {{#if syncRating}}
        <p style="color: red">Синхронизация рейтинга запущена</p>
    {{/if}}
</form>
