<main class="deliveryPage">
    <div class="breadcrumbs contentContainer">
        <div class="item">
            <a class="btn link" href="/">Главная</a>
        </div>
        <div class="current">Доставка и оплата</div>
    </div>
    <div class="cover blackout blackout-bottomMax">
        <img class="img" src="{{websiteAddress}}img/deliveryPageCover.png" alt="Постер для страницы доставка и оплата" title="Постер для страницы доставка и оплата">
        <div class="textContent">
            <img class="coverIcon" src="{{websiteAddress}}img/deliveryPageCoverIcon.png" alt="Грузовик" title="Грузовик доставки">
            <h1 class="title">Доставка и оплата</h1>
        </div>
    </div>
    <div class="contentContainer">
        <div class="deliveryBlock">
            <div class="title">Доставка</div>
            <div class="description">
                – Все представленные предложения на сайте собраны из системы “Digiseller.ru” и операции проходят через
                “Oplata.info” Доставка осуществляется мгновенно после оплаты на указанную почту.<br>
                – Так же оплаченный вами товар, показывается в браузере сразу же, после оплаты.
            </div>
        </div>
        <div class="paymentMethods">
            <div class="title">Способы оплаты</div>
            <div class="list">
                <div class="item collapse js-collapse">
                    <button class="btn head">
                        <span class="title">Банковские карты</span>
                        <span class="control"></span>
                    </button>
                    <div class="content">
                        К оплате принимаются карты Visa, Mastercard, Maestro, Мир, JCB, American Express
                    </div>
                </div>
                <div class="item collapse js-collapse">
                    <button class="btn head">
                        <span class="title">Apple Pay и Google Pay</span>
                        <span class="control"></span>
                    </button>
                    <div class="content">
                        Оплата со смартфона, к которому привязана карта. На странице оплаты выберите Apple Pay или
                        Google Pay и следуйте дальнейшим инструкциям.
                    </div>
                </div>
                <div class="item collapse js-collapse">
                    <button class="btn head">
                        <span class="title">ЮMoney</span>
                        <span class="control"></span>
                    </button>
                    <div class="content">
                        Оплата через электронный кошелек ЮMoney. Выберите способ оплаты ЮMoney, при необходимости
                        войдите в кошелёк. Выберите, откуда списать деньги: из кошелька или с привязанной карты. Для
                        оплаты картой введите CVC. Подтвердите оплату.
                    </div>
                </div>
                <div class="item collapse js-collapse">
                    <button class="btn head">
                        <span class="title">WebMoney</span>
                        <span class="control"></span>
                    </button>
                    <div class="content">
                        Оплата через электронные кошельки системы WebMoney. Регистрация в платежной системе быстрая и
                        бесплатная. Выберите систему оплаты WebMoney. После авторизации проверьте сумму и назначение
                        платежа. Подтвердите платёж.
                    </div>
                </div>
                <div class="item collapse js-collapse">
                    <button class="btn head">
                        <span class="title">QIWI Кошелёк</span>
                        <span class="control"></span>
                    </button>
                    <div class="content">
                        Оплата через электронные кошельки QIWI через терминалы и в приложении. Для оплаты заказа
                        необходим номер кошелька QIWI. Если у вас нет кошелька, он будет создан автоматически, когда вы
                        перейдете к оплате. Списание денег произойдет после подтверждения оплаты.
                    </div>
                </div>
                <div class="item collapse js-collapse">
                    <button class="btn head">
                        <span class="title">Оплата в терминалах и кассах</span>
                        <span class="control"></span>
                    </button>
                    <div class="content">
                        На странице оплаты выберите «Терминалы (наличные)» Оплата в терминалах, банкоматах, салонах
                        связи осуществляется по коду платежа. Найдите терминал (кассу или банкомат), в котором есть
                        услуга пополнения через сервис WebMoney, получите квитанцию о переводе средств и укажите её
                        реквизиты при покупке игры.
                    </div>
                </div>
                <div class="item collapse js-collapse">
                    <button class="btn head">
                        <span class="title">Интернет-банки</span>
                        <span class="control"></span>
                    </button>
                    <div class="content">
                        Банки: СберБанк Онлайн, Альфа-Клик, интернет-банк Тинькофф На странице оплаты выберите ваш
                        интернет-банк и следуйте инструкциям.
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>