<main class="contentContainer withoutCover agreementPage">
    {{> breadcrumbs}}
    <h1>Политика конфиденциальности</h1>
    <p>
        Настоящая политика конфиденциальности (далее – «Политика») разработана в соответствии с Федеральным законом от
        27.07.2006 № 152-ФЗ «О персональных данных» и включает в себя Соглашение об обработке персональных данных и
        Согласие на использование файлов cookies, а также устанавливает правила использования ИНДИВИДУАЛЬНЫЙ
        ПРЕДПРИНИМАТЕЛЬ КОЛПАКОВ ИГОРЬ СЕРГЕЕВИЧ ОГРН: 321440000021782, ИНН 440118086746, Юридический адрес организации:
        Российская Федерация, 156009, КОСТРОМСКАЯ ОБЛ, Г КОСТРОМА, МКР ЮБИЛЕЙНЫЙ, дом 3, кв. 38 (далее –
        «Администратор») персональной информации, получаемой от пользователей сайта https://icegames.store/ (далее –
        «Сайт»).
    </p>
    <ol>
        <li>
            <p>
                <b>Термины и определения:</b>
            </p>
            <ol>
                <li>
                    <p>В настоящей Политике применяются следующие термины и определения:</p>
                    <p>
                        <b>Персональные данные</b> — любая информация, относящаяся к прямо или косвенно
                        определенному или определяемому физическому лицу (субъекту персональных данных), которую
                        Пользователь предоставляет о себе самостоятельно в процессе использования Сайта.
                    </p>
                    <p>
                        <b>Обработка персональных данных</b> — любое действие (операция) или совокупность действий
                        (операций), совершаемых с использованием средств автоматизации или без использования таких
                        средств с персональными данными.
                    </p>
                    <p>
                        <b>Пользователь</b> — физическое лицо, обладающее правом и дееспособностью для заключения
                        настоящего Соглашения, которому предоставляется доступ к Сайту.
                    </p>
                    <p>
                        <b>Файлы Cookies</b> — небольшой фрагмент данных, отправленный веб-сервером и хранимый на
                        компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-
                        серверу в НТТР-запросе при попытке открыть страницу соответствующего сайта.
                    </p>
                    <p>
                        <b>IР-адрес</b> — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
                    </p>
                </li>
                <li>
                    <p>
                        В настоящей Политике могут быть использованы иные термины и определения, не указанные
                        в п. 1.1. Политики. В этом случае толкование такого термина производится в соответствии с
                        текстом Политики. В случае отсутствия однозначного толкования термина или определения в
                        тексте Политики и иных документов, образующих договор на условиях Политики, следует
                        руководствоваться его толкованием, определённым, в первую очередь, — законодательством
                        Российской Федерации, и в последующем — сложившимся в сети Интернет обычным
                        толкованием такого термина.
                    </p>
                </li>
            </ol>
        </li>
        <li>
            <p>
                <b>Общие положения</b>
            </p>
            <ol>
                <li>
                    <p>
                        Настоящая Политика конфиденциальности применяется только к информации, получаемой в
                        ходе использования сайта с доменным именем https://icegames.store/.
                    </p>
                </li>
                <li>
                    <p>
                        Заполняя и отправляя любые формы, расположенные на страницах Сайта, не убирая галочку в
                        графе «я даю согласие на обработку моих персональных данных», а также давая своё согласие на
                        обработку технической информации (cookies), автоматически собираемой программным
                        обеспечением, Пользователь выражает своё согласие с настоящей Политикой
                        конфиденциальности и указанными в ней условиями обработки и передачи его Персональных
                        данных, а также подтверждает, что положения Политики конфиденциальности ему ясны и
                        понятны. Согласие Пользователя на предоставление, обработку и передачу его Персональных данных
                        Администратор в соответствии с настоящей Политикой конфиденциальности является полным и
                        безусловным.
                    </p>
                </li>
                <li>
                    <p>
                        Согласие, даваемое Пользователем, включает в себя согласие на сбор, систематизацию,
                        накопление, хранение, уточнение (обновление, изменение), использование, блокирование,
                        обезличивание, уничтожение, передачу Персональных данных внутри Сайта.
                    </p>
                </li>
                <li>
                    <p>
                        Администратор не контролирует и не несет ответственность за сайты третьих лиц, на которые
                        Пользователь может перейти по ссылкам, доступным на Сайте Администратора. На сайтах третьих
                        лиц может быть собственная политика конфиденциальности и у Пользователя могут собираться
                        или запрашиваться иные персональные данные.
                    </p>
                </li>
            </ol>
        </li>
        <li>
            <p>
                <b>Предмет Политики</b>
            </p>
            <ol>
                <li>
                    <p>
                        Настоящая Политика устанавливает обязанности Администратора по обработке Персональных
                        данных Пользователей, их охране, в том числе обеспечению режима защиты
                        конфиденциальности Персональных данных, которые Пользователь предоставляет
                        Администратору при регистрации на сайте;
                    </p>
                </li>
                <li>
                    <p>
                        Администратор собирает два вида информации о Пользователе:
                    </p>
                    <ol>
                        <li>
                            <p>
                                информацию, которую Пользователь сознательно предоставил Администратору в процессе
                                использования Сайта (в том числе, но не ограничиваясь: при регистрация на Сайте, при
                                приобретении услуг на Сайте);
                            </p>
                        </li>
                        <li>
                            <p>
                                техническую информацию, автоматически собираемую программным обеспечением Сайта
                                во время его посещения Пользователем.
                            </p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>
                        Персональные данные предоставляются Пользователем при использовании Сайта:
                    </p>
                    <ul>
                        <li>
                            <p>пол;</p>
                        </li>
                        <li>
                            <p>дата рождения;</p>
                        </li>
                        <li>
                            <p>страна проживания;</p>
                        </li>
                        <li>
                            <p>адрес электронной почты.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>
                        Техническая информация, автоматически собираемая программным обеспечением Сайта во
                        время его посещения Пользователем, включает:
                    </p>
                    <ul>
                        <li>
                            <p>IP-адрес;</p>
                        </li>
                        <li>
                            <p>информацию из cookies;</p>
                        </li>
                        <li>
                            <p>информацию о браузере;</p>
                        </li>
                        <li>
                            <p>информация о типе устройства (мобильное или ПК);</p>
                        </li>
                        <li>
                            <p>время доступа.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>
                        Администратор гарантирует, что никогда не предоставляет Персональные данные третьим
                        лицам, за исключением случаев, когда:
                    </p>
                    <ol>
                        <li>
                            <p>
                                этого прямо требует законодательство (например, по письменному запросу суда,
                                правоохранительных органов);
                            </p>
                        </li>
                        <li>
                            <p>Пользователь дал письменное согласие на передачу своих Персональных данных.</p>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            <p>
                <b>Цели использования информации, предоставляемой Пользователем</b>
            </p>
            <ol>
                <li>
                    <p>
                        Информация, предоставленная Пользователем, используется Администратором
                        исключительно в целях:
                    </p>
                    <ol>
                        <li>
                            <p>
                                исполнения Администратором обязательств перед Пользователем по соглашениям между
                                Администратором и Пользователем об использовании сайта Администратора;
                            </p>
                        </li>
                        <li>
                            <p>установления и поддержания связи с Пользователем;</p>
                        </li>
                        <li>
                            <p>
                                направления на адрес электронной почты Пользователя сообщений информационного и
                                иного характера;
                            </p>
                        </li>
                        <li>
                            <p>улучшения качества обслуживания и модернизации сайта Администратора;</p>
                        </li>
                        <li>
                            <p>
                                осуществления правосудия, в случае поступления в адрес Администратора
                                соответствующего запроса уполномоченных органов;
                            </p>
                        </li>
                        <li>
                            <p>исполнения требований российского законодательства.</p>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            <p>
                <b>Меры, принимаемые для защиты предоставляемой Пользователем информации, и гарантии Администратора</b>
            </p>
            <ol>
                <li>
                    <p>
                        Администратор принимает необходимые и достаточные правовые, организационные и
                        технические меры для защиты информации, предоставляемой Пользователями, от
                        неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования,
                        распространения, а также от иных неправомерных действий с ней третьих лиц.
                    </p>
                </li>
                <li>
                    <p>
                        Администратор гарантирует, что предоставленная Пользователями информация не
                        предоставляется третьим лицам и не разглашается, за исключением случаев, предусмотренных в
                        Политике.
                    </p>
                </li>
                <li>
                    <p>
                        Администратор не продаёт и не передаёт информацию о Пользователях отдельно. Такая
                        информация может передаваться только при частичной или полной реорганизации
                        Администратора.
                    </p>
                </li>
                <li>
                    <p>
                        Администратор предпринимает технические и организационные меры по предоставлению
                        Пользователю возможности получать доступ к предоставленной им информации, редактировать
                        такую информацию, определять настройки доступа третьих лиц к такой информации.
                    </p>
                </li>
            </ol>
        </li>
        <li>
            <p>
                <b>Права Администратора</b>
            </p>
            <ol>
                <li>
                    <p>
                        Администратор вправе проводить статистические и иные исследования на основе
                        обезличенной информации, предоставленной Пользователем. Администратор вправе
                        предоставлять доступ к таким исследованиям третьим лицам для осуществления таргетинга
                        рекламы. Пользователь дает свое согласие на такие исследования и на получение
                        таргетированной рекламы путем принятия Политики. Пользователь может отказаться от такого
                        согласия в любой момент, обратившись к Администратору по адресу, указанному на
                        соответствующей странице сайта Администратора. Пользователь также может самостоятельно
                        при наличии технической возможности на устройстве Пользователя или в программных средствах
                        на устройстве Пользователя, запретить устройству или программным средствам передавать
                        информацию через сайт Администратора, необходимую для осуществления таргетинга рекламы.
                    </p>
                </li>
                <li>
                    <p>
                        Администратор вправе предоставить информацию о Пользователях правоохранительным
                        органам либо иным государственным органам в рамках судебного процесса или в рамках
                        проведения расследования на основании судебного решения, принудительно исполняемого
                        запроса или в порядке сотрудничества, а также в иных случаях, предусмотренных российским
                        законодательством.
                    </p>
                </li>
                <li>
                    <p>
                        Администратор вправе предоставить информацию о Пользователях третьим лицам для
                        выявления и пресечения мошеннических действий, для устранения технических неполадок или
                        проблем с безопасностью.
                    </p>
                </li>
                <li>
                    <p>
                        Администратор вправе предоставлять доступ к информации о Пользователе третьим лицам,
                        включая других пользователей сайта Администратора, в случае если Пользователь дал на это свое
                        согласие, а также если такая передача необходима для исполнения Администратором
                        обязательств перед Пользователем по заключенным с Пользователем соглашениям.
                    </p>
                </li>
            </ol>
        </li>
        <li>
            <p>
                <b>Права Пользователя</b>
            </p>
            <ol>
                <li>
                    <p>
                        Пользователь может в любое время удалить или изменить информацию, предоставляемую
                        Пользователем, путем совершения необходимых для этого действий на сайте Администратора, а
                        при отсутствии такой возможности – обратившись к Администратору по адресу электронной
                        почты icegames.store@mail.ru. При этом Пользователь понимает, что Администратор вправе
                        продолжить использование такой информации в допустимых российским законодательством
                        случаях. Согласие на получение информационных рассылок и рекламных материалов может быть
                        отозвано Пользователем в любое время путем направления Администратору соответствующего
                        уведомления тем же способом.
                    </p>
                </li>
            </ol>
        </li>
        <li>
            <p>
                <b>Новые редакции</b>
            </p>
            <ol>
                <li>
                    <p>
                        Администратор оставляет за собой право вносить изменения в Политику. На Пользователе
                        лежит обязанность при каждом обращении к сайту Администратора знакомиться с текстом
                        Политики.
                    </p>
                </li>
                <li>
                    <p>
                        Новая редакция Политики вступает в силу с момента ее размещения на сайте
                        Администратора. Продолжение пользования сайтом Администратора после публикации новой
                        редакции Политики означает принятие Политики и ее условий Пользователем.
                    </p>
                </li>
                <li>
                    <p>
                        В случае несогласия с условиями Политики Пользователь не должен пользоваться сайтом
                        Администратора.
                    </p>
                </li>
            </ol>
        </li>
        <li>
            <p>
                <b>Исключение противоречий</b>
            </p>
            <ol>
                <li>
                    <p>
                        В случае, когда соглашения между Администратором и Пользователем содержат положения
                        об использовании персональной информации и/или персональных данных Пользователя,
                        применяются положения Политики и таких соглашений в части, не противоречащей Политике.
                    </p>
                </li>
            </ol>
        </li>
    </ol>
</main>