<main class="contentContainer withoutCover profilePage">
    <div class="breadcrumbs contentContainer mobileInvisibleScroll">
        <div class="item">
            <a class="btn link" href="{{websiteAddress}}">Главная</a>
        </div>
        <div class="item">
            <a class="btn link" href="{{websiteAddress}}profile">Профиль</a>
        </div>
        <div class="current">Мои игры</div>
    </div>
    <div class="profile">
        {{> profileMenu}}
        <div class="content savedGames">
            <div class="subtitle">Мои игры</div>
            <div class="description">Тут Вы можете увидеть игры, которые уже приобрели</div>
            <div class="noItems">Вы не приобрели еще ни одной игры</div>
            <!--<div class="list">
                {{> game}}
            </div>-->
        </div>
    </div>
</main>