<main class="contentContainer withoutCover profilePage">
    <div class="breadcrumbs contentContainer">
        <div class="item">
            <a class="btn link" href="#">Главная</a>
        </div>
        <div class="current">Профиль</div>
    </div>
    <div class="profile">
        {{> profileMenu}}
        <div class="content">
            <div class="progressBar start">
                <div class="progressWrapper">
                    <div class="progressScale" style="width: 30%"></div>
                </div>
                <div class="value">20 \ 55</div>
            </div>
            <div class="achievementsList">
                <div class="title">Мои достижения</div>
                <div style="color: #fff; text-align: center; margin-top: 30px">Вы еще не получили ни одного достижения</div>
                <!--<div class="list">
                    <div class="achievement"></div>
                    <div class="achievement"></div>
                    <div class="achievement"></div>
                    <div class="achievement"></div>
                </div>-->
            </div>
        </div>
    </div>
</main>