<main class="contentContainer withoutCover profilePage">
    {{> breadcrumbs}}
    <div class="profile">
        {{> profileMenu}}
        <form class="content personalDataForm js-profileEditForm" method="post" action="/profile/edit">
            <div class="personalData">
                <div class="subtitle">Личные данные</div>
                {{#unless user.yaId}}
                    <div class="bindYaId">
                        <div class="subtitle">Связать с аккаунтом Яндекс:</div>
                        <a href="https://oauth.yandex.ru/authorize?response_type=token&client_id=016a39e179904eadaa9186999b0a01f2" class="yaIdAuthLink" title="Перейти на Яндекс для авторизации">
                            <img src="{{websiteAddress}}img/yaIdBtnContent.svg" loading="lazy" class="yaIdAuthLinkIcon" alt="Иконка авторизации через Яндекс ID">
                        </a>
                    </div>
                {{/unless}}
                <label class="input-frame">
                    <span class="label">Ник</span>
                    <input class="textField" type="text" name="login" placeholder="Укажите желаемый ник" value="{{user.login}}">
                </label>
                <label class="input-frame">
                    <span class="label">Почта</span>
                    <input class="textField" type="email" name="email" placeholder="Укажите Вашу почту" value="{{user.email}}">
                </label>
            </div>
            <div class="password">
                <div class="subtitle">Смена пароля</div>
                <label class="input-frame">
                    <input class="textField" type="password" name="password" placeholder="Текущий пароль">
                </label>
                <label class="input-frame">
                    <input class="textField" type="password" name="newPassword" placeholder="Новый пароль">
                </label>
            </div>
            <button class="btn small round border hover-color-pink hover-border-pink" type="submit">Сохранить</button>
            <div class="responseMessage js-resultEditProfile"></div>
        </form>
    </div>
</main>
