<main class="contentContainer withoutCover profilePage">
    <div class="breadcrumbs contentContainer">
        <div class="item">
            <a class="btn link" href="#">Главная</a>
        </div>
        <div class="current">Профиль</div>
    </div>
    <div class="profile">
        {{> profileMenu}}
        <div class="content savedGames">
            <div class="subtitle">Избранное</div>
            <div class="description">Здесь отображаются игры, которые Вам понравились</div>
            {{#if user.favoritesProducts.length}}
                <div class="list">
                    {{#each user.favoritesProducts}}
                        {{> game
                            id=_id
                            size='small'
                            alias=alias
                            img=img
                            name=name
                            priceTo=priceTo
                            priceFrom=priceFrom
                            inFavorites=true
                            dlc=dlc
                            dsId=dsId
                        }}
                    {{/each}}
                </div>
            {{else}}
                <div style="text-align: center; color: #fff; margin-top: 30px;">Вы не отметили еще ни одной игры</div>
            {{/if}}
            <!--<div class="list">
                <a href="#" class="cardGame small" title="Перейти к странице игры">
                    <div class="actions">
                        <button class="btn like" title="Добавить игру в избранное">
                            <span class="icon-static icon-static-actionLike"></span>
                        </button>
                        <button
                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                title="Добавить данный товар в корзину покупок"
                        >
                            В корзину
                        </button>
                    </div>
                    <div class="head">
                        <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="cardGame small" title="Перейти к странице игры">
                    <div class="actions">
                        <button class="btn like" title="Добавить игру в избранное">
                            <span class="icon-static icon-static-actionLike"></span>
                        </button>
                        <button
                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                title="Добавить данный товар в корзину покупок"
                        >
                            В корзину
                        </button>
                    </div>
                    <div class="head">
                        <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="cardGame small" title="Перейти к странице игры">
                    <div class="actions">
                        <button class="btn like" title="Добавить игру в избранное">
                            <span class="icon-static icon-static-actionLike"></span>
                        </button>
                        <button
                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                title="Добавить данный товар в корзину покупок"
                        >
                            В корзину
                        </button>
                    </div>
                    <div class="head">
                        <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="cardGame small" title="Перейти к странице игры">
                    <div class="actions">
                        <button class="btn like" title="Добавить игру в избранное">
                            <span class="icon-static icon-static-actionLike"></span>
                        </button>
                        <button
                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                title="Добавить данный товар в корзину покупок"
                        >
                            В корзину
                        </button>
                    </div>
                    <div class="head">
                        <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="cardGame small" title="Перейти к странице игры">
                    <div class="actions">
                        <button class="btn like" title="Добавить игру в избранное">
                            <span class="icon-static icon-static-actionLike"></span>
                        </button>
                        <button
                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                title="Добавить данный товар в корзину покупок"
                        >
                            В корзину
                        </button>
                    </div>
                    <div class="head">
                        <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="cardGame small" title="Перейти к странице игры">
                    <div class="actions">
                        <button class="btn like" title="Добавить игру в избранное">
                            <span class="icon-static icon-static-actionLike"></span>
                        </button>
                        <button
                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                title="Добавить данный товар в корзину покупок"
                        >
                            В корзину
                        </button>
                    </div>
                    <div class="head">
                        <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                        <div class="name">Doom ETERNAL</div>
                    </div>
                    <div class="price">
                        <div class="toPrice">
                            <span class="value">999</span>
                        </div>
                        <div class="fromPrice">
                            <span class="value">1300</span>
                        </div>
                    </div>
                </a>
            </div>-->
        </div>
    </div>
</main>