<main class="contentContainer withoutCover profilePage">
    {{> breadcrumbs}}
    <div class="profile">
        {{> profileMenu}}
        <div class="content savedGames">
            <div class="subtitle">Избранное</div>
            <div class="description">Здесь отображаются игры, которые Вам понравились</div>
            {{#if user.favoritesProducts.length}}
                <div class="list">
                    {{#each user.favoritesProducts}}
                        {{> game
                            id=_id
                            size='small'
                            alias=alias
                            img=img
                            name=name
                            priceTo=priceTo
                            priceFrom=priceFrom
                            inFavorites=true
                            dlc=dlc
                            dsId=dsId
                            inStock=inStock
                        }}
                    {{/each}}
                </div>
            {{else}}
                <div class="noItems">Вы не отметили еще ни одной игры</div>
            {{/if}}
        </div>
    </div>
</main>