<main class="contentContainer withoutCover agreementPage">
    {{> breadcrumbs}}
    <h1>Публичная оферта ИП Колпаков Игорь Сергеевич о покупке товаров с использованием сервиса Яндекс Сплит</h1>
    <ol>
        <li>
            <p>
                <b>Общие положения и основные термины</b>
            </p>
            <ol>
                <li>
                    <p>Продавец - ИП Колпаков Игорь Сергеевич (ИНН 440118086746).</p>
                </li>
                <li>
                    <p>Покупатель - любое физическое лицо, которое оформило заказ на приобретение товара у Продавца в установленном разделе 3 оферты порядке.</p>
                </li>
                <li>
                    <p>Оферта – настоящее публичное предложение Продавца, регулирующее условия заключения договора купли-продажи товара или заказа услуги с помощью сервиса Яндекс Сплит, опубликованная на сайте: https://icegames.store/legal-info/public-offer-for-use-ya-split, «Сервис Яндекс Сплит».</p>
                </li>
                <li>
                    <p>Сервис Яндекс Сплит – сервис ООО «Яндекс Пэй» (ОГРН 1187746900428), интегрированный в сервис Продавца, с помощью которого возможно заключить Договор поручения, а также возможно использовать иной доступный функционал, связанный с Договором поручения.</p>
                </li>
                <li>
                    <p>Договор поручения – договор поручения, заключаемый между ООО «Яндекс.Сплит» и Покупателем на условиях, опубликованных на сайте https://yandex.ru/legal/yandex_split/.</p>
                </li>
                <li>
                    <p>Заказ – предложение Покупателя продать ему определенный товар или оказать услугу, Продавца или третьих лиц.</p>
                </li>
                <li>
                    <p>Третьи лица – юридические лица, от имени по поручению которых действует Продавец при заказе Покупателем услуги или товара.</p>
                </li>
                <li>
                    <p>Продавец вправе изменить или отозвать оферту в одностороннем порядке. Все изменения вступают в силу и считаются доведенными до сведения покупателя в момент размещения на сайте: https://icegames.store/legal-info/public-offer-for-use-ya-split, «Сервис Яндекс Сплит». Заказы, которые уже оформлены к моменту изменения или отзыва оферты, исполняются на условиях оферты, которая действовала на момент их оформления.</p>
                </li>
            </ol>
        </li>
        <li>
            <p>
                <b>Предмет договора</b>
            </p>
            <ol>
                <li>
                    <p>Продавец обязуется передать в собственность покупателю, а Покупатель обязуется оплатить и принять товар или услугу после их оплаты в соответствии с Договором поручения.</p>
                </li>
            </ol>
        </li>
        <li>
            <p>
                <b>Порядок заключения договора</b>
            </p>
            <ol>
                <li>
                    <p>Согласно п.3 ст.438 ГК РФ безусловным Акцептом (принятием) условий настоящей Оферты считаются действия заинтересованного лица при оформлении Заказа на Сервисе Яндекс Сплит.</p>
                </li>
                <li>
                    <p>Подтверждением заключения договора на настоящих условиях в надлежащей форме является предоставление Продавцом Покупателю кассового или товарного чека, подтверждающего оплату Заказа.</p>
                </li>
                <li>
                    <p>Для оформления Заказа с целью последующего заключения договора розничной купли-продажи Покупатель осуществляют следующие действия:</p>
                    <ul>
                        <li>
                            <p>информирует Продавца о абонентском номере, для предоставления ссылки на Яндекс Сплит, поручает ИП Колпаков Игорь Сергеевич передать в адрес ООО «Яндекс.Сплит» номер телефона, принадлежащий Покупателю;</p>
                        </li>
                        <li>
                            <p>регистрируется на Сервисе Яндекс Сплит</p>
                        </li>
                        <li>
                            <p>совершает иные действия, предусмотренные интерфейсами Сервиса Яндекс Сплит и Условиями использования Сервиса Яндекс Сплит https://yandex.ru/legal/yandex_split/.</p>
                        </li>
                    </ul>
                </li>
            </ol>
        </li>
        <li>
            <p>
                <b>Оплата по договору</b>
            </p>
            <ol>
                <li>
                    <p>ООО «Яндекс Пэй» по поручению Покупателя оплачивает Заказ в порядке, предусмотренном Условиями использования Сервиса Яндекс Сплит https://yandex.ru/legal/yandex_split/</p>
                </li>
                <li>
                    <p>Обязанность по оплате Заказа считается исполненной с момента получения Продавцом уведомления об оплате от ООО «Яндекс.Сплит» в порядке, предусмотренном договором между ними.</p>
                </li>
            </ol>
        </li>
        <li>
            <p>
                <b>Возврат</b>
            </p>
            <ol>
                <li>
                    <p>Пользователь вправе требовать возврата денежных средств за оплаченный Электронный ключ, путем направления заявления на возврат в письменном виде на электронную почту Компании –  icegames.store@mail.ru. Электронное письмо должно содержать тему «Возврат» или «Заявление на возврат»</p>
                </li>
                <li>
                    <p>Пользователь не вправе требовать возврата денежных средств за заказанный и/или предзаказанный полученный Электронный ключ надлежащего качества.</p>
                </li>
                <li>
                    <p>Под Электронным ключом надлежащего качества понимается Электронный ключ, который возможно использовать по назначению, то есть для активации Компьютерной игры, защищенной от неправомерного использования третьими лицами.</p>
                </li>
                <li>
                    <p>В соответствии с условиями заключаемых с Покупателем Договоров поручения, Яндекс Сплит переходят все требования по возврату стоимости Заказа (как частичном, так и полном), в случае их возникновения в результате изменения или расторжения договоров, заключённых в рамках Заказа.</p>
                </li>
            </ol>
        </li>
        <li>
            <p>
                <b>Прочие положения</b>
            </p>
            <ol>
                <li>
                    <p>Принимая настоящую оферту, в целях заключения договора с ООО «Яндекс Пэй» (ОГРН 1187746900428) место нахождения: 115035, г. Москва, улица Садовническая, дом 82, строение 2, помещение 5В26 для взаимодействия Покупателем и для оплаты Товара посредством сервиса Яндекс Сплит, Покупатель поручает ООО «Регнум» (ОГРН 1177847295780, юридический адрес 190000, г. Санкт-Петербург, ул. Малая Морская, д. 18, оф. 110) передать его номер телефона в адрес ООО «Яндекс Сплит». Настоящее согласие действует на срок действия Договора</p>
                </li>
                <li>
                    <p>Продавец оставляет за собой право изменять условия настоящей Оферты и всех её неотъемлемых частей без согласования с Покупателями с уведомлением последнего посредством размещения на сайте: https://icegames.store/legal-info/public-offer-for-use-ya-split, «Сервис Яндекс Сплит» новой редакции Оферты и/или какой-либо её неотъемлемой части, подвергшейся изменениям. При этом Покупатель обязуется самостоятельно знакомиться с новым содержанием Оферты и ее неотъемлемых частей, размещенных на сайте: https://icegames.store/legal-info/public-offer-for-use-ya-split, «Сервис Яндекс Сплит». Новая редакция Оферты и/или какой-либо его неотъемлемой части вступает в силу с момента опубликования на сайте: https://icegames.store/legal-info/public-offer-for-use-ya-split, «Сервис Яндекс Сплит».</p>
                </li>
                <li>
                    <p>Адрес и реквизиты Продавца: ИП Колпаков Игорь Сергеевич (ИНН 440118086746), ОГРНИП 321440000021782, Дата регистрации: 30 сентября 2021 г., Юридический адрес организации: Российская Федерация, 156009, КОСТРОМСКАЯ ОБЛ, Г. КОСТРОМА, МКР ЮБИЛЕЙНЫЙ, дом 3, кв. 38, Расчетный счет: 40802810900002630322, Банк: АО «Тинькофф Банк»</p>
                </li>
            </ol>
        </li>
    </ol>
</main>