<main class="contentContainer withoutCover categoriesCatalogPage">
    <div class="breadcrumbs contentContainer">
        <div class="item">
            <a class="btn link" href="/">Главная</a>
        </div>
        <div class="current">{{selectionName}}</div>
    </div>
    <h1 class="title">{{selectionName}}</h1>
    <div class="list">
        {{#each products}}
            {{> game
                id=_id
            }}
        {{/each}}
    </div>
    <a class="inCatalog btn rounded bg-pink increase big" href="/games">В каталог</a>
</main>