<main class="supportPage article">
    <div class="breadcrumbs contentContainer">
        <div class="item">
            <a class="btn link" href="{{websiteAddress}}">Главная</a>
        </div>
        <div class="current">Поддержка</div>
    </div>
    <div class="cover blackout blackout-bottomMax slide active js-slide">
        <img class="img" src="{{websiteAddress}}img/supportCover.png" alt="Постер для страницы поддержки" title="Постер для страницы игры">
        <div class="textContent">
            <h1 class="title">Поддержка</h1>
        </div>
        <button class="btn translucent js-scroller" data-target="faqContent">
            <span class="icon icon-arrowBottom"></span>
        </button>
    </div>
    <div class="contentContainer js-faqContent">
        <div class="titlePage">Часто задаваемые вопросы</div>
        <div class="faq">
            <div class="item collapse js-collapse">
                <button class="btn head">
                    <span class="title">1. А что такое игры?</span>
                    <span class="control"></span>
                </button>
                <div class="content">
                    Всвязи с многочисленными просьбами пользователей, из майнкрафта сделали татарстан, также добавили
                    приору и многую другу атрибутику... Приготовься к Хэллоуину и выбери себе что-нибудь из официальной
                    хэллоуинской коллекции Minecraft, включая новые костюмы и персонализированные сумки для сластей!
                </div>
            </div>
            <div class="item collapse js-collapse">
                <button class="btn head">
                    <span class="title">2. А что такое матерый?</span>
                    <span class="control"></span>
                </button>
                <div class="content">
                    Всвязи с многочисленными просьбами пользователей, из майнкрафта сделали татарстан, также добавили
                    приору и многую другу атрибутику... Приготовься к Хэллоуину и выбери себе что-нибудь из официальной
                    хэллоуинской коллекции Minecraft, включая новые костюмы и персонализированные сумки для сластей!
                </div>
            </div>
            <div class="item collapse js-collapse">
                <button class="btn head">
                    <span class="title">3. А что такое сдаваться?</span>
                    <span class="control"></span>
                </button>
                <div class="content">
                    Всвязи с многочисленными просьбами пользователей, из майнкрафта сделали татарстан, также добавили
                    приору и многую другу атрибутику... Приготовься к Хэллоуину и выбери себе что-нибудь из официальной
                    хэллоуинской коллекции Minecraft, включая новые костюмы и персонализированные сумки для сластей!
                </div>
            </div>
            <div class="item collapse js-collapse">
                <button class="btn head">
                    <span class="title">4. А что такое майнкрафт?</span>
                    <span class="control"></span>
                </button>
                <div class="content">
                    Всвязи с многочисленными просьбами пользователей, из майнкрафта сделали татарстан, также добавили
                    приору и многую другу атрибутику... Приготовься к Хэллоуину и выбери себе что-нибудь из официальной
                    хэллоуинской коллекции Minecraft, включая новые костюмы и персонализированные сумки для сластей!
                </div>
            </div>
            <div class="item collapse js-collapse">
                <button class="btn head">
                    <span class="title">5. как получить майнкрафт бесплатно?</span>
                    <span class="control"></span>
                </button>
                <div class="content">
                    Всвязи с многочисленными просьбами пользователей, из майнкрафта сделали татарстан, также добавили
                    приору и многую другу атрибутику... Приготовься к Хэллоуину и выбери себе что-нибудь из официальной
                    хэллоуинской коллекции Minecraft, включая новые костюмы и персонализированные сумки для сластей!
                </div>
            </div>
        </div>
        <!--<div class="chatBlock">
            <div class="titlePage">Чат с поддержкой</div>
            <div class="chat">
                <div class="messages">
                    <div class="message from">
                        Скажите на сколько вы меня ненавидите по десятибальной шкале
                        Скажите на сколько вы меня ненавидите по десятибальной шкале
                    </div>
                    <div class="message">12</div>
                    <div class="message from">Чел пишет двенадцать</div>
                    <div class="message from">
                        Скажите на сколько вы меня ненавидите по десятибальной шкале
                        Скажите на сколько вы меня ненавидите по десятибальной шкале
                    </div>
                    <div class="message from">
                        Скажите на сколько вы меня ненавидите по десятибальной шкале
                        Скажите на сколько вы меня ненавидите по десятибальной шкале
                    </div>
                    <div class="message from">
                        Скажите на сколько вы меня ненавидите по десятибальной шкале
                        Скажите на сколько вы меня ненавидите по десятибальной шкале
                    </div>
                    <div class="message">
                        Скажите на сколько вы меня ненавидите по десятибальной шкале
                        Скажите на сколько вы меня ненавидите по десятибальной шкале
                    </div>
                    <div class="message from">
                        Скажите на сколько вы меня ненавидите по десятибальной шкале
                        Скажите на сколько вы меня ненавидите по десятибальной шкале
                    </div>
                    <div class="message from">
                        Скажите на сколько вы меня ненавидите по десятибальной шкале
                        Скажите на сколько вы меня ненавидите по десятибальной шкале
                    </div>
                    <div class="message from">
                        Скажите на сколько вы меня ненавидите по десятибальной шкале
                        Скажите на сколько вы меня ненавидите по десятибальной шкале
                    </div>
                </div>
                <div class="senderField messageFiled">
                    <div class="autoSizeInput">
                        <span class="placeholder">Сообщение...</span>
                        <div class="value" contentEditable></div>
                    </div>
                    <button class="btn" type="submit">
                        <span class="icon icon-send"></span>
                    </button>
                </div>
            </div>
        </div>-->
    </div>
</main>