@import './breakPoints'

.aboutUsHome
  color: #fff
  margin-top: 48px
  
  // #1280px
  @include for-small-desktop-up
    margin-top: 72px
    
  // #1366px
  @include for-desktop-up
    margin-top: 92px
    
  // #1920px
  @include for-big-desktop-up
    margin-top: 124px
  
  .homeTitle
    display: none
    
    // #1920px
    @include for-big-desktop-up
      display: block
      text-align: center
  
  .aboutUsPlatform
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  
    // #1280px
    @include for-small-desktop-up
      flex-direction: row
      gap: 24px
      
    // #1920px
    @include for-big-desktop-up
      margin-top: 48px

  .img
    max-width: 100%
        
    // #540px
    @include for-tablet-portrait-up
      max-width: 325px
    
    // #1280px
    @include for-small-desktop-up
      max-width: 484px
      
    // #1366px
    @include for-desktop-up
      max-width: 619px

    // #1920px
    @include for-big-desktop-up
      max-width: 700px
    
  .text
    margin-top: 32px

    // #1280px
    @include for-small-desktop-up
      margin-top: 0
      
    .content
      overflow: hidden
      max-height: 316px
      font-size: 14px
      font-weight: 400
      line-height: 140%
      
      // #375px
      @include for-phone-up
        font-size: 18px
        max-height: 425px
        
      // #540px
      @include for-tablet-portrait-up
        font-size: 14px
        max-height: 180px
      
      // #1280px
      @include for-small-desktop-up
        font-size: 18px
        max-height: 645px
      
      // #1366px
      @include for-desktop-up
        max-height: 725px
      
      // #1920px
      @include for-big-desktop-up
        max-width: 708px
        max-height: 625px

      &.active
        max-height: initial

      h1
        color: #fff
        margin-bottom: 10px
        font-size: 21px

        @include for-desktop-up
          margin-bottom: 20px
          font-size: 52px

    .showAllBtn
      margin-top: 24px
      font-weight: 500
      line-height: 140%

      // #375px
      @include for-phone-up
        font-size: 18px
        
      // #540px
      @include for-tablet-portrait-up
        font-size: 14px
        
      // #1280px
      @include for-small-desktop-up
        font-size: 18px

      &:after
        content: ''
        background-size: cover
        background-position: center
        background-image: url(./../img/macbook-pro.png)
        width: 15px
        height: 8px
        margin-left: 8px
        margin-top: 2px

      &.active:after
        transform: rotate(180deg)