@import './breakPoints'

.achievement
  border: 2px solid #fff
  position: relative
  box-sizing: border-box
  overflow: hidden
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  color: #fff
  text-align: center
  border-radius: 22px
  min-height: 178px
  max-height: 178px
  z-index: -1
  min-width: 130px
  max-width: 130px

  @include for-middle-phone-up
    min-width: 150px
    max-width: 150px
    min-height: 200px
    max-height: 200px

  @include for-big-phone-up
    min-height: 221px
    max-height: 221px
    min-width: 160px
    max-width: 160px

  @include for-middle-desktop-up
    min-height: 248px
    max-height: 248px
    min-width: 181px
    max-width: 181px

  & .achievementIcon
    min-width: 130px
    max-width: 130px

    @include for-middle-phone-up
      min-width: 150px
      max-width: 150px

    @include for-big-phone-up
      min-width: 160px
      max-width: 160px

    @include for-middle-desktop-up
      min-width: 181px
      max-width: 181px

  & .name
    margin-top: 10px
    font-weight: 700
    font-size: 12px

    @include for-big-phone-up
      font-weight: 700
      font-size: 14px

  & .description
    font-size: 10px
    font-weight: normal
    margin-top: 5px
    padding: 0 5px

    @include for-big-phone-up
      margin-top: 10px
      padding: 0 10px

  & .lock
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    background: rgba(50, 0, 101, 0.60)

  @include for-desktop-up
    &.big
      min-width: 171px
      max-width: 171px
      min-height: 235px
      max-height: 235px

      .name
        margin-top: 15px

  @include for-middle-desktop-up
    &.big
      min-width: 207px
      max-width: 207px
      min-height: 282px
      max-height: 282px

  @include for-big-desktop-up
    &.big
      min-width: 241px
      max-width: 241px
      min-height: 327px
      max-height: 327px

      .name
        margin-top: 20px