//Use:
//animation: animActive .3s ease-in

@keyframes animActive
  0%
    display: none
    opacity: 0
  1%
    display: block
    opacity: 0
  100%
    opacity: 1

@keyframes animDisActive
  0%
    opacity: 1
  99%
    opacity: 0
  100%
    display: none