@import './breakPoints'

.articlesGameSlider
  &:not(:first-child)
    margin-top: 20px

    @include for-desktop-up
      margin-top: 40px

  & > .title
    font-family: 'Montserrat'
    font-size: 18px
    color: #fff
    font-weight: 600
    border: 1px solid #FFFFFF
    border-radius: 40px
    padding: 6px 12px
    max-width: max-content

    @include for-desktop-up
      font-size: 21px
      border: 2px solid #FFFFFF
      border-radius: 40px
      padding: 8px 15px

  .slider
    margin-top: 10px

    @include for-desktop-up
      margin-top: 20px

    .visibleArea
      max-width: 100%
      min-width: 100%
      overflow: hidden

      @include for-desktop-up
        max-width: 320px
        min-width: 320px

      @include for-middle-desktop-up
        max-width: 328px
        min-width: 328px

      @include for-big-desktop-up
        max-width: 372px
        min-width: 372px

      .tape
        display: flex
        transition: transform .3s ease-in

        .slide
          transition: .3s ease-in
          transition-property: opacity, visibility
          opacity: 0
          visibility: hidden

          &.active
            opacity: 1
            visibility: visible

    .newsPreview
      max-width: 100%
      min-width: 100%
      border: initial

      @include for-desktop-up
        max-width: 320px
        min-width: 320px

      @include for-middle-desktop-up
        max-width: 328px
        min-width: 328px

      @include for-big-desktop-up
        max-width: 372px
        min-width: 372px

      .img
        box-shadow: initial

      .attributes
        justify-content: center

      .title
        font-family: Montserrat
        text-align: center

      .text
        overflow: hidden
        text-align: center

      &:hover img
        transform: initial

    .slideControls-rounded
      margin-top: 20px

      @include for-big-phone-down
        display: none