@import './breakPoints'
@import './zIndex'

.autoSizeInput
  position: relative
  z-index: $ZIndex-AutoSizeInput
  font-size: 13px

  @include for-big-phone-up
    font-size: 16px

  &.active .placeholder
    display: none

  & .placeholder
    position: absolute
    color: rgba(255, 255, 255, 0.5)
    z-index: $ZIndex-AutoSizeInput-Placeholder
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    max-width: 100%

  & .value
    outline: none