@import './breakPoints'

.basketPage
  width: 100%

  & .title
    font-family: 'Lemon Milk'
    font-size: 20px
    color: #fff
    font-weight: 100

    @include for-big-phone-up
      font-size: 36px

  & .info
    margin-top: 30px
    justify-content: space-between

    @include for-big-phone-up
      display: flex

    & .listGames
      flex-grow: 1
      max-width: 800px

      &:before, & .game:after
        content: ''
        display: block
        height: 1px
        background: linear-gradient(270deg, transparent 0%, #fff 100%)

      & .game
        margin-top: 15px

        @include for-big-phone-up
          margin-top: 33px

        &.disabled .content:before
          content: ''
          display: block
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          background: rgba(1, 3, 60, 0.6)
          z-index: 1

        & .content
          display: flex
          column-gap: 15px
          align-items: center
          margin-bottom: 15px
          position: relative

          @include for-big-phone-up
            margin-bottom: 33px
            column-gap: 35px

          & .img
            object-fit: cover
            width: 114px
            height: 177px
            border: 2px solid #fff
            box-shadow: 0 0 10px #0066FF
            border-radius: 17px

            @include for-big-phone-up
              border-radius: 22px
              width: 156px
              height: 242px
              box-shadow: 0 0 20px #0066FF

          & .main
            display: flex
            flex-direction: column
            justify-content: space-between
            align-self: stretch

            .canSlit
              overflow: hidden
              width: 75px
              border-radius: 3px

              @include for-desktop-up
                width: 85px
                border-radius: 5px

              .icon
                width: 100%
                height: 100%
                display: block

            & .name
              font-family: 'Lemon Milk'
              font-size: 18px
              color: #fff
              margin-top: 3px

              @include for-desktop-up
                font-size: 24px
                margin-top: 5px

            & .price
              display: block
              margin-top: 5px
              font-size: 20px
              line-height: 1

              @include for-big-phone-up
                margin-top: 22px
                font-size: 24px

              .rowDiscount
                display: flex
                column-gap: 10px
                align-items: center

                @include for-big-phone-up
                  margin-bottom: 5px

              & .toPrice
                font-size: 26px

                &:after
                  font-size: 16px

                @include for-big-phone-up
                  font-size: 32px

                  &:after
                    font-size: 18px

              & .fromPrice
                font-size: 15px

                &:after
                  font-size: 12px

                @include for-big-phone-up
                  font-size: 17px

                  &:after
                    font-size: 14px

              & .discount
                background: #984BFB
                border-radius: 12px
                color: #fff
                font-size: 13px
                padding: 4px 5px

                @include for-big-phone-up
                  font-size: 13px
                  padding: 5px 6px

            & .preOrderInfo
              margin: 15px 0 10px 0
              font-size: 12px
              padding: 6px 8px

            & .bottom
              font-family: 'Montserrat'
              color: #fff

              & .item
                font-size: 12px
                font-weight: 400

                @include for-big-phone-up
                  font-size: 14px

                &:not(:last-child)
                  margin-bottom: 5px

    .rightSection
      align-self: flex-start
      margin-top: 30px

      @include for-desktop-up
        margin-top: initial
        //position: sticky
        //top: 180px
        min-width: 400px
        max-width: 400px

        @include for-middle-desktop-up
          min-width: 460px
          max-width: 460px

      .switchSplit
        display: flex
        margin-bottom: 20px
        column-gap: 10px

        @include for-desktop-up
          border: 1px solid #fff
          border-radius: 20px
          justify-content: space-between
          padding: 20px 30px

        .btn
          padding: 12px
          border: 1px solid transparent
          border-radius: 10px

          &.active
            background: #984BFB
            border: 1px solid #FFF

      .check
        border: 1px solid #fff
        border-radius: 20px
        padding: 13px 14px
        color: #fff

        @include for-desktop-up
          padding: 20px 30px

        .param
          display: flex
          justify-content: space-between

        .saving
          color: #FA00FF

        .title
          font-family: 'Montserrat'
          font-weight: 700
          font-size: 14px

          @include for-desktop-up
            font-size: 18px

          @include for-middle-desktop-up
            font-size: 24px

        .body
          display: flex
          flex-direction: column
          row-gap: 5px
          font-size: 12px
          margin-top: 10px

          @include for-desktop-up
            font-size: 14px
            margin-top: 18px
            row-gap: 7px

          @include for-middle-desktop-up
            font-size: 16px
            margin-top: 25px

          .name
            font-weight: 400

          .value
            font-weight: 700

        .total
          font-size: 14px
          font-weight: 700
          margin-top: 10px
          padding-top: 10px
          border-top: 1px solid rgba(255, 255, 255, 0.5)

          @include for-desktop-up
            font-size: 18px
            margin-top: 18px
            padding-top: 18px

          @include for-middle-desktop-up
            font-size: 24px
            margin-top: 25px
            padding-top: 25px

        .widget
          margin-top: 20px
          display: none

        .introInfo
          color: #fff
          text-align: center
          font-size: 16px
          font-weight: 700
          margin-top: 20px
          line-height: 1.5
          display: none

          @include for-desktop-up
            font-size: 21px

        .btn
          border-width: 1px
          white-space: initial
          width: 100%
          padding: 10px 0
          margin-top: 10px

          &.no-active
            background: #E5E2F1
            opacity: 0.4
          @include for-desktop-up
            margin-top: 18px

          @include for-middle-desktop-up
            margin-top: 25px
            padding: 15px 0

        .form-confirm_email
          label
            display: block
            &:first-child
              margin-top: 40px
              margin-bottom: 22px
            &.confirm_code
              display: none
          input
            width: 100%
            padding: 12px 0 12px 26px
            margin-top: 12px
            display: block
            border: 1px solid #FA00FF
            border-radius: 30px
            color: #fff
            background: transparent
            &:focus
              border: 1px solid #fff
          .wrap-button
            display: flex
            flex-wrap: wrap
            align-items: center
            button
              width: initial
              padding: 12px 26px
              font-weight: 400
              font-size: 18px
              line-height: 22px
              margin-bottom: 12px
              margin-right: 4px
              &:active
                background: #410074
              &.error
                border-color: #fa00ff
            .error-message, .error
                color: #FA00FF
            .error-message
              margin-bottom: 8px
              margin-top: 4px

        .help-text_auth
          span
            margin-right: 4px
          svg
            display: none

          &.color-blue
            color: #00BEFF
            display: flex
            align-items: center

  & .notFound
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    color: #fff

    & .img
      width: 90px
      margin-top: 10px

      @include for-big-phone-up
        width: 111px
        margin-top: 60px

    & .text
      margin-top: 25px

      @include for-big-phone-up
        margin-top: 35px

      & .description
        margin-top: 5px
        font-size: 13px

        @include for-big-phone-up
          margin-top: 10px
          font-size: 16px

    & .btn
      margin-top: 20px

      @include for-big-phone-up
        margin-top: 30px