@import './breakPoints'

.basketPage
  width: 100%

  & .title
    font-family: 'Lemon Milk'
    font-size: 20px
    color: #fff
    font-weight: 100

    @include for-big-phone-up
      font-size: 36px

  .info
    margin-top: 30px
    column-gap: 40px

    @include for-big-phone-up
      display: grid
      grid-template-columns: 1fr

    @include for-tablet-landscape-up
      grid-template-columns: 1fr 360px

    @include for-middle-desktop-up
      grid-template-columns: 1fr 460px

    & .listGames
      flex-grow: 1
      max-width: 800px

      @include for-middle-desktop-up
        max-width: 831px

      &:before, & .game:after
        content: ''
        display: block
        height: 1px
        background: linear-gradient(270deg, transparent 0%, #fff 100%)

      & .game
        margin-top: 15px

        @include for-big-phone-up
          margin-top: 33px

        @include for-middle-desktop-up
          margin-top: 48px

        &.disabled .content:before
          content: ''
          display: block
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          background: rgba(1, 3, 60, 0.6)
          z-index: 1

        & .content
          display: grid
          grid-template-columns: max-content 1fr
          column-gap: 15px
          //align-items: center
          margin-bottom: 15px
          position: relative

          @include for-big-phone-up
            margin-bottom: 33px
            column-gap: 24px

          @include for-middle-desktop-up
            margin-bottom: 48px

          & .img
            object-fit: cover
            width: 114px
            height: 177px
            border-radius: 17px

            @include for-big-phone-up
              border-radius: 22px
              width: 180px
              height: 290px

            @include for-middle-desktop-up
              border-radius: 24px
              width: 220px
              height: 330px


          & .main
            display: flex
            flex-direction: column
            justify-content: space-between
            align-self: stretch
            row-gap: 12px

            @include for-big-phone-up
              row-gap: 24px

            .canSlit
              overflow: hidden
              width: 75px
              border-radius: 3px
              margin-bottom: 3px

              @include for-desktop-up
                width: 85px
                border-radius: 5px
                margin-bottom: 5px

              @include for-middle-desktop-up
                width: 136px
                margin-bottom: 8px

              .icon
                width: 100%
                height: 100%
                display: block
                background: transparent

            & .name
              font-family: 'Lemon Milk'
              font-size: 18px
              color: #fff

              @include for-desktop-up
                font-size: 24px

              @include for-middle-desktop-up
                font-size: 32px

            & .price
              display: block
              font-size: 20px
              line-height: 1

              @include for-phone-only
                order: 2
                grid-column: 1/-1
                row-gap: 10px

              @include for-big-phone-up
                font-size: 24px

              .rowDiscount
                display: flex
                column-gap: 10px
                align-items: center

                @include for-big-phone-up
                  margin-bottom: 5px

                @include for-middle-desktop-up
                  margin-bottom: 12px

              & .toPrice
                font-size: 26px

                &:after
                  font-size: 16px

                @include for-big-phone-up
                  font-size: 32px
                  justify-content: flex-end

                  &:after
                    font-size: 18px

                    @include for-middle-desktop-up
                      font-size: 20px

              & .fromPrice
                font-size: 15px
                justify-content: flex-end

                &:after
                  font-size: 12px

                @include for-big-phone-up
                  font-size: 17px

                @include for-middle-desktop-up
                  font-size: 20px

                  &:after
                    font-size: 14px
                    @include for-middle-desktop-up
                      font-size: 20px

              & .discount
                background: #984BFB
                border-radius: 12px
                color: #fff
                font-size: 13px
                padding: 4px 5px

                @include for-big-phone-up
                  font-size: 13px
                  padding: 5px 6px

            & .preOrderInfo
              margin: 15px 0 10px 0
              font-size: 12px
              padding: 6px 8px

            & .top
              display: grid
              grid-template-columns: 1fr max-content
              column-gap: 12px
              row-gap: 10px

              @include for-big-phone-up
                grid-template-columns: 1fr max-content max-content
                column-gap: 24px
            & .middle
              flex-grow: 1
              color: rgba(255, 255, 255, 0.60)
              font-size: 12px
              font-style: normal
              font-weight: 400
              line-height: 140%
              @include for-big-phone-up
                font-size: 16px

            & .bottom
              font-family: 'Montserrat'
              color: #fff

              & .item
                font-size: 12px
                font-weight: 400

                @include for-big-phone-up
                  font-size: 14px

                @include for-middle-desktop-up
                  font-size: 16px

                &:not(:last-child)
                  margin-bottom: 5px

          & .btn
            align-self: center
            .icon
              transition: 0.3s ease-in
            &:hover
              .icon
                background-color: #FF00F5

    .rightSection
      align-self: flex-start
      margin-top: 30px

      @include for-desktop-up
        margin-top: initial
        //position: sticky
        //top: 180px
        min-width: 400px
        max-width: 400px

        @include for-middle-desktop-up
          min-width: 460px
          max-width: 460px

      .switchSplit
        display: flex
        margin-bottom: 20px
        column-gap: 10px

        @include for-desktop-up
          border: 1px solid #fff
          border-radius: 20px
          justify-content: space-between
          padding: 20px 30px

        .btn
          padding: 12px
          border: 1px solid transparent
          border-radius: 10px

          &.active
            background: #984BFB
            border: 1px solid #FFF

      .check
        border: 1px solid #fff
        border-radius: 20px
        padding: 13px 14px
        color: #fff
        position: relative
        overflow: hidden

        @include for-desktop-up
          padding: 20px 30px

        .notAuthSplitBlock
          position: absolute
          display: none
          top: 0
          left: 0
          height: 100%
          width: 100%
          backdrop-filter: blur(3px)
          background: rgba(1, 3, 60, 0.70)
          flex-direction: column
          align-items: center
          justify-content: center

          .icon
            display: block
            position: absolute
            border-radius: 5px
            width: 80px
            top: 10px

            @include for-desktop-up
              width: 100px
              top: 20px

          .content
            display: flex
            flex-direction: column
            align-items: center
            padding: 0 20px

            .lock
              width: 18px

              @include for-desktop-up
                width: 25px

            .description
              text-align: center
              margin-top: 5px
              font-size: 14px
              line-height: 1

              @include for-desktop-up
                font-size: 16px
                margin-top: 10px
                line-height: 1.2


        .param
          display: flex
          justify-content: space-between

        .saving
          color: #FA00FF

        .splitCommission
          display: none
          margin-top: 5px

        .title
          font-family: 'Montserrat'
          font-weight: 700
          font-size: 14px

          @include for-desktop-up
            font-size: 18px

          @include for-middle-desktop-up
            font-size: 24px

        .body
          display: flex
          flex-direction: column
          row-gap: 5px
          font-size: 12px
          margin-top: 10px

          @include for-desktop-up
            font-size: 14px
            margin-top: 18px
            row-gap: 7px

          @include for-middle-desktop-up
            font-size: 16px
            margin-top: 25px

          .name
            font-weight: 400

          .value
            font-weight: 700

        .total
          font-size: 14px
          font-weight: 700
          margin-top: 10px
          padding-top: 10px
          border-top: 1px solid rgba(255, 255, 255, 0.5)

          @include for-desktop-up
            font-size: 18px
            margin-top: 18px
            padding-top: 18px

          @include for-middle-desktop-up
            font-size: 24px
            margin-top: 25px
            padding-top: 25px

        .widget
          margin-top: 20px
          display: none

        .paySplit
          margin-top: 10px
          display: none

          @include for-desktop-up
            margin-top: 20px

        .btn
          border-width: 1px
          white-space: initial
          width: 100%
          padding: 10px 0
          margin-top: 10px

          &.no-active
            background: #E5E2F1
            opacity: 0.4
          @include for-desktop-up
            margin-top: 18px

          @include for-middle-desktop-up
            margin-top: 25px
            padding: 15px 0

        .form-confirm_email
          label
            display: block
            &:first-child
              margin-top: 40px
              margin-bottom: 22px
            &.confirm_code
              display: none
          input
            width: 100%
            padding: 12px 0 12px 26px
            margin-top: 12px
            display: block
            border: 1px solid #FA00FF
            border-radius: 30px
            color: #fff
            background: transparent
            &:focus
              border: 1px solid #fff
          .wrap-button
            display: flex
            flex-wrap: wrap
            align-items: center
            button
              width: initial
              padding: 12px 26px
              font-weight: 400
              font-size: 18px
              line-height: 22px
              margin-bottom: 12px
              margin-right: 4px
              &:active
                background: #410074
              &.error
                border-color: #fa00ff
            .error-message, .error
                color: #FA00FF
            .error-message
              margin-bottom: 8px
              margin-top: 4px

        .help-text_auth
          span
            margin-right: 4px
          svg
            display: none

          &.color-blue
            color: #00BEFF
            display: flex
            align-items: center

  & .notFound
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    color: #fff

    & .img
      width: 90px
      margin-top: 10px

      @include for-big-phone-up
        width: 111px
        margin-top: 60px

    & .text
      margin-top: 25px

      @include for-big-phone-up
        margin-top: 35px

      & .description
        margin-top: 5px
        font-size: 13px

        @include for-big-phone-up
          margin-top: 10px
          font-size: 16px

    & .btn
      margin-top: 20px

      @include for-big-phone-up
        margin-top: 30px
