@import './breakPoints'

.basketPage
  width: 100%

  & .title
    font-family: 'Lemon Milk'
    font-size: 20px
    color: #fff
    font-weight: 100

    @include for-big-phone-up
      font-size: 36px

  & .info
    margin-top: 30px
    justify-content: space-between

    @include for-big-phone-up
      display: flex

    & .listGames
      flex-grow: 1
      max-width: 800px

      &:before, & .game:after
        content: ''
        display: block
        height: 1px
        background: linear-gradient(270deg, transparent 0%, #fff 100%)

      & .game
        margin-top: 15px

        @include for-big-phone-up
          margin-top: 33px

        & .content
          display: flex
          column-gap: 15px
          align-items: center
          margin-bottom: 15px

          @include for-big-phone-up
            margin-bottom: 33px
            column-gap: 35px

          & .img
            object-fit: cover
            width: 114px
            height: 177px
            border: 2px solid #fff
            box-shadow: 0 0 10px #0066FF
            border-radius: 17px

            @include for-big-phone-up
              border-radius: 22px
              width: 156px
              height: 242px
              box-shadow: 0 0 20px #0066FF

          & .main
            display: flex
            flex-direction: column
            justify-content: space-between
            align-self: stretch

            & .name
              font-family: 'Lemon Milk'
              font-size: 18px
              color: #fff

              @include for-big-phone-up
                font-size: 24px

            & .price
              display: block
              margin-top: 5px
              font-size: 20px
              line-height: 1

              @include for-big-phone-up
                margin-top: 22px
                font-size: 24px

              .rowDiscount
                display: flex
                column-gap: 10px
                align-items: center

                @include for-big-phone-up
                  margin-bottom: 5px

              & .toPrice
                font-size: 26px

                &:after
                  font-size: 16px

                @include for-big-phone-up
                  font-size: 32px

                  &:after
                    font-size: 18px

              & .fromPrice
                font-size: 15px

                &:after
                  font-size: 12px

                @include for-big-phone-up
                  font-size: 17px

                  &:after
                    font-size: 14px

              & .discount
                background: #984BFB
                border-radius: 12px
                color: #fff
                font-size: 13px
                padding: 4px 5px

                @include for-big-phone-up
                  font-size: 13px
                  padding: 5px 6px

            & .preOrderInfo
              margin-top: 15px

            & .bottom
              font-family: 'Montserrat'
              color: #fff

              & .item
                font-size: 12px
                font-weight: 400

                @include for-big-phone-up
                  font-size: 14px

                &:not(:last-child)
                  margin-bottom: 5px

    & .check
      background: transparent
      border: 1px solid #fff
      border-radius: 22px
      align-self: flex-start
      padding: 15px 18px
      top: 180px
      margin-top: 30px

      @include for-big-phone-up
        min-width: 320px
        padding: 20px 23px
        margin-top: initial
        position: sticky

      & .total
        color: #fff
        font-size: 18px
        text-transform: uppercase
        font-weight: 600
        display: flex

        @include for-big-phone-up
          font-size: 24px

        & .toValue
          margin: 0 20px

        & .fromPrice
          color: #B590D2

          &:after
            display: none

          & .value:before
            background-color: #B590D2

      .totalProducts
        color: #fff
        margin-top: 10px
        font-size: 13px

        @include for-big-phone-up
          font-size: 16px

      & .btn
        border-width: 1px
        white-space: initial
        flex-direction: column
        width: 100%
        padding: 10px 0
        margin-top: 20px

        & .saving
          display: flex
          align-items: center
          margin-top: 3px
          font-size: 12px
          font-weight: 300

          @include for-big-phone-up
            font-size: 14px

          & .toPrice
            margin-left: 5px

            &:after
              font-size: 12px

              @include for-big-phone-up
                font-size: 14px

  & .notFound
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    color: #fff

    & .img
      width: 90px
      margin-top: 10px

      @include for-big-phone-up
        width: 111px
        margin-top: 60px

    & .text
      margin-top: 25px

      @include for-big-phone-up
        margin-top: 35px

      & .description
        margin-top: 5px
        font-size: 13px

        @include for-big-phone-up
          margin-top: 10px
          font-size: 16px

    & .btn
      margin-top: 20px

      @include for-big-phone-up
        margin-top: 30px