@import './zIndex'
@import './breakPoints'

.blogPage
  & .cover
    & .content
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      z-index: $ZIndex-Cover-Content
      width: 100%
      max-width: 1000px

      & .title, & .description
        color: #fff
        text-align: center

      & .title
        font-family: 'Lemon Milk'
        font-size: 36px
        font-weight: 500

      & .description
        margin-top: 15px
        overflow: hidden
        text-overflow: ellipsis
        display: -webkit-box
        display: -moz-box
        -webkit-box-orient: vertical
        -moz-box-orient: vertical
        box-orient: vertical
        line-clamp: 3 // line-count
        -webkit-line-clamp: 3 // line-count
        line-height: 18px // line-height
        max-height: calc(18px * 3) // line-height * line-count

    & .btn
      position: absolute
      bottom: 200px
      left: 50%
      transform: translateX(-50%)
      z-index: $ZIndex-Cover-Btn

  & .articles
    & .article
      border-radius: 40px
      overflow: hidden
      display: flex
      max-width: 1000px
      margin: 0 auto
      text-decoration: none
      transition: transform .3s ease-in

      @include for-big-desktop-up
        max-width: 1200px

      @include for-very-big-desktop-up
        max-width: 1400px

      &:hover, &:focus-visible
        outline: none
        transform: scale(1.1, 1.1)

      &.right
        flex-direction: row-reverse

        & .info
          padding: 17px 25px 17px 150px
          text-align: right
          align-items: flex-end

      &:not(:first-child)
        margin-top: 65px

        @include for-big-desktop-up
          margin-top: 75px

      & .img
        object-fit: cover

      & .info
        flex-grow: 1
        padding: 17px 150px 17px 25px
        display: flex
        flex-direction: column

        & .content
          flex-grow: 1

          & .title
            font-size: 36px
            font-family: 'Lemon Milk'
            color: #fff

          & .description
            color: #fff
            margin-top: 10px
            overflow: hidden
            text-overflow: ellipsis
            display: -webkit-box
            display: -moz-box
            -webkit-box-orient: vertical
            -moz-box-orient: vertical
            box-orient: vertical
            line-clamp: 3 // line-count
            -webkit-line-clamp: 3 // line-count
            line-height: 18px // line-height
            max-height: calc(18px * 3) // line-height * line-count

        & .activity
          margin-top: 20px
          display: flex
          color: #fff

          & .likes, & .views
            text-shadow: 0 0 10px #938083

          & .views
            margin-left: 20px

  & .more
    margin: 70px auto 0 auto

    & .icon
      background-color: #00C2FF

  &.article
    & .info
      & .content
        max-width: 1000px
        margin: 0 auto

        @include for-big-desktop-up
          max-width: 1200px

        @include for-very-big-desktop-up
          max-width: 1400px

        & .block
          background: linear-gradient(179.81deg, #29005C 28%, rgba(41, 0, 92, 0) 99.84%)
          border-radius: 40px 40px 0 0

          &:not(:first-child)
            margin-top: 70px

            @include for-big-desktop-up
              margin-top: 80px

          & .img
            border-radius: 40px
            width: 100%
            object-fit: cover

          & .text
            padding: 45px 100px 170px 100px
            color: #fff
            text-align: center

          &.left
            display: flex
            align-items: center
            border-radius: 40px 0 0 40px
            background: linear-gradient(89.81deg, #29005C 28%, rgba(41, 0, 92, 0) 99.84%)

            & .img
              width: initial

            & .text
              padding: 60px 170px 60px 45px
              text-align: left

          &.right
            display: flex
            align-items: center
            flex-direction: row-reverse
            border-radius: 0 40px 40px 0
            background: linear-gradient(269.81deg, #29005C 28%, rgba(41, 0, 92, 0) 99.84%)

            & .img
              width: initial

            & .text
              padding: 60px 54px 60px 170px
              text-align: right

      & .activity
        display: flex
        background: linear-gradient(170.66deg, #270067 7.12%, rgba(94, 0, 151, 0) 104.75%)
        border-radius: 20px
        padding: 10px 40px
        justify-content: space-between
        margin-top: 80px

        & .actions
          display: flex

          & .block
            display: flex
            align-items: center

            &:not(:last-child)
              margin-right: 30px

            & .btn .icon
                background-color: #DB00FF

            & .count
              margin-left: 12px
              color: #fff
              font-weight: 600

        & .views
          color: #fff

      & .gamesBlock
        margin-top: 100px

        & .title
          font-size: 40px
          color: #fff
          font-family: 'Lemon Milk'

        & .games
          display: flex
          margin-top: 35px

          & .cardGame:not(:last-child)
            margin-right: 20px