@import './breakPoints'
@import './zIndex'

.breadcrumbs
  position: absolute
  display: flex
  top: 90px
  width: 100% //calc(100% - 30px) //100% - contentContainerPaddingLeftAndRight
  align-items: center
  left: 50%
  transform: translateX(-50%)
  z-index: $ZIndex-BreadCrumbs
  white-space: nowrap

  @include for-big-phone-up
    top: 150px

  &:before, &:after
    content: ''
    height: 1px
    min-width: 30px
    flex-grow: 1
    background: linear-gradient(270deg, #FFFFFF 0%, transparent 100%)
    display: block
    margin-right: 10px

    @include for-big-phone-up
      margin-right: 35px

  &:after
    transform: matrix(-1, 0, 0, 1, 0, 0)
    margin-right: initial
    margin-left: 10px

    @include for-big-phone-up
      margin-left: 35px

  & .item
    display: flex
    align-items: center

    &:after
      content: ''
      display: block
      width: 20px
      height: 1px
      background: #fff
      margin: 0 10px

      @include for-big-phone-up
        width: 50px
        margin: 0 35px

    & .link
      font-size: 10px
      color: rgba(255, 255, 255, 0.8)
      font-weight: 300

      @include for-desktop-up
        font-size: 14px

  & .current
    font-size: 10px
    font-weight: 400
    color: rgba(255, 255, 255, 0.8)

    @include for-desktop-up
      font-size: 14px