@import './breakPoints'
@import './zIndex'

.btn
  font-family: 'Montserrat'
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  border: none
  cursor: pointer
  line-height: 1
  background: none
  font-size: 14px
  text-decoration: none
  color: #fff
  width: max-content
  min-width: max-content
  height: max-content
  min-height: max-content
  transition: .3s ease-in
  font-weight: 600
  overflow: hidden

  @include for-big-phone-up
    font-weight: 700
    font-size: 16px

  @include for-middle-desktop-up
    font-size: 18px

  &.increase
    &:hover, &:focus-visible
      outline: none
      transform: scale(1.1, 1.1)

  &.border
    border: 1px solid #fff

    @include for-big-phone-up
      border: 3px solid #fff

  &.uppercase
    text-transform: uppercase

  &.translucent
    opacity: 0.6

    &:hover, &.active, &:focus-visible
      outline: none
      opacity: 1

  &.round
    border-radius: 100px
    padding: 8px 15px
    min-height: 35px

    @include for-big-phone-up
      min-height: 40px

    &.big
      padding: 9px 12px

      @include for-big-phone-up
        padding: 10px 17px

    &.small
      padding: 9px
      font-size: 13px
      border-width: 2px

      @include for-big-phone-up
        font-size: 16px
        padding: 4px 12px

  &.rounded
    border-radius: 8px
    padding: 9px 12px

    @include for-big-phone-up
      padding: 12px 15px
      border-radius: 10px

    &.big
      padding: 12px 15px

      @include for-big-phone-up
        padding: 15px 18px

    &.small
      padding: 6px 10px
      font-size: 13px

      @include for-big-phone-up
        padding: 9px 12px
        font-size: 16px

  &.elongated
    padding-left: 20px
    padding-right: 20px

    @include for-big-phone-up
      padding-left: 30px
      padding-right: 30px

  &.fillFromCenter
    position: relative

    &:focus-visible
      outline: none

    &:before
      content: ''
      position: absolute
      width: 0
      height: 0
      border-radius: 100px
      transition: 0.3s ease-in
      z-index: $ZIndex-Btn-FilFromCenter-Before

    &:hover:before, &.active:before, &:focus-visible:before
      width: 100%
      height: 100%
      border-radius: 0px

    &-darkLilac:before
      background-color: #280063

  &.bg
    &-pink
      background-color: #C745CB

    &-darkLilac
      background-color: #410074

    &-darkPink
      background-color: #620064

    &-lilac
      background-color: rgba(158, 0, 255, 0.6)

    &-paleBlue
      background-color: #2F305E

    &-blue
      background-color: #00BEFF

    &-darkPurple
      background-color: #410074

      &:active
        background-color: #410074!important

  //  &-darkBlue
  //    background-color: #0E5B74
  //
  //  &-purple
  //    background-color: #7000FF
  //
  //&.border
  //  &-purple
  //    border-color: #7000FF
  //

  &.backlight
    &-pink
      box-shadow: 0 0 25px rgba(250, 0, 255, 0.6)

  &.hover
    &-color
      &-pink
        &:hover, &.active, &:focus-visible
          outline: none
          color: #FF00F5

    &-border
      &-pink
        &:hover, &.active, &:focus-visible
          outline: none
          border-color: #FF00F5

    &-backlight
      &-blue
        &:hover, &.active, &:focus-visible
          outline: none
          box-shadow: 0 0 20px rgba(0, 224, 255, 0.8)

      //&-pink
      //  &:hover, &.active, &:focus-visible
      //    box-shadow: 0 0 25px #DB00FF

    &-bg
      &-pink
        &:hover, &.active, &:focus-visible
          outline: none
          background-color: #FF00F5

      &-palePink
        &:hover, &.active, &:focus-visible
          outline: none
          background-color: #EB70FF

      &-violet
        &:hover
          outline: none
          background-color: #984BFB

  &.active.active
    &-bg
      &-darkBlue
        background-color: #02043D

      &-pink
        background-color: #C745CB