@import './breakPoints'

.btn
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  width: max-content
  border: none
  cursor: pointer
  line-height: 1
  background: none
  font-size: 16px
  text-decoration: none
  color: #fff
  height: max-content
  transition: 0.25s ease-in
  font-weight: bold
  overflow: hidden

  &:focus-visible
    outline: 1px solid #fff
    outline-offset: 1px

  &.increase
    &:hover, &:focus-visible
      transform: scale(1.1, 1.1)

  &.border
    border: 2px solid #fff

  &.uppercase
    text-transform: uppercase

  &.translucent
    opacity: 0.6

    &:hover, &.active, &:focus-visible
      opacity: 1

  &.round
    border-radius: 100px
    padding: 10px 20px

    @include for-big-desktop-up
      padding: 11px 28px

    &.small
      padding: 8px 18px

      @include for-big-desktop-up
        padding: 9px 22px

  &.rounded
    border-radius: 12px
    padding: 12px 15px

    @include for-tablet-portrait-up
      padding: 15px 20px

    &.small
      padding: 10px 12px

      @include for-big-desktop-up
        padding: 12px 18px

  &.fillFromCenter
    position: relative
    z-index: 1

    &:before
      content: ''
      position: absolute
      width: 0
      height: 0
      border-radius: 100px
      z-index: -1
      transition: 0.3s ease-in

    &:hover:before, &.active:before, &:focus-visible:before
      width: 100%
      height: 100%
      border-radius: 0px

    &-darkLilac:before
      background-color: #280063

  &.bg
    &-pink
      background-color: #FF00F5

    &-darkPink
      background-color: #620064

    &-darkLilac
      background-color: #410074

    &-darkBlue
      background-color: #0E5B74

    &-lilac
      background-color: #9E00FF

    &-purple
      background-color: #7000FF

    &-blue
      background-color: rgba(0, 190, 255, 0.4)

  &.border
    &-purple
      border-color: #7000FF

  &.hover
    &-color
      &-pink
        &:hover, &.active, &:focus-visible
          color: #FF00F5

    &-border
      &-pink
        &:hover, &.active, &:focus-visible
          border-color: #FF00F5

    &-bg
      &-pink
        &:hover, &.active, &:focus-visible
          background-color: #FF00F5

    &-backlight
      &-blue
        &:hover, &.active, &:focus-visible
          box-shadow: 0 0 25px rgba(0, 224, 255, 0.8)

      &-pink
        &:hover, &.active, &:focus-visible
          box-shadow: 0 0 25px #DB00FF