.burger
  width: 30px
  height: 35px
  position: relative
  display: flex
  justify-content: center
  align-items: center
  transition: 0.5s

  &.active
    &:before
      transform: translateY(0) rotate(45deg)
      box-shadow: none

    &:after
      transform: translateY(0) rotate(-45deg)

  &:before, &:after
    content: ''
    position: absolute
    width: 100%
    height: 3px
    background-color: #fff
    transition: inherit

  &:before
    transform: translateY(-10px)
    box-shadow: 0 10px 0 #fff

  &:after
    transform: translateY(10px)