@import 'breakPoints'

.cardUsp
  border-radius: 20px
  background-image: linear-gradient(180.13deg, #DB00FF 0.11%, rgba(205, 120, 219, 0.3875) 45.24%, rgba(196, 196, 196, 0) 94.7%)
  min-width: 230px
  min-height: 161px
  max-width: 260px
  max-height: 182px
  width: 15vw
  height: 10vw
  color: #fff
  font-size: 18px
  text-transform: uppercase
  display: flex
  justify-content: center
  align-items: center
  padding: 0 15px
  text-align: center
  font-weight: 600
  transition: 0.3s ease-in

  @include for-big-desktop-up
    font-size: 20px
    padding: 0 20px

  &:hover
    transform: scale(1.1, 1.1)
    cursor: default