@import './breakPoints'
@import './zIndex'

.cardGame
  display: flex
  flex-direction: column
  min-width: 132px
  max-width: 132px
  background-color: #02043D
  border-radius: 12px
  border: 2px solid #525379
  overflow: hidden
  position: relative
  transition: border .3s ease-in
  cursor: pointer
  text-decoration: none
  
  &:active, &:focus
      border: 2px solid #FFF
      
  @include for-tablet-landscape-up
    min-width: 145px
    max-width: 145px
  
  @include for-small-desktop-up
    min-width: 202px
    max-width: 202px
    
    &:hover
      border: 2px solid #FFF
      
    &:hover .actions
      visibility: visible
      opacity: 1
      background-color: transparent
        
    &:hover .imageFilter
      background: rgba(2, 4, 61, 0.80)

  .actions
    position: absolute
    overflow: hidden
    z-index: $ZIndex-CardGame-Actions
    transition: .3s ease-in
    transition-property: visibility, opacity, bottom
    top: 0
    right: 0
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    row-gap: 10px
    align-items: center
    border: none
    
    @include for-small-desktop-up
      width: 100%
      height: 100%
      padding: 20px
      visibility: hidden
      opacity: 0
      border: initial
      border-radius: initial
      right: initial
      top: initial
      
      &.noInStock
        visibility: visible
        opacity: 1
      
    & .inCart
      position: absolute
      bottom: 8px
      width: 116px
      padding: 6.5px 12px
      border-radius: 99px
      background: #8D00FC
      border: none
      color: #FFF
      font-size: 12px
      font-weight: 700
      
      @include for-small-desktop-up
        // top: 140px
        top: 50%
        transform: translateY(-50%)
        padding: 8.5px 24px
        width: auto
    
      &.active
        background: none
        border: 1px solid #8D00FC
        
        .icon-check
          display: block
        
                
      & .icon-check
        display: none
        margin-left: 6px
        
        &.active
          display: block
        
    & .like
      position: absolute
      top: 8px
      right: 7px
      stroke: #C745CB

    &.noInStock

      & .like
        display: none

      & .noInStockMsg
        position: absolute
        bottom: 48px
        left: 7px
        color: #FFF
        font-size: 12px
        font-style: normal
        font-weight: 600
        line-height: normal
        
        @include for-small-desktop-up
          bottom: 15px
          left: 15px          
      
      & .soonInStockMsg
        position: absolute
        width: 100%
        text-align: center
        color: #FFF
        font-size: 12px
        font-style: normal
        font-weight: 600
        line-height: normal
        
      & .mobile
        top: 54px
         
        @include for-small-desktop-up
          display: none    
      
      & .desktop
        display: none
        
        @include for-small-desktop-up    
          display: block
          top: 38%
          transform: translateY(-50%)
      
      & .subscribeInStock
        position: absolute
        bottom: 8px
        display: flex
        width: 116px
        padding: 6.5px 12px
        border-radius: 99px
        border: 1px solid #8D00FC
        font-size: 12px
        font-weight: 700
        
        @include for-small-desktop-up
          // top: 140px
          top: 50%
          transform: translateY(-50%)
          padding: 8.5px 24px
          width: auto
          
        & .icon-check
          margin-left: 6px
        
  & .head
    position: relative
    height: 129px
    width: 100%
    font-size: 12px
    
    @include for-small-desktop-up
      height: 240px

    &:before, & .name
      position: absolute
      bottom: 0
      width: 100%

    &:before
      content: ''
      top: 35%
      background: linear-gradient(180deg, rgba(70, 11, 110, 0) 0%, #02043D 100%)
          
    & .img
      // object-fit: cover
      object-fit: fill
      width: 100%
      height: 99%
    
    & .imageFilter
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      transition: background .3s ease-in
      
    & .activate
      background: rgba(2, 4, 61, 0.7)
  
  & .name
    color: #fff
    padding: 0 7px
    text-align: left
    color: #FFF
    font-size: 12px
    font-weight: 400
    margin-bottom: auto
    
    @include for-small-desktop-up
      font-size: 14px
      padding-left: 16px

  & .dlc
    position: absolute
    top: -1px
    left: -1px
    width: 40px
    height: 25px
    font-size: 12px
    font-weight: 600
    border-radius: 12px 0px 0px 0px
    background: #525379
    z-index: $ZIndex-DLCOnCartProduct
    padding: 5px
    color: #fff
    
  & .new
    position: absolute
    top: -1px
    left: -1px
    width: 40px
    height: 25px
    font-size: 12px
    font-weight: 600
    border-radius: 12px 0px 0px 0px
    background: #C745CB
    z-index: $ZIndex-DLCOnCartProduct
    padding: 5px
    color: #fff

  & .price
    align-items: center
    gap: 4px
    // width: 100%
    padding: 0 7px
    font-size: 12px
    margin-top: 5px
    margin-bottom: 48px
    
    @include for-small-desktop-up
      margin-bottom: 12px
      margin-left: 16px
      padding: 0
      font-size: 14px
    
    &.hidden
      visibility: hidden

    & .fromPrice
        font-size: 10px
        color: #383960
        
        @include for-small-desktop-up
          font-size: 12px
      
        &:after
          font-size: 10px
          
          @include for-small-desktop-up
          font-size: 12px
        
        .value:before
          background-color: #383960
          height: 1px
    
    & .toPrice:after
        font-size: 12px
        
        @include for-small-desktop-up
          font-size: 14px
        
    & .discount
      color: #FFF
      text-align: center
      font-size: 12px
      font-weight: 600
      padding: 2px
      border-radius: 4px
      background: #8D00FC
      margin-left: auto
      
      @include for-small-desktop-up
        margin-left: 42px
      
      &:before, &:after
        margin: 0
        
  &.small
    max-width: 135px
    min-width: 135px
    min-height: 220px
    .head
      height: 120px

    @include for-middle-phone-up
      max-width: 150px
      min-width: 150px
      height: 235px

    @include for-small-desktop-up
      max-width: 150px
      min-width: 150px
      height: 230px
      
      .head
        height: 240px

    @include for-middle-desktop-up
      max-width: 154px
      min-width: 154px
      height: 243px

    @include for-big-desktop-up
      max-width: 171px
      min-width: 171px
      height: 270px
 
  &-frame
    background-color: #fff
    position: relative

    &.loading:before
      content: ""
      position: absolute
      left: -70%
      top: -10%
      height: 110%
      width: 80px
      transform: rotate(15deg)
      background: linear-gradient(to right, transparent 30%, rgba(255, 255, 255, 0.6) 70%, transparent 100%)
      animation-name: gradient-animation
      animation-duration: 1.2s
      animation-iteration-count: infinite
      z-index: 1

    .head
      padding: 8%
      background-color: #ccc

      &:before
        content: initial

      .name
        background-color: #a1a1a1
        min-height: 10%
        bottom: 7%

@keyframes gradient-animation
  from
    left: -70%
  to
    left: 100%

.xbox .cardGame
  background-color: #000
  
  &:hover .head .imageFilter
    background:#000000cc
  
  .head .imageFilter.activate 
      background: rgba(0, 0, 0, 0.80)
        
  .head:before
    background: linear-gradient(180deg, rgba(2, 4, 61, 0.00) 0%, #000 83.87%)
