@import './breakPoints'
@import './zIndex'

.cardGame
  display: flex
  flex-direction: column
  width: 154px
  height: 243px
  border: 2px solid #fff
  box-shadow: 0 0 15px #0066FF
  border-radius: 22px
  background-color: #02043D
  overflow: hidden
  position: relative
  transition: transform .3s ease-in
  cursor: pointer
  text-decoration: none

  @include for-big-desktop-up
    width: 171px
    height: 270px

  @include for-very-big-desktop-up
    width: 197px
    height: 311px

  &.big
    width: 204px
    height: 317px

    @include for-big-desktop-up
      width: 220px
      height: 340px

    @include for-very-big-desktop-up
      width: 233px
      height: 368px

    & .head
      height: 253px

      @include for-big-desktop-up
        height: 272px

      @include for-very-big-desktop-up
        height: 296px

  &:hover, &.active, &:focus-visible, &:focus-within
    transform: scale(1.1, 1.1)
    box-shadow: 0 0 30px #00A3FF
    outline: none

    & .actions
      bottom: 0
      opacity: 1
      visibility: visible

      & .inCart, & .like
        opacity: 1

  & .actions
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(70, 11, 110, 0.8)
    padding: 20px
    overflow: hidden
    z-index: $ZIndex-CardGame-Actions
    opacity: 0
    bottom: 100%
    visibility: hidden
    transition: .3s ease-in
    transition-property: visibility, opacity, bottom

    & .inCart
      position: absolute
      bottom: 25%
      left: 10px //left
      width: calc(100% - 10px * 2) //100% - left * 2
      opacity: 0

      @include for-very-big-desktop-up
        left: 20px //left
        width: calc(100% - 20px * 2) //100% - left * 2

    & .like
      position: absolute
      right: 20px
      opacity: 0

  & .head
    position: relative
    height: 190px
    width: 100%

    @include for-big-desktop-up
      height: 215px

    @include for-very-big-desktop-up
      height: 250px

    &:before, & .name
      position: absolute
      bottom: 0
      width: 100%

    &:before
      content: ''
      top: 35%
      background: linear-gradient(180deg, rgba(70, 11, 110, 0) 0%, #02043D 100%)

    & .img
      object-fit: cover
      width: 100%
      height: 99%

    & .name
      color: #fff
      font-size: 18px
      font-weight: 600
      padding: 0 12px
      text-align: left

  & .price
    justify-content: space-between
    width: 100%
    padding: 20px 12px 0 12px