@import './breakPoints'

.catalog
  width: 100%

  .paginationLink
    display: none

  .mainTitle
    color: #fff
    font-weight: 400
    font-family: 'Lemon Milk'
    margin-bottom: 30px
    text-align: center

  & .main
    width: 100%

    @include for-big-phone-up
      display: grid
      grid-template-columns: 265px auto
      column-gap: 60px
      row-gap: 60px

    @include for-middle-desktop-up
      grid-template-columns: 315px auto

    & .openParams
      margin: 0 auto 20px auto

      @include for-big-phone-up
        display: none

    & .paramContainer
      @include for-big-phone-down
        display: flex
        flex-direction: column
        background-color: rgba(1, 4, 61, 0.9)
        position: fixed
        top: 0
        right: 0
        height: 100vh
        padding: 85px 0 20px 0
        width: 100%
        visibility: hidden
        opacity: 0
        transform: translateX(100%)
        transition: .5s cubic-bezier(0.6, -0.28, 0.74, 0.05)
        transition-property: visibility, opacity, transform
        z-index: 2
        align-items: center

      &.active
        visibility: initial
        opacity: initial
        transform: translateX(0%)
        transition: .3s ease
        transition-property: visibility, opacity, transform

      & .btn
        @include for-big-phone-up
          display: none

          &.sort
            display: flex

      & .title
        font-family: 'Lemon Milk'
        font-weight: 100
        font-size: 18px
        margin-top: 10px
        color: #fff

        @include for-big-phone-up
          margin-top: initial

          &.params
            display: none

      & .paramElements
        @include for-big-phone-down
          margin-top: 40px
          display: flex
          flex-direction: column
          row-gap: 20px
          overflow: auto
          padding-right: 10px
          max-height: 60%

        @include for-desktop-up
          &.categories
            display: none

    & .params
      @include for-big-phone-up
        display: contents

      & .categories
        align-items: center

      & .priceBlock .range
          margin-top: 25px

      & .sortBlock .variants
        display: flex
        align-items: center
        margin-top: 20px
        column-gap: 20px

      & .variants
        display: contents

        @include for-big-phone-up
          display: initial

        @include for-desktop-up
          align-self: start
          //position: sticky
          //top: 115px

        & .block
          @include for-desktop-up
            & .elements
              display: flex
              flex-direction: column
              row-gap: 8px

          @include for-middle-desktop-up
            &.genres
              & .elements
                flex-direction: row
                flex-wrap: wrap
                align-items: center

                & .checkbox
                  min-width: 50%

          &:not(:last-child)
            margin-bottom: 40px

          & .title
            margin-bottom: 10px

          & .variants .checkbox:not(:first-child)
            margin-top: 8px

    & .list
      flex-grow: 1
      display: flex
      flex-direction: column
      row-gap: 20px

      @include for-desktop-up
        row-gap: 50px

      &.notFound
        display: flex
        flex-direction: column
        align-items: center
        color: #fff
        font-weight: 700
        font-size: 18px
        row-gap: initial
        column-gap: initial

        & .img
          margin-top: 50px

        & .text
          margin-top: 20px