@import './breakPoints'

.categoriesCatalogPage
  .title
    font-family: 'Lemon Milk'
    color: #fff
    font-weight: 100
    font-size: 20px
    text-align: center

    @include for-desktop-up
      font-size: 40px
      text-align: initial

  .list
    margin-top: 20px
    display: flex
    flex-wrap: wrap
    justify-content: center
    row-gap: 10px
    column-gap: 5px

    @include for-middle-phone-up
      justify-content: space-around

    @include for-desktop-up
      margin-top: 30px
      column-gap: 20px
      row-gap: 20px

  .inCatalog
    margin: 30px auto 0 auto

  .nav
    margin: 30px auto 0 auto
    display: flex
    justify-content: space-between

    @include for-big-phone-down
      row-gap: 15px
      flex-direction: column-reverse

    .pagination
      display: flex
      column-gap: 10px

      .separator
        color: #fff
        align-self: end
        padding-bottom: 10px