@import './breakPoints'

.checkboxDiamond
  display: flex
  align-items: center
  max-width: max-content
  gap: 12px
  cursor: pointer
  
  svg
    width: 24px
    height: 24px

  &:hover .label
    // @include for-big-phone-up
      color: rgba(255, 255, 255, 0.8)

  & .input
    display: none

    &:checked
      & + span svg
        fill: #8D00FC
        opacity: 1
        path
          stroke: #8D00FC
        
      & ~ .label
        // @include for-big-phone-up
          color: rgba(255, 255, 255, 0.8)


  // & .figure
  //   display: flex
  //   align-items: center
  //   position: relative
  //   min-width: 40px
  //   max-width: 40px
  //   min-height: 21px
  //   max-height: 21px
  //   border-radius: 27px
  //   background-color: #afafaf
  //   background-size: cover
  //   background-position: center
  //   transition: background-color .3s ease-in

  //   @include for-big-phone-up
  //     display: block
  //     min-width: 16px
  //     max-width: 16px
  //     min-height: 16px
  //     max-height: 16px
  //     border-radius: 5px
  //     background-color: rgba(155, 0, 173, 0.6)
  //     box-shadow: inset 0 0 10px 2px rgba(219, 0, 255, 0.6)
  //     transition: initial

  //   &:before
  //     content: ''
  //     position: absolute
  //     left: 2px
  //     display: block
  //     border-radius: 100%
  //     background-color: #fff
  //     min-width: 17px
  //     max-width: 17px
  //     min-height: 17px
  //     max-height: 17px
  //     transition: left .3s ease-in

  //     // @include for-big-phone-up
  //       content: initial

  & .checkboxLabel
    font-family: 'Montserrat'
    color: #fff
    font-weight: 400
    font-size: 14px
    padding: 0
    margin-bottom: 0
    line-height: 120%
    user-select: none
    transition: color .3s ease-in

    @include for-big-phone-up
      // color: rgba(255, 255, 255, 0.5)
      // transition: color .3s ease-in
      // font-size: 16px
      // font-weight: 600