@import './breakPoints'

.checkboxDiamond
  display: flex
  flex-direction: column
  max-width: max-content
  cursor: pointer
  
  svg
    width: 24px
    height: 24px

  &:hover .label
      color: rgba(255, 255, 255, 0.8)

  & .input
    display: none

    &:checked
      & + .wrapper span svg
        fill: #8D00FC
        opacity: 1
        path
          stroke: #8D00FC
        
      & ~ .label
          color: rgba(255, 255, 255, 0.8)
  
  & .wrapper
      display: flex
      align-items: center
      gap: 12px

  & .checkboxLabel
    font-family: 'Montserrat'
    color: #fff
    font-weight: 400
    font-size: 14px
    padding: 0
    margin-bottom: 0
    line-height: 120%
    user-select: none
    transition: color .3s ease-in
  