.checkFillUpStatusPage
  width: 100%
  display: flex
  align-items: center
  flex-direction: column

  & > .title
    font-family: "Lemon Milk"
    font-style: normal
    font-weight: 400
    font-size: 36px
    color: #FFFFFF

  .check
    font-family: 'Montserrat'
    border: 1px solid #FFFFFF
    border-radius: 15px
    max-width: 450px
    width: 100%
    margin-top: 30px
    color: #fff
    padding: 15px
    line-height: 1

    .item
      display: flex
      justify-content: space-between

      &:not(:first-child)
        margin-top: 10px

      .value
        font-weight: 700

    .btn
      width: 100%
      margin-top: 20px