@import './breakPoints'

.collapse
  border-radius: 8px
  background: #410074
  color: #fff
  padding: 16px

  @include for-big-phone-up
    padding: 15px 25px //paddingTop&Bottom

  & .head
    line-height: 140%
    font-weight: 300
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    max-width: 100%
    min-width: 100%
    min-height: 16px //maxHeightHead
    column-gap: 10px
    overflow: visible

    & .title
      font-size: 16px
      font-weight: 600
      text-align: left

      @include for-big-phone-up
        font-size: 16px

    & .control
      display: flex
      min-height: 10px
      min-width: 16px
      position: relative

      @include for-big-phone-up
        min-width: 20px

      &:before, &:after
        position: absolute
        bottom: 50%
        left: 0
        content: ''
        display: block
        min-width: 10px
        height: 2px
        background-color: #fff
        transform: rotate(40deg) translateY(50%)
        transition: transform .5s ease

        @include for-big-phone-up
          height: 3px
          min-width: 13px

      &:after
        left: initial
        right: 0
        transform: rotate(-40deg) translateY(50%)

  & .content
    line-height: 1.5
    flex-grow: 1
    overflow: hidden
    font-size: 14px
    max-height: 0
    transition: max-height .3s ease-out

    .link
      color: #5488ff

    ol
      padding-left: 20px

  &.active
    max-height: 500px
    
    & .head .control
      &:before
        transform: rotate(-45deg) translateY(0%)
      &:after
         transform: rotate(45deg) translateY(0%)
         
    & .content
      overflow: auto
      transition: max-height .5s ease
      max-height: 500px