@import './breakPoints'
@import './zIndex'

.cover
  overflow: hidden
  position: relative
  display: grid
  grid-template-rows: minmax(770px, 100vh)
  grid-template-columns: minmax(100%, 1920px)
  margin: 0 auto

  @include for-big-desktop-up
    grid-template-rows: minmax(800px, 100vh)

  @include for-very-big-desktop-up
    grid-template-rows: minmax(900px, 100vh)

  &.blackout
    position: relative

    &-left:before, &-bottom:after, &-bottomMax:after
      content: ''
      position: absolute
      left: 0
      bottom: 0

    &-left:before
      top: 0
      right: 30%
      background: linear-gradient(90deg, #01033C 0%, transparent 100%)

      @include for-very-big-desktop-up
        background: linear-gradient(90deg, #01033C 0%, transparent 70%, #01033C 100%)
        right: 0

    &-bottom:after
      top: 30%
      right: 0
      background: linear-gradient(180deg, transparent 0%, #01033C 100%)

    &-bottomMax
      &:after
        top: 0
        right: 0
        background: linear-gradient(180deg, transparent 0%, #01033C 100%)

      &-darker:after
        background: linear-gradient(180deg, rgba(1, 3, 60, 0.65) 0%, #01033C 100%)

  &.activeVideo
    & .video, & .img
      transition: 1s ease-in
      transition-property: opacity, visibility

    & .video
      opacity: 1
      visibility: visible
      z-index: $ZIndex-Cover-ActiveVideo-Element

    & .img
      opacity: 0
      visibility: hidden
      z-index: $ZIndex-Cover-ActiveVideo-Element

  & .img, & .video
    width: 100%
    height: 100%
    object-fit: cover
    grid-column: 1/-1
    grid-row: 1/2

  & .video
    display: none
    opacity: 0
    visibility: hidden

    @include for-desktop-up
      display: block

  & .offer
    display: block
    width: 600px
    height: 515px
    position: absolute
    background-image: url("./../img/headOfferBorder.svg")
    background-size: cover
    background-position: center
    padding: 70px 0 0 110px
    top: 24%
    z-index: $ZIndex-Cover-Offer
    line-height: 1.3

    & .name
      font-family: 'Lemon Milk'
      font-size: 36px
      color: #fff

      @include for-big-desktop-up
        font-size: 43px

    & .description
      margin-top: 15px
      font-size: 16px
      color: #fff
      overflow: hidden
      text-overflow: ellipsis
      display: -webkit-box
      display: -moz-box
      box-orient: vertical
      -webkit-box-orient: vertical
      -moz-box-orient: vertical
      -webkit-line-clamp: 3 // line-count
      line-clamp: 3 // line-count
      line-height: 18px // line-height
      max-height: calc(18px * 3) // line-height * line-count

    & .price
      display: block
      margin-top: 25px

      & .toPrice, & .fromPrice
        font-family: 'Montserrat'
        font-weight: 800
        line-height: 1

      & .rowDiscount
        display: flex
        align-items: center

        & .fromPrice
          margin-right: 10px
          color: #984BFB
          font-size: 29px

          &:after
            font-size: 16px

            @include for-big-desktop-up
              font-size: 19px

        & .discount
          display: block
          color: #fff
          font-weight: 700
          font-size: 16px
          background-color: rgba(147, 73, 242, 0.8)
          border-radius: 20px
          padding: 5px 8px
          line-height: 1

      & .toPrice
        color: #C745CB
        font-size: 48px
        margin-top: 5px

        &:after
          font-size: 25px

          @include for-big-desktop-up
            font-size: 31px

    & .actions
      display: flex
      margin-top: 25px

      & .btn
        font-size: 18px

        &:not(:last-child)
          margin-right: 20px

      & .moreInfo
        border: 1px solid #C745CB
        padding: 6px 15px

      & .preOrderInfo
        max-width: 250px
        min-width: 250px

      & .dlcInfo
        max-width: max-content
        min-width: max-content

    & .extends
      display: flex
      margin-top: 20px

      & .item
        width: 47px
        height: 40px
        background-image: url("./../img/extendBorder.svg")
        background-position: center
        background-size: cover
        display: flex
        justify-content: center
        align-items: center
        position: relative

        &:hover > .description
          opacity: 1
          visibility: visible


        &:not(:last-child)
          margin-right: 10px

        & img
          width: 30px
          height: 30px

        & .description
          position: absolute
          font-size: 15px
          font-weight: initial
          color: #7AD6FF
          background: #051770
          box-shadow: 0 0 40px rgba(204, 0, 255, 0.69)
          border-radius: 20px
          white-space: nowrap
          padding: 10px 15px
          opacity: 0
          visibility: hidden
          transition: 0.3s ease-in
          top: calc(100% - 10px)

  & .textContent
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: $ZIndex-Cover-Content
    width: 100%
    max-width: 1000px

    & > .title, & > .description
      color: #fff
      text-align: center

    & > .coverIcon
      margin: 0 auto
      display: block

    & > .title
      font-family: 'Lemon Milk'
      font-size: 40px
      font-weight: 500

    & > .description
      margin-top: 15px
      overflow: hidden
      text-overflow: ellipsis
      display: -webkit-box
      display: -moz-box
      -webkit-box-orient: vertical
      -moz-box-orient: vertical
      box-orient: vertical
      line-clamp: 3 // line-count
      -webkit-line-clamp: 3 // line-count
      line-height: 18px // line-height
      max-height: calc(18px * 3) // line-height * line-count

  & > .btn
    position: absolute
    bottom: 200px
    left: 50%
    transform: translateX(-50%)
    z-index: $ZIndex-Cover-Btn