.discount
  display: block
  border-radius: 10px
  padding: 6px
  font-weight: 600
  font-size: 24px
  max-width: max-content
  height: max-content

  &:before
    margin-right: 5px
    content: '-'

  &:after
    margin-left: 1px
    content: '%'