.discount
  display: block
  border-radius: 10px
  padding: 5px 8px
  font-weight: 600
  font-size: 20px
  max-width: max-content

  &:before
    margin-right: 5px
    content: '-'

  &:after
    margin-left: 1px
    content: '%'