@import './breakPoints'

.doubleGameSlider
  max-width: max-content

  &:not(:first-child)
    margin-top: 30px

    @include for-desktop-up
      margin-top: 70px

  & > .title
    font-family: 'Montserrat'
    font-size: 16px
    color: #fff
    font-weight: 600
    border: 1px solid #FFFFFF
    border-radius: 40px
    padding: 6px 12px
    max-width: max-content

    @include for-desktop-up
      font-size: 18px
      border-radius: 40px
      padding: 8px 15px

  & .slider
    & .visibleAreaWrapper
      overflow: hidden
      padding: 15px 0

      @include for-middle-desktop-up
        padding: 20px 5px

      & .visibleArea
        max-width: calc((135px + 5px * 2) * 2)

        @include for-middle-phone-up
          max-width: calc((150px + 5px * 2) * 2)

        @include for-middle-desktop-up
          max-width: calc((154px + 5px * 2) * 2)

        @include for-big-desktop-up
          max-width: calc((171px + 5px * 2) * 2)

        & .tape
          display: flex
          transition: transform .3s ease-in

          & .slide
            visibility: hidden
            opacity: 0
            min-width: 135px
            max-width: 135px
            min-height: 205px
            max-height: 205px
            margin: 0 5px
            transition: .3s ease-in
            transition-property: opacity, visibility

            @include for-middle-phone-up
              min-width: 150px
              max-width: 150px
              min-height: 235px
              max-height: 235px

            @include for-middle-phone-up
              min-width: 150px
              max-width: 150px
              min-height: 230px
              max-height: 230px

            @include for-middle-desktop-up
              min-width: 154px
              max-width: 154px
              min-height: 243px
              max-height: 243px

            @include for-big-desktop-up
              min-width: 171px
              max-width: 171px
              min-height: 270px
              max-height: 270px

            &.active
              visibility: visible
              opacity: 1

    .slideControls-rounded
      @include for-big-phone-down
        display: none
