@import './breakPoints'

.doubleGameSlider
  max-width: max-content

  & .title
    font-family: 'Lemon Milk'
    font-size: 24px
    text-align: center
    color: #fff

  & .slider
    & .visibleAreaWrapper
      overflow: hidden
      padding: 26px 13px

      @include for-middle-desktop-up
        padding: 30px 11px

      @include for-big-desktop-up
        padding: 33px 10px

      & .visibleArea
        max-width: calc((128px + 10px * 2) * 2)

        @include for-middle-desktop-up
          max-width: calc((154px + 15px * 2) * 2)

        @include for-big-desktop-up
          max-width: calc((171px + 20px * 2) * 2)

        & .tape
          display: flex
          transition: transform .3s ease-in

          & .slide
            visibility: hidden
            opacity: 0
            min-width: 128px
            max-width: 128px
            min-height: 201px
            max-height: 201px
            margin: 0 10px
            transition: .3s ease-in
            transition-property: opacity, visibility

            @include for-middle-desktop-up
              min-width: 154px
              max-width: 154px
              min-height: 243px
              max-height: 243px
              margin: 0 15px

            @include for-big-desktop-up
              min-width: 171px
              max-width: 171px
              min-height: 270px
              max-height: 270px
              margin: 0 20px

            &.active
              visibility: visible
              opacity: 1