@import './breakPoints'

.fieldedList
  list-style: none
  color: rgba(255, 255, 255, 0.8)
  font-size: 10px
  font-weight: 600
  flex-grow: 1
  line-height: 1

  & > .item
    display: flex

    &:not(:last-child)
      margin-bottom: 5px

    & .name, & .value
      width: 50%
      line-height: 1.5

  @include for-middle-phone-up
    font-size: 12px

  @include for-big-phone-up
    font-size: 16px

    & > .item:not(:last-child)
      margin-bottom: 10px

  @include for-big-desktop-up
    font-size: 18px