@import './breakPoints'

.fieldedList
  list-style: none
  color: #fff
  font-size: 10px
  font-weight: 600
  flex-grow: 1
  line-height: 1

  & > .item
    display: flex

    &.secondary
      color: rgba(255, 255, 255, 0.5)

    &:not(:last-child)
      margin-bottom: 3px

    & .name, & .value
      line-height: 1.5

    & .name
      width: 45%

    & .value
      width: 55%

      .link
        color: #5488ff
        text-decoration: underline

  @include for-middle-phone-up
    font-size: 12px

  @include for-big-phone-up
    font-size: 16px

    & > .item:not(:last-child)
      margin-bottom: 5px

  @include for-middle-desktop-up
    font-size: 18px