@import './breakPoints'

.fillUpSteamPage
  width: 100%
  
  // #1280px  
  @include for-small-desktop-up
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  
  .modalContainer
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100vh
    background: rgba(1, 3, 58, 0.5)
    z-index: 3
    opacity: 0
    visibility: hidden
    transition: .3s ease-in
    transition-property: opacity, visibility

    &.active
      opacity: 1
      visibility: visible

    .content
      position: relative
      display: flex
      flex-direction: column
      gap: 24px
      background-color: #01033A 
      border-radius: 8px
      padding: 24px
      max-width: 464px

      @include for-desktop-up
        max-width: initial
        padding: 35px

      .title
        font-family: 'Lemon Milk'
        font-size: 24px
        line-height: 1
        color: #FFFFFF
        font-weight: 400
        line-height: 140%

        @include for-desktop-up
          font-size: 32px

      .img
        display: block
        width: 100%

        @include for-desktop-up
          max-width: initial

      .link
        color: #984BFB
        text-decoration: underline
        display: block
        font-size: 14px

        @include for-desktop-up
          margin-top: 20px
          font-size: 16px

      .moreInfoLogin
        color: #fff
        font-size: 14px
        line-height: 160%

        @include for-desktop-up
          font-size: 16px

        .moreInfoLoginLink
          color: #5488ff

      .btn
        width: 100%
        padding: 12px 24px
        font-size: 16px
        font-weight: 700
        background: #8D00FC
        border: 0
      
      .icon-close
        position: absolute
        top: 28px
        right: 24px
        width: 12px
        height: 12px
        cursor: pointer

  .mainContent
    width: 100%
    
    // #1280px  
    @include for-small-desktop-up
      max-width: 586px
    
    // #1366px  
    @include for-desktop-up
      max-width: 619px
      
    // #1920px
    @include for-big-desktop-up 
      max-width: 708px

    & > .title
      margin-bottom: 24px
      font-family: "Lemon Milk"
      font-style: normal
      line-height: 120%
      font-weight: 400
      font-size: 24px
      color: #FFFFFF
      
      @include for-tablet-portrait-up
        font-size: 48px

    .warnWrapper
      display: flex
      align-items: center
      gap: 16px
      border-radius: 8px
      border: 1px solid rgba(152, 75, 251, 0.24)
      background: rgba(50, 0, 101, 0.32)
      margin-top: 24px
      padding: 16px 24px
      
      // #1280px  
      @include for-small-desktop-up
        margin-top: 48px
      
      // #1366px  
      @include for-desktop-up
        max-width: 512px
      
      // #1920px  
      @include for-big-desktop-up  
        width: 464px
        
      .icon-alertCircle
        width: 24px
        height: 24px
        
        // #1280px  
        @include for-small-desktop-up
          width: 32px
          height: 32px
        
      .notice
        font-size: 12px
        line-height: 160%
        
        // #1280px  
        @include for-small-desktop-up
          font-size: 14px
    
    .description
      font-family: 'Montserrat'
      font-style: normal
      font-weight: 400
      font-size: 14px
      line-height: 140%
      color: #FFFFFF
      
      // #1280px  
      @include for-small-desktop-up
        font-size: 18px
      
      .link
        font-size: 12px
        font-weight: 500
        color: #EB00FF
        text-decoration: underline

        @include for-desktop-up
          font-size: 16px

      &.warning
        color: #EB00FF

    .form
      margin-top: 48px
      
      // #1366px  
      @include for-desktop-up
        max-width: 512px
        
      // #1920px 
      @include for-middle-desktop-up
        max-width: 464px

      .input-frame
        margin-bottom: 24px

        @include for-desktop-up
          margin-bottom: 20px
          
        &.active .inputPlaceholder .placeholder
          display: none
        
        &.error 
          .textField
            border: 1px solid #EB00FF
          
          .errorText
            display: block
        
        
        .withIcon
          position: absolute
          top: 22px
          font-size: 12px
          font-weight: 500
          padding: 2px 2px 2px 8px
          border-radius: 99px
          background: rgba(255, 255, 255, 0.12)
          margin-left: 8px
          
          .icon-infoCircle
            margin-right: 0
            margin-left: 8px
            background-color: #fff
            
        .mobileUp
          display: none
             
        @include for-middle-phone-up
          .mobile
            display: none
          
          .mobileUp
            display: block
              
        .inputPlaceholder
          position: relative
          
          .placeholder
            position: absolute
            pointer-events: none
            top: 0
            bottom: 0
            left: 24px
            display: flex
            height: 24px
            margin: auto
            font-size: 18px
            color: rgba(255, 255, 255, 0.5)
            
            span
              display: none
              // #1280px  
              @include for-small-desktop-up
                display: block
                
        .textField
          width: 100%
          padding: 10px 10px 10px 24px
          border-radius: 99px
          border: 1px solid rgba(255, 255, 255, 0.20)
          font-size: 18px
          line-height: 120%
          
          &::placeholder
            font-size: 18px
              
      .checkboxDiamond
        &.error 
          .errorText
            display: block
        
        // #1280px  
        @include for-small-desktop-up
          svg
            width: 36px
            height: 36px
        
          .checkboxLabel
            font-size: 18px
          
      .fastSelect
        display: flex
        justify-content: space-between
        border-radius: 99px
        background: rgba(255, 255, 255, 0.08)
        margin: 24px 0
        padding: 8px

        &-item
          font-family: 'Montserrat'
          font-weight: 700
          font-size: 16px
          line-height: 1
          padding: 6px 12px
          border-radius: 99px

          @include for-desktop-up
            padding: 4px 14px
            font-size: 16px

          &.active
            background: #8D00FC

      .paymentMethods
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        gap: 8px
        margin-top: 68px
        column-gap: 20px
      
        // #1280px  
        @include for-small-desktop-up
          margin-top: 80px
          flex-wrap: nowrap
          
        .variant
          cursor: pointer
          flex-grow: 1
          background: rgba(50, 0, 101, 0.32)

          .input
            display: none

            &:checked ~ .block
              border: 1px solid #EB00FF

          .block
            font-family: 'Montserrat'
            border: 1px solid transparent
            border-radius: 8px
            padding: 16px
            color: #fff
            line-height: 1
            height: 100%

            .tag
              display: inline-block
              font-size: 14px
              font-weight: 600
              border-radius: 99px
              background: #197C00
              padding: 3.5px 12px
              margin-bottom: 8px
              
              // #1280px  
              @include for-small-desktop-up
                position: absolute
                top: -30px
                left: 0 
                margin-bottom: 0

            .name
              font-weight: 700
              font-size: 20px
              line-height: 120%
              
              // #1280px  
              @include for-small-desktop-up
                width: 140px

            .description
              font-weight: 400
              font-size: 18px
              line-height: 120%
              margin-top: 8px

          &.sbp
            position: relative

      .check
        display: flex
        flex-direction: column
        gap: 24px
        border-radius: 16px
        background: rgba(255, 255, 255, 0.08)
        padding: 24px
        margin-top: 48px

        .title
          font-family: 'Montserrat'
          color: #FFFFFF
          font-size: 20px
          font-style: normal
          font-weight: 700
          line-height: 120%

        .body
          font-family: 'Montserrat'
          color: #fff
          font-size: 18px
          font-weight: 500
          line-height: 120%

          .item
            display: flex
            justify-content: space-between

            &:not(:last-child)
              margin-bottom: 24px

            .value
              font-weight: 700
              white-space: nowrap
          
        .divider
          border-bottom: 1px solid rgba(255, 255, 255, 0.20)
        
        .total
          font-size: 20px
          font-weight: 700
          color: #fff
          display: flex
          justify-content: space-between

          .value
            color: #EB00FF

        .btn
          height: 48px
          padding: 12px 24px
          background-color: #8D00FC
          font-size: 16px
          font-weight: 700
          width: 100%
          border-radius: 99px

      .fillUpSubmitResult
        margin-top: 10px
        color: #00b048
        font-size: 14px
        
        &.error:before
          content: ''
          display: block
          background-position: center
          background-size: contain
          background-repeat: no-repeat
          padding: 19px
          background-image: url("./../img/alert_circle.svg")
          margin-right: 16px
        
        @include for-desktop-up
          font-size: 16px

        &.error
          display: flex
          margin-top: 31px
          padding: 16px 24px
          color: #FFF
          line-height: 160%
          border-radius: 8px
          border: 1px solid rgba(152, 75, 251, 0.24)
          background: rgba(50, 0, 101, 0.32)

  .additional
    margin-top: 48px
    
    @include for-small-desktop-up
      max-width: 484px

    .fillUpStatistics
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-auto-rows: minmax(100px, auto)
      gap: 32px 30px

      .statisticInput
        row-gap: 12px
        
        .label
          font-size: 16px
          font-weight: 400
          line-height: 140%
          
        .value
          border: none
          padding: 20px 24px
          background: #ffffff14
          font-size: 24px
          line-height: 140%

    .fillUpTabInfo
      margin-top: 48px
      
      .actionsBtn
        display: flex
        column-gap: 8px

        .btn
          background-color: #410074
          border-radius: 99px
          padding: 16px
          font-size: 16px
          font-weight: 700

          &.active
            background-color: #8D00FC

      .blocks
        display: flex
        flex-direction: column
        justify-content: center
        gap: 16px
        margin-top: 24px  
         
        border-radius: 8px
        
        .tabBlock
          display: none
          
          &.active
            display: block
        
        .tabBlock-instruction
          padding: 16px
          background-color: red
          background: rgba(255, 255, 255, 0.08)
          
          // #1280px 
          @include for-small-desktop-up
            padding: 16px 24px
          
          .list
            list-style-type: none

            .element
              display: flex
              gap: 16px
              color: #FFF
              font-weight: 500
              line-height: 140%
              font-size: 16px

              .link
                color: #984BFB
                text-decoration: underline
                text-underline-offset: 4px
                cursor: pointer
              
              .number
                font-family: 'Lemon Milk'
                display: flex
                justify-content: center
                align-items: center
                font-size: 14px
                font-weight: 400
                line-height: 100%
                min-width: 24px
                height: 23px
                background-color: #8D00FC
                border-radius: 50%
            
            .divider
              padding-bottom: 16px
              margin-bottom: 16px 
              border-bottom: 1px dashed #FFFFFF1F
              
        .tabBlock-faq
          
          .collapse
            padding: 16px 24px
            
          .item
            .head
              line-height: 140%
              
            .content span
              font-weight: 400
              line-height: 160%
              
            .divider
              border: none
              margin-bottom: 16px
              margin-top: 16px
              
            &:not(:last-child)
              margin-bottom: 8px
              
              @include for-big-phone-up
                margin-bottom: 12px
              
            &:hover
              background: #984BFB
              
            &.active
              background: #32006552
              
              .divider
                background-color: #ffffff1f
                color: #ffffff1f
                height: 1px    
          
    .fillUpReviews
      margin-top: 48px
      border-radius: 16px
      padding: 24px
      color: #fff
      background: rgba(255, 255, 255, 0.08)

      .title
        font-size: 20px
        font-weight: 700
        line-height: 120%

      .description
        border-radius: 8px
        border: 1px solid #EB00FF
        padding: 16px 24px
        margin-top: 24px
        font-size: 16px
        font-weight: 600
        line-height: 140%
        
        p
          background:url("./../img/alert_circle.svg") no-repeat left center 
          background-size: 32px 
          display:inline-block
          vertical-align:bottom
          padding-left: 44px

      .addReviewForm
        margin-top: 24px
        
        .label
          font-size: 18px
          line-height: 120%
          margin-bottom: 16px
          
        .stars 
          margin-bottom: 24px
          
          .input:checked ~ .star .icon
            background-color: #EB00FF
          
          .star:hover
            & .icon, & ~ .star .icon
             background-color: #EB00FF

        .senderField
          align-items: center
          gap: 8px
          padding: 11px 24px
          border-radius: 99px
          border: 1px solid rgba(255, 255, 255, 0.20)
          
          .btn
            align-self: flex-end
          
          .autoSizeInput
            margin: 0
            min-height: 44px
            
            @include for-tablet-portrait-up
              min-height: auto

          .placeholder
            white-space: pre-wrap
            font-size: 18px
            line-height: 120%
            
          .icon-sendReview
            width: 28px
            height: 28px

      .reviewsList
        margin-top: 24px

        .item
          border: none
          padding: 16px
          border-radius: 12px
          background: rgba(255, 255, 255, 0.08)
          
          &:not(:last-child)
            margin-bottom: 16px
          
          .head a 
            font-size: 18px
            font-weight: 500
            line-height: 120%
            
          
          
          .grade, .text
            margin-top: 16px
          
          .text
            font-size: 18px
            font-weight: 400
            line-height: 120%
          
          .grade
            .icon
              margin-right: 6px
              background-color: #EB00FF

      .loadMore
        font-size: 18px
        font-style: normal
        font-weight: 500
        line-height: 120%
        margin: 24px auto 0 auto

      .externalReviews
        margin-top: 24px
        display: flex
        flex-direction: column
        gap: 8px
        
        // #1280px  
        @include for-small-desktop-up
          flex-direction: row
        
        .btn
          width: 100%
          padding: 7.5px 16px
          border-radius: 99px
          border: 1px solid rgba(255, 255, 255, 0.20)
          font-size: 14px
          font-weight: 500
          line-height: 120%
          
          .icon-pinkExternalLink
            width: 12px
            height: 12px
            margin-right: 8px

  .chips
    color: #fff
    margin-top: 56px
    margin-bottom: 40px

    @include for-desktop-up
      margin-top: 80px

    .title
      font-family: 'Lemon Milk'
      font-size: 24px
      font-weight: 400
      line-height: 120%
      
      // #1280px  
      @include for-small-desktop-up
        font-size: 48px

    .description
      margin-top: 24px
      font-size: 14px
      font-weight: 400
      line-height: 140%
      
      // #1280px  
      @include for-small-desktop-up
        font-size: 18px

    .items
      margin-top: 48px
      display: flex
      flex-direction: column
      gap: 32px
      
      // #1280px  
      @include for-small-desktop-up
        display: flex
        flex-direction: row
        justify-content: space-between

      .item
        // #1280px  
        @include for-small-desktop-up
          max-width: 263px

        .head
          @include for-desktop-up
            height: 135px

          .img
            max-height: 92px
            min-height: 92px

          .title
            margin-top: 12px
            font-size: 20px
            font-family: Montserrat
            font-weight: 700
            line-height: 120%
        
        .description
            font-size: 16px
            font-weight: 500
            line-height: 140%
            margin-top: 8px
  
  .checkbox
  
    .label
      font-weight: 400
      line-height: 120%
      
  .errorText
    display: none
    color: #FFF
    font-size: 14px
    line-height: 120%
    margin-top: 8px
    
    background:url("./../img/alert_circle.svg") no-repeat left center 
    background-size: 16px 
    display:inline-block
    vertical-align:bottom
    padding-left: 24px