@import './zIndex'
@import './breakPoints'

.gamePage
  & .cover
    @include for-big-phone-down
      overflow: initial
      display: flex
      flex-direction: column
      padding-top: 130px
      align-items: center

      &:before, &:after
        content: initial

      & .img
        display: none

      & .mobileImgContainer
        display: flex
        align-items: center
        justify-content: center
        background-size: cover
        background-position: center
        background-image: url('./../img/mobilePorductPageImgDecore.svg')
        height: 424px
        width: 100%
        margin: -40px 0

        @include for-middle-phone-up
          height: 502px
          margin: -45px 0

        & .mobileImg
          object-fit: cover
          width: 175px
          height: 274px
          border: 2px solid #fff
          border-radius: 20px

          @include for-middle-phone-up
            width: 210px
            height: 325px

      & .description
        font-family: 'Montserrat'
        display: -webkit-box
        display: -moz-box
        font-style: normal
        padding: 0 40px
        font-weight: 400
        font-size: 12px
        line-height: 15px
        max-height: calc(15px * 3) //lineHeight * countRows

        @include for-middle-phone-up
          padding: 0 45px

      & .mobileBuyContainer
        display: flex
        flex-wrap: wrap
        align-items: end
        justify-content: space-between
        padding: 15px
        row-gap: 15px

        & .price
          align-items: start

        & .actions
          display: contents

          & .moreInfoBlocks
            display: flex
            column-gap: 10px

            & .moreInfo
              min-width: initial
              font-size: 11px
              padding: 5px
              border-radius: 7px
              font-weight: 300

              &.preOrderInfo
                align-self: flex-start

    @include for-big-phone-up
      & .mobileImgContainer
        display: none

      & .mobileBuyContainer
        display: contents

        & .moreInfoBlocks
          display: contents

    & .offer
      @include for-big-phone-down
        display: contents

        &:after, &:before
          content: initial

      & .packages
        display: flex
        column-gap: 10px
        order: -1

        @include for-big-phone-up
          margin-top: -70px
          margin-bottom: 25px
          order: initial

          & .tooltip
            & .prompt
              background-color: #2F305E
              color: #fff
              padding: 10px 25px
              border-radius: 10px
              margin-top: 12px
              left: initial
              transform: initial

              & .list
                list-style: none

                & .item
                  white-space: nowrap
                  padding: 10px 3px
                  line-height: 1
                  font-weight: 600

                  &:not(:last-child)
                    border-bottom: 1px solid #fff

                  &.moreElements
                    color: #FA00FF

      & .name
        padding: 0 40px
        font-weight: 100

        @include for-middle-phone-up
          padding: 0 45px

        @include for-big-phone-up
          padding: initial

      & .statuses
        display: flex
        margin-top: 12px
        column-gap: 15px

        @include for-big-phone-up
          column-gap: 25px

        & .status
          color: rgba(255, 255, 255, 0.4)
          font-size: 12px
          display: flex
          align-items: center
          font-weight: 600

          &:before
            content: ''
            display: block
            width: 9px
            height: 9px
            border-radius: 100%
            margin-right: 5px

          &.positive:before
            background-color: rgba(0, 255, 56, 0.4)

          &.negative:before
            background-color: rgba(255, 0, 0, 0.4)

          @include for-big-phone-up
            font-size: 16px

            &:before
              margin-right: 7px

      & .extends
        display: flex
        column-gap: 10px

        & .tooltip
          & .extend
            width: 40px
            height: 35px
            background-image: url("./../img/extendBorder.svg")
            background-size: cover
            background-position: center
            position: relative
            overflow: initial

            @include for-big-phone-up
              width: 47px
              height: 41px

            &:hover, &:focus-visible
              outline: none
              transform: scale(1.2, 1.2)

            & .extendIcon
              width: 28px
              object-fit: initial

              @include for-big-phone-up
                width: 33px

          & .prompt
            filter: drop-shadow(0 0 10px #8F00FF)

            &:before
              content: ""
              display: block
              position: absolute
              border-width: 7px
              border-style: solid
              border-color: transparent
              border-bottom-color: #db00ff
              bottom: calc(100% - 12px)
              left: 50%
              transform: translateX(-50%)

              @include for-big-phone-up
                border-width: 10px
                bottom: calc(100% - 15px)

            & .extendName
              margin-top: 12px
              white-space: nowrap
              color: #fff
              background-color: #DB00FF
              padding: 4px 8px
              font-size: 12px
              font-weight: 600
              clip-path: polygon(6px 0, calc(100% - 6px) 0, 100% 6px, 100% calc(100% - 6px), calc(100% - 6px) 100%, 6px 100%, 0 calc(100% - 6px), 0 6px)
              line-height: 1.4

              @include for-big-phone-up
                padding: 6px 10px
                font-size: 14px
                margin-top: 15px

  & .infoBlock
    background-color: #320065
    border-radius: 10px
    padding: 15px

    @include for-big-phone-up
      padding: 30px 45px
      border-radius: 40px

    & .item p
      color: #fff
      line-height: 1.5

      &:not(:last-child)
        margin-bottom: 30px

  & .main
    @include for-big-phone-down
      padding: 25px 0 0 0

    @include for-big-phone-up
      margin-top: 25px

    @include for-big-phone-down
      background-color: initial

    & .fieldedList
      @include for-big-phone-down
        margin-top: 20px
        background-color: #320065
        border-radius: 10px
        padding: 15px

      @include for-big-phone-up
        margin-right: 15px

    & .gallerySlider
      @include for-big-phone-up
        display: flex
        align-items: center

      & .btn
        &.prev, &.next
          @include for-big-phone-down
            display: none

      & .visibleAreaWrapper
        overflow: hidden

        @include for-big-phone-up
          padding: 9px 19px //paddingWrapper

        @include for-middle-desktop-up
          padding: 11px 22px //paddingWrapper

        @include for-big-desktop-up
          padding: 12px 24px //paddingWrapper

        & .visibleArea
          @include for-big-phone-up
            max-width: calc((287px + 15px * 2) * 2) //(widthSlide + marginSlide * 2) * countSlides

          @include for-middle-desktop-up
            max-width: calc((346px + 15px * 2) * 2) //(widthSlide + marginSlide * 2) * countSlides

          @include for-big-desktop-up
            max-width: calc((403px + 15px * 2) * 2) //(widthSlide + marginSlide * 2) * countSlides

          & .tape
            display: flex
            transition: .3s ease-in
            transition-property: transform

            & .slide
              visibility: hidden
              opacity: 0
              transition: .3s ease-in
              transition-property: opacity, visibility, transform
              width: 100%
              min-width: 100%
              overflow: hidden
              border-radius: 25px
              position: relative
              height: 170px
              min-height: 170px
              max-height: 170px

              &.active
                visibility: visible
                opacity: 1

              &.video:before
                content: ''
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                width: 31px
                height: 40px
                background-image: url("./../img/playVideo.svg")
                background-size: cover
                background-position: center

              & .img
                width: 100%
                height: 100%
                object-fit: cover

              @include for-middle-phone-up
                height: 185px
                min-height: 185px
                max-height: 185px

              @include for-big-phone-up
                margin: 0 15px //marginSlide
                min-width: 287px //widthSlide
                border-radius: 40px
                max-width: 287px
                height: 176px
                min-height: 176px
                max-height: 176px

                &:hover, &:focus-visible
                  transform: scale(1.1, 1.1)

              @include for-middle-desktop-up
                min-width: 346px //widthSlide
                max-width: 346px
                height: 213px
                min-height: 213px
                max-height: 213px

              @include for-big-desktop-up
                min-width: 403px //widthSlide
                max-width: 403px
                height: 248px
                min-height: 248px
                max-height: 248px

      & .next .icon-static
          transform: rotate(180deg)

    @include for-big-phone-up
      display: flex
      align-items: center
      margin-top: initial

      & .gallerySlider
        order: 1

  & .fullInfo
    margin-top: 20px

    @include for-big-phone-up
      display: flex
      column-gap: 70px
      margin-top: 100px

    & .sideBar
      @include for-big-phone-down
        display: none

      &.doubleGameSlider:not(:last-child)
        margin-bottom: 60px

    & .info
      flex-grow: 1

      & .generalInfo
        & .hiddenElementsList
          overflow: hidden
          max-height: 0%
          opacity: 0
          transition: max-height .3s ease-in
          transition-property: max-height, opacity
          border-top: 1.5px solid hsla(0, 0%, 100%, .3)

          &.active
            max-height: 100%
            opacity: 1

        & .moreElements
          text-decoration: underline
          margin-top: 10px

        & .nav
          column-gap: 10px

          @include for-big-phone-up
            column-gap: 25px

        & .link
          color: #5488ff
          text-decoration: underline

        & .items
          display: block
          margin-top: 15px
          font-size: 13px

          @include for-big-phone-up
            margin-top: 25px
            font-size: 16px

          & > .item
            display: none
            flex-direction: column
            justify-content: center

            &.active
              display: flex

            & .package
              margin-bottom: 10px
              cursor: initial

              @include for-big-phone-up
                margin-bottom: 25px

    & .systemInfo
      margin-top: 30px

      &.productSeries

        & .rowProducts
          display: flex
          column-gap: 20px

          @include for-big-phone-down
            padding: 20px 10px

      & .slider
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0 auto

        @include for-desktop-up
          margin: initial

        & .visibleAreaWrapper
          overflow: hidden
          padding: 15px 0

          @include for-desktop-up
            padding: 26px 5px

          @include for-middle-desktop-up
            padding: 30px 5px

          @include for-big-desktop-up
            padding: 33px 10px

          & .visibleArea
            max-width: calc((124px + 10px * 2) * 1)

            @include for-middle-phone-up
              max-width: calc((124px + 10px * 2) * 2)

            @include for-desktop-up
              max-width: calc((128px + 15px * 2) * 4)

            @include for-middle-desktop-up
              max-width: calc((154px + 15px * 2) * 4)

            @include for-big-desktop-up
              max-width: calc((171px + 20px * 2) * 4)

            & .tape
              display: flex
              transition: transform .3s ease-in

              & .slide
                visibility: hidden
                opacity: 0
                transition: .3s ease-in
                transition-property: visibility, opacity
                margin: 0 10px

                @include for-desktop-up
                  margin: 0 15px

                @include for-big-desktop-up
                  margin: 0 20px

                &.active
                  visibility: visible
                  opacity: 1

        & .next, & .prev
          @include for-big-phone-down
            display: none

        & .next .icon-static
          transform: rotate(180deg)

      @include for-big-phone-up
        margin-top: 50px

      & .title
        cursor: initial

      & .fieldedList
        margin-top: 15px

        @include for-big-phone-up
          margin-top: 25px

        & .name
          max-width: 300px

    & .feedback
      margin-top: 30px

      @include for-big-phone-up
        margin-top: 80px

      & .listItems
        &:not(:first-child)
          margin: 10px 0 0 0

        @include for-big-phone-up
          margin: 0 45px

        & .item:not(:first-child)
          margin-top: 10px

      & .loadMore
        margin: 25px auto 0 auto

      & .nav
        column-gap: 15px

        @include for-big-phone-up
          column-gap: 25px

      & .blocks
        margin-top: 15px

        @include for-big-phone-up
          margin-top: 25px

      & .reviews .addNew .textReview
        margin-top: 20px

        @include for-big-phone-up
          margin-top: 30px

      & .reviews, & .comments
        & .addNew
          position: relative
          overflow: hidden

          &.locked .lockBlock
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            color: #fff
            z-index: $ZIndex-Reviews-AddNew-Locked
            background-color: rgba(50, 0, 101, 0.85)
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            text-align: center

            & .text
              margin-top: 8px
              width: 260px
              font-size: 12px

              @include for-big-phone-up
                width: 450px
                margin-top: 12px
                font-size: 16px

  & .lastViews
    margin-top: 30px

    @include for-big-phone-up
      margin-top: 120px