@import './breakPoints'

.gameGrid
  display: grid
  grid-template-columns: repeat(1, max-content)
  justify-content: center
  row-gap: 20px

  @include for-middle-phone-up
    grid-template-columns: repeat(2, max-content)
    justify-content: space-around

  @include for-big-phone-up
    grid-template-columns: repeat(5, max-content)
    row-gap: 50px
    column-gap: 30px