@import './breakPoints'

.gameGrid
  display: grid
  grid-template-columns: repeat(2, max-content)
  justify-content: space-between
  row-gap: 20px
  column-gap: 0px

  @include for-middle-phone-up
    grid-template-columns: repeat(2, max-content)
    justify-content: space-between

  @include for-big-phone-up
    grid-template-columns: repeat(5, max-content)
    row-gap: 50px
    column-gap: 30px