@import './breakPoints'

.gameGrid
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(132px, 1fr))
  gap: 12px

  @include for-small-desktop-up
    grid-template-columns: repeat(auto-fit, minmax(202px, 1fr))
    gap: 30px