@import './zIndex'
@import './breakPoints'

.videoMacro
  display: none

  .videoSource
    display: none

.gamePage
  & .cover
    overflow: initial
    padding-top: 130px
    grid-template-rows: auto

    @include for-big-phone-down
      &:before, &:after
        content: initial

      & .img
        display: none

    @include for-desktop-up
      padding-top: initial

    & .offer
      display: flex
      text-align: center
      flex-direction: column
      align-items: center
      width: 100%
      z-index: $ZIndex-Cover-Offer
      line-height: 1.3

      @include for-desktop-up
        position: absolute
        top: 190px
        left: 50%
        transform: translateX(-50%)
        text-align: initial
        align-items: initial

      .offerMacro
        display: contents

      & .packages
        align-self: start
        width: 100%
        display: flex
        column-gap: 10px

        @include for-desktop-up
          & .tooltip
            & .prompt
              background-color: #2F305E
              color: #fff
              padding: 10px 25px
              border-radius: 10px
              margin-top: 12px
              left: initial
              transform: initial
              max-width: 350px

              & .list
                list-style: none

                & .item
                  white-space: nowrap
                  padding: 10px 3px
                  line-height: 1
                  font-weight: 600
                  overflow: hidden
                  text-overflow: ellipsis

                  &:not(:last-child)
                    border-bottom: 1px solid #fff

                  &.moreElements
                    color: #FA00FF

      & .head
        width: calc(100% + 30px)
        position: relative

        @include for-desktop-up
          max-width: 500px
          margin-top: 50px
          width: initial

        @include for-middle-desktop-up
          margin-top: 70px

        & .mobileImgContainer
          display: flex
          align-items: center
          justify-content: center
          background-size: cover
          background-position: center
          background-image: url('./../img/mobilePorductPageImgDecore.svg')
          width: 100%
          margin: -40px 0
          min-height: 425px

          @include for-middle-phone-up
            min-height: 510px

          @include for-desktop-up
            display: none

          & .mobileImg
            object-fit: cover
            border: 2px solid #fff
            border-radius: 20px
            width: 175px
            height: 274px

            @include for-middle-phone-up
              width: 210px
              height: 325px

        & .name, & .name span
          font-family: 'Lemon Milk'
          font-weight: 100
          font-size: 21px
          color: #fff
          padding: 0 15px

          @include for-desktop-up
            display: inline
            font-size: 36px
            max-width: 500px
            padding: initial
            margin-right: 10px

          @include for-middle-desktop-up
            font-size: 40px

        & .totalGrade
          font-family: 'Montserrat'
          font-weight: 700
          font-size: 21px
          line-height: 35px
          color: #fff
          padding: 8px 10px
          border-radius: 8px
          margin-top: 5px
          vertical-align: super

          @include for-big-phone-down
            display: block
            position: absolute
            top: 75px
            right: 20%
            font-size: 18px
            padding: 6px 8px
            border-radius: 5px

          @include for-down-middle-phone
            top: 55px
            right: 21%
            font-size: 16px
            padding: 5px 8px

          &.top
            background-color: #226601

            @include for-desktop-up
              background-color: rgba(78, 204, 17, 0.5)

          &.middle
            background-color: #E1A60F

            @include for-desktop-up
              background-color: rgba(218, 163, 21, 0.5)

          &.bottom
            background-color: #CD2811

            @include for-desktop-up
              background-color: rgba(205, 40, 17, 0.5)

      & .description
        font-family: 'Montserrat'
        margin-top: 10px
        color: #fff
        overflow: hidden
        text-overflow: ellipsis
        box-orient: vertical
        -webkit-box-orient: vertical
        -moz-box-orient: vertical
        display: -webkit-box
        display: -moz-box
        font-style: normal
        font-weight: 400
        font-size: 12px
        line-height: 15px //lineHeight
        -webkit-line-clamp: 3 // line-count
        line-clamp: 3 // line-count
        max-height: 15px * 3 //lineHeight * countRows
        min-height: 15px * 3 //lineHeight * countRows
        max-width: 500px

        @include for-desktop-up
          margin-top: 15px
          font-size: 14px
          display: -webkit-box
          display: -moz-box

        @include for-middle-desktop-up
          font-size: 16px

      & .statuses
        display: flex
        margin-top: 15px
        column-gap: 10px

        @include for-desktop-up
          column-gap: 25px

        & .status
          color: rgba(255, 255, 255, 0.5)
          font-size: 12px
          display: flex
          align-items: center
          font-weight: 600

          &:before
            content: ''
            display: block
            width: 9px
            height: 9px
            border-radius: 100%
            margin-right: 3px

          &.positive:before
            background-color: rgba(0, 255, 56, 0.4)

          &.negative:before
            background-color: rgba(255, 0, 0, 0.4)

          @include for-desktop-up
            font-size: 16px

            &:before
              margin-right: 7px

      & .buyContainer
        display: flex
        width: 100%
        flex-wrap: wrap
        align-items: end
        justify-content: space-between
        row-gap: 15px
        max-width: 500px
        margin-top: 10px

        @include for-desktop-up
          align-items: start
          flex-direction: column
          row-gap: 15px
          margin-top: 25px

        & .price
          display: flex
          align-items: start
          flex-direction: column

          @include for-desktop-up
            align-items: initial

          & .toPrice, & .fromPrice
            font-family: 'Montserrat'
            font-weight: 800
            line-height: 1

          & .rowDiscount
            display: flex
            align-items: center

            & .fromPrice
              margin-right: 10px
              color: #984BFB
              font-size: 18px

              @include for-desktop-up
                font-size: 25px

              &:after
                font-size: 14px

                @include for-big-phone-up
                  font-size: 16px

                @include for-middle-desktop-up
                  font-size: 18px

            & .discount
              display: block
              color: #fff
              font-weight: 700
              font-size: 14px
              background-color: rgba(147, 73, 242, 0.8)
              border-radius: 20px
              padding: 4px 7px
              line-height: 1

          & .toPrice
            color: #C745CB
            font-size: 32px
            margin-top: 5px

            @include for-desktop-up
              font-size: 40px

            &:after
              font-size: 21px

              @include for-big-phone-up
                font-size: 24px

              @include for-middle-desktop-up
                font-size: 30px

        & .actions
          display: flex
          column-gap: 8px
          align-items: center

          @include for-desktop-up
            column-gap: 15px
            flex-direction: row-reverse

        & .moreInfoBlocks
          display: flex
          column-gap: 10px

          & .moreInfo
            font-size: 12px
            padding: 5px
            border-radius: 7px
            font-weight: 300
            line-height: 1.2

            @include for-desktop-up
              font-size: 14px
              padding: 7px

            &.preOrderInfo
              align-self: flex-start

              @include for-desktop-up
                min-width: 250px

      & .extends
        display: flex
        align-self: start
        width: 100%
        column-gap: 10px
        margin-top: 15px
        max-width: 100%
        padding: 3px 5px 64px 5px

        @include for-desktop-up
          margin-top: 25px
          padding: initial

        & .tooltip
          & .extend
            width: 40px
            height: 35px
            background-image: url("./../img/extendBorder.svg")
            background-size: cover
            background-position: center
            position: relative
            overflow: initial

            @include for-big-phone-up
              width: 47px
              height: 41px

            &:hover, &:focus-visible
              outline: none
              transform: scale(1.2, 1.2)

            & .extendIcon
              width: 28px
              object-fit: initial

              @include for-big-phone-up
                width: 33px

          & .prompt
            filter: drop-shadow(0 0 7px #8F00FF)

            @include for-desktop-up
              filter: drop-shadow(0 0 10px #8F00FF)

            &:before
              border-bottom-color: #db00ff

            & .extendName
              margin-top: 12px
              color: #fff
              background-color: #DB00FF
              padding: 4px 8px
              font-size: 12px
              font-weight: 600
              clip-path: polygon(6px 0, calc(100% - 6px) 0, 100% 6px, 100% calc(100% - 6px), calc(100% - 6px) 100%, 6px 100%, 0 calc(100% - 6px), 0 6px)
              line-height: 1.4
              width: max-content
              max-width: 290px

              @include for-big-phone-up
                max-width: 600px
                padding: 6px 10px
                font-size: 14px
                margin-top: 15px

  & .infoBlock
    background-color: #19004F
    border-radius: 10px
    padding: 10px

    @include for-big-phone-up
      padding: 30px 45px
      border-radius: 40px

    & .item p
      color: #fff
      line-height: 1.5

      &:not(:last-child)
        margin-bottom: 30px

  & .main
    @include for-big-phone-down
      padding: 0
      margin-top: -40px

    @include for-big-phone-up
      margin-top: 25px

    @include for-big-phone-down
      background-color: initial

    & .fieldedList
      @include for-big-phone-down
        margin-top: 20px
        background-color: #19004F
        border-radius: 10px
        padding: 15px

      @include for-big-phone-up
        margin-right: 15px

    & .gallerySlider
      @include for-big-phone-up
        display: flex
        align-items: center

      & .btn
        &.prev, &.next
          @include for-big-phone-down
            display: none

      & .visibleAreaWrapper
        overflow: hidden

        @include for-big-phone-up
          padding: 9px 19px //paddingWrapper

        @include for-middle-desktop-up
          padding: 11px 22px //paddingWrapper

        @include for-big-desktop-up
          padding: 12px 24px //paddingWrapper

        & .visibleArea
          @include for-big-phone-up
            max-width: calc((287px + 15px * 2) * 2) //(widthSlide + marginSlide * 2) * countSlides

          @include for-middle-desktop-up
            max-width: calc((346px + 15px * 2) * 2) //(widthSlide + marginSlide * 2) * countSlides

          @include for-big-desktop-up
            max-width: calc((403px + 15px * 2) * 2) //(widthSlide + marginSlide * 2) * countSlides

          & .tape
            display: flex
            transition: .3s ease-in
            transition-property: transform

            & .slide
              visibility: hidden
              opacity: 0
              transition: .3s ease-in
              transition-property: opacity, visibility, transform
              width: 100%
              min-width: 100%
              overflow: hidden
              border-radius: 25px
              position: relative
              height: 170px
              min-height: 170px
              max-height: 170px

              &.active
                visibility: visible
                opacity: 1

              &.video:before
                content: ''
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                width: 31px
                height: 40px
                background-image: url("./../img/playVideo.svg")
                background-size: cover
                background-position: center

              & .img
                width: 100%
                height: 100%
                object-fit: cover

              @include for-middle-phone-up
                height: 185px
                min-height: 185px
                max-height: 185px

              @include for-big-phone-up
                margin: 0 15px //marginSlide
                min-width: 287px //widthSlide
                border-radius: 40px
                max-width: 287px
                height: 176px
                min-height: 176px
                max-height: 176px

                &:hover, &:focus-visible
                  transform: scale(1.1, 1.1)

              @include for-middle-desktop-up
                min-width: 346px //widthSlide
                max-width: 346px
                height: 213px
                min-height: 213px
                max-height: 213px

              @include for-big-desktop-up
                min-width: 403px //widthSlide
                max-width: 403px
                height: 248px
                min-height: 248px
                max-height: 248px

      & .next .icon-static
          transform: rotate(180deg)

    @include for-big-phone-up
      display: flex
      align-items: center
      margin-top: initial

      & .gallerySlider
        order: 1

  & .fullInfo
    margin-top: 20px
    display: flex
    flex-direction: column-reverse

    @include for-desktop-up
      flex-direction: initial
      column-gap: 50px
      margin-top: 60px

    @include for-middle-desktop-up
      column-gap: 60px
      margin-top: 70px

    & .sideBar
      margin-top: 30px

      @include for-desktop-up
        margin-top: 0

    & .info
      flex-grow: 1

      & .generalInfo
        &:not(:first-child)
          margin-top: 20px

          @include for-desktop-up
            margin-top: 50px

        & .hiddenElementsList
          overflow: hidden
          max-height: 0
          opacity: 0
          visibility: hidden
          transition: max-height .3s ease-in
          transition-property: max-height, opacity
          border-top: 1.5px solid hsla(0, 0%, 100%, .3)

          &.active
            max-height: initial
            opacity: 1
            visibility: visible

        & .moreElements
          text-decoration: underline
          margin-top: 10px

        & .nav
          column-gap: 10px

          @include for-big-phone-up
            column-gap: 25px

        & .link
          color: #5488ff
          text-decoration: underline

        & .items
          display: block
          margin-top: 15px
          font-size: 13px

          & > .description
            color: #fff

          @include for-big-phone-up
            margin-top: 25px
            font-size: 16px

          & > .item
            display: none
            flex-direction: column
            justify-content: center

            &.active
              display: flex

            & .package
              margin-bottom: 10px
              cursor: initial

              @include for-big-phone-up
                margin-bottom: 25px

    & .systemInfo
      margin-top: 30px

      & .productSeries
        margin-top: 15px

        @include for-big-phone-up
          margin-top: 25px

        & .rowProducts
          display: flex
          column-gap: 20px

          @include for-big-phone-down
            padding: 20px 10px

      & .slider
        display: flex
        justify-content: center
        align-items: center
        margin-left: auto
        margin-right: auto

        @include for-desktop-up
          justify-content: space-between
          margin: initial

        & .visibleAreaWrapper
          overflow: hidden
          padding: 15px 0

          @include for-desktop-up
            padding: 26px 5px

          @include for-middle-desktop-up
            padding: 30px 5px

          @include for-big-desktop-up
            padding: 33px 10px

          & .visibleArea
            max-width: calc((135px + 2px * 2) * 1)

            @include for-middle-phone-up
              max-width: calc((150px + 2px * 2) * 2)

            @include for-desktop-up
              max-width: calc((150px + 15px * 2) * 4)

            @include for-middle-desktop-up
              max-width: calc((154px + 15px * 2) * 4)

            @include for-big-desktop-up
              max-width: calc((171px + 20px * 2) * 4)

            & .tape
              display: flex
              transition: transform .3s ease-in

              & .slide
                visibility: hidden
                opacity: 0
                transition: .3s ease-in
                transition-property: visibility, opacity
                margin: 0 2px

                @include for-desktop-up
                  margin: 0 15px

                @include for-big-desktop-up
                  margin: 0 20px

                &.active
                  visibility: visible
                  opacity: 1

        & .next, & .prev
          @include for-big-phone-down
            display: none

        & .next .icon-static
          transform: rotate(180deg)

      @include for-big-phone-up
        margin-top: 50px

      & .title
        cursor: initial

      & .fieldedList
        margin-top: 15px

        @include for-big-phone-up
          margin-top: 25px

        & .name
          max-width: 300px

    & .feedback
      margin-top: 30px

      @include for-big-phone-up
        margin-top: 60px

      & .listItems
        &:not(:first-child)
          margin: 10px 0 0 0

        @include for-big-phone-up
          margin: 0 45px

        & .item:not(:first-child)
          margin-top: 10px

      & .loadMore
        margin: 25px auto 0 auto

      & .nav
        column-gap: 15px

        @include for-big-phone-up
          column-gap: 25px

      & .blocks
        margin-top: 15px

        @include for-big-phone-up
          margin-top: 25px

      & .reviews .addNew .textReview
        margin-top: 20px

        @include for-big-phone-up
          margin-top: 30px

      & .reviews, & .comments
        & .addNew
          position: relative
          overflow: hidden

          &.locked .lockBlock
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            color: #fff
            z-index: $ZIndex-Reviews-AddNew-Locked
            background-color: rgba(50, 0, 101, 0.85)
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            text-align: center

            & .text
              margin-top: 8px
              width: 260px
              font-size: 12px

              @include for-big-phone-up
                width: 450px
                margin-top: 12px
                font-size: 16px

  & .lastViews
    margin-top: 70px

    @include for-middle-desktop-up
      margin-top: 80px

    @include for-big-phone-down
      display: none