@import './breakPoints'

.genresSlider
  display: flex
  column-gap: 15px
  align-items: center
  margin-top: 15px
  justify-content: space-between

  @include for-big-phone-up
    margin-top: 40px

  & .visibleArea
    overflow: hidden
    max-height: calc(150px + 120px + 5px * 4) //heightFirstGenre + heightSecondGenre + margin * 4
    width: 100%

    @include for-desktop-up
      width: initial
      max-height: calc((283px + 18px * 2) * 2) //(height + margin * 2) * 2
      padding: 0 14px

    @include for-middle-desktop-up
      max-height: calc((310px + 20px * 2) * 2) //(height + margin * 2) * 2

    @include for-big-desktop-up
      max-height: calc((340px + 25px * 2) * 2) //(height + margin * 2) * 2

    & .slides
      transition: 1s ease

      & .slide
        display: flex
        flex-direction: column
        visibility: hidden
        opacity: 0
        transition: .3s ease-in
        transition-property: opacity, visibility

        @include for-big-phone-up
          flex-direction: initial

        &.active
          visibility: visible
          opacity: 1

        &:nth-child(even)
          @include for-big-phone-up
            flex-direction: row-reverse

        & .genre
          display: block
          height: 150px //heightFirstGenre
          width: 100%
          margin: 5px 0 //margin
          border-radius: 5px
          overflow: hidden
          transition: transform .3s ease-in
          position: relative

          @include for-big-phone-up
            height: 283px //height
            border-radius: 22px
            width: 629px
            margin: 18px //margin

          @include for-middle-desktop-up
            width: 684px
            height: 310px //height
            margin: 20px //margin

          @include for-big-desktop-up
            width: 760px
            height: 340px //height
            margin: 25px //margin

          & .blackout
            display: block
            position: absolute
            width: 100%
            height: 100%
            opacity: 0.3

          &:hover, &:focus-visible
            @include for-big-phone-up
              transform: scale(1.1, 1.1)
              outline: none

          &:last-child
            width: 100%
            height: 120px //heightSecondGenre

            @include for-big-phone-up
              height: initial
              width: 404px

            @include for-middle-desktop-up
              width: 486px

            @include for-big-desktop-up
              width: 542px

          & .img
            width: 100%
            height: 100%
            object-fit: cover

          & .name
            font-family: 'Lemon Milk'
            text-align: center
            color: #fff
            font-size: 20px
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 100%

            @include for-big-phone-up
              font-size: 48px

  & .slideControls
    height: 250px

    @include for-big-phone-up
      height: 450px

