@import './breakPoints'

.genresSlider
  max-width: 1530px
  margin: 15px auto 0 auto
  position: relative

  @include for-desktop-up
    margin: 40px auto 0 auto

  .visibleArea
    width: 100%
    overflow: hidden
    position: relative

    @include for-desktop-up
      padding: 11px 0

    @include for-middle-desktop-up
      padding: 12px 0
      max-width: (440px + 12px * 2) * 3 //(slideWidth + slideMargin * 2) * countSlides

    @include for-big-desktop-up
      padding: 13px 0
      max-width: (480px + 15px * 2) * 3 //(slideWidth + slideMargin * 2) * countSlides

    &:before, &:after
      position: absolute
      display: block
      background: linear-gradient(90deg, #01033C 5%, transparent 100%)
      top: 0
      bottom: 0
      width: 525px
      z-index: 1

      @include for-desktop-up
        content: ''

    &:after
      right: -1px
      transform: rotate(180deg)

    .tape
      display: flex
      transition: 1s ease

      .slide
        position: relative
        display: block
        min-width: 100%
        height: 200px
        overflow: hidden
        border-radius: 20px
        opacity: 0
        visibility: hidden
        transition: .3s ease-in
        transition-property: opacity, visibility, transform

        @include for-desktop-up
          border-radius: 30px
          min-width: 392px
          max-width: 392px
          height: 250px
          margin: 0 10px

        @include for-middle-desktop-up
          min-width: 440px
          max-width: 440px
          height: 280px
          margin: 0 12px

        @include for-big-desktop-up
          min-width: 480px
          max-width: 480px
          margin: 0 15px
          height: 300px


        &.active
          opacity: 1
          visibility: visible

        &:hover
          @include for-desktop-up
            transform: scale(1.08, 1.08)

        .blackout
          display: block
          position: absolute
          width: 100%
          height: 100%
          opacity: 0.3

        .img
          display: block
          object-fit: cover
          width: 100%
          height: 100%

        .name
          font-family: 'Lemon Milk'
          text-align: center
          color: #fff
          font-size: 20px
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          width: 100%

          @include for-big-phone-up
            font-size: 42px

  & .prev, & .next
    display: flex
    z-index: 2
    position: absolute
    width: 40px
    height: 40px
    border: 2px solid #fff
    border-radius: 100%
    top: 50%
    transform: translateY(-50%)

    &:before
      content: ''
      background-size: cover
      background-position: center
      background-image: url("./../img/slideControlArrow.svg")
      width: 15px
      height: 8px
      transition: transform .3s ease-in

    @include for-phone-only
      display: none

  .prev
    left: 0

    &:before
      transform: rotate(90deg) translateY(1px)

    &:hover:before
      transform: rotate(90deg) translateY(8px)

  .next
    right: 0

    &:before
      transform: rotate(-90deg) translateY(1px)

    &:hover:before
      transform: rotate(-90deg) translateY(8px)

.xbox .genresSlider .visibleArea
  &:before, &:after
    background: linear-gradient(90deg, #000 5%, transparent 100%)