@import './breakPoints'

.genresSlider
  display: flex
  align-items: center
  margin-top: 40px
  justify-content: space-between

  & .visibleArea
    overflow: hidden
    max-height: calc((283px + 18px * 2) * 2) //(height + margin * 2) * 2
    padding: 0 14px

    @include for-big-desktop-up
      max-height: calc((310px + 20px * 2) * 2) //(height + margin * 2) * 2

    @include for-very-big-desktop-up
      max-height: calc((340px + 25px * 2) * 2) //(height + margin * 2) * 2

    & .slides
      transition: 1s ease

      & .slide
        display: flex
        visibility: hidden

        &.active
          visibility: visible

        &:nth-child(even)
          flex-direction: row-reverse

        & .genre
          height: 283px //height
          width: 629px
          margin: 18px //margin
          border-radius: 22px
          overflow: hidden
          transition: transform .3s ease-in
          position: relative

          @include for-big-desktop-up
            width: 684px
            height: 310px //height
            margin: 20px //margin

          @include for-very-big-desktop-up
            width: 760px
            height: 340px //height
            margin: 25px //margin

          &:before
            content: ''
            position: absolute
            width: 100%
            height: 100%
            background-color: rgba(0, 0, 0, 0.3)

          &:hover, &:focus-visible
            transform: scale(1.1, 1.1)
            outline: none

          &:last-child
            width: 404px

            @include for-big-desktop-up
              width: 486px

            @include for-very-big-desktop-up
              width: 542px

          & .img
            width: 100%
            height: 100%
            object-fit: cover

          & .name
            font-family: 'Lemon Milk'
            text-align: center
            color: #fff
            font-size: 48px
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 100%

  & .slideControls
    height: 450px

