@import './breakPoints'
@import './variables'
@import './zIndex'

.header
  position: fixed
  background: linear-gradient(#01033C 0%, rgba(1, 3, 60, 0.3) 75%, transparent 100%)
  left: 0
  right: 0
  padding: 20px 0
  z-index: $ZIndex-Header
  transition: background 0.3s ease

  &::after
    content: ""
    position: absolute
    z-index: -1
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0, 1, 26, 0.80)
    -webkit-backdrop-filter: blur(24px)
    backdrop-filter: blur(24px)
    opacity: 0
    transition: opacity 0.3s ease

  &.fixed
    background: transparent
    &::after
      opacity: 1


  @include for-big-phone-up
    padding: 20px 0

  & .contentContainer
    display: flex
    justify-content: space-between
    align-items: center

  & .logo
    display: flex
    align-items: center
    z-index: 3

    @include for-big-phone-up
      z-index: $ZIndex-HeaderLogo

    & .name
      color: #fff
      text-transform: uppercase
      font-size: 16px
      font-weight: 600
      line-height: 1
      margin-left: 5px
      display: none

      @include for-big-phone-up
        display: block

      @include for-desktop-up
        display: none

  .navigateMobileContainer
    display: flex
    flex-direction: column
    row-gap: 14px
    background: rgba(0, 1, 26, 0.80)
    -webkit-backdrop-filter: blur(24px)
    backdrop-filter: blur(24px)
    position: absolute
    top: 0
    right: 0
    height: 100vh
    padding: 30px 0
    width: 100%
    visibility: hidden
    opacity: 0
    transform: translateX(100%)
    transition: .5s cubic-bezier(0.6, -0.28, 0.74, 0.05)
    transition-property: visibility, opacity, transform
    z-index: $ZIndex-NavigateMobileContainer

    @include for-big-phone-up
      max-width: 350px
      padding: 40px 20px
      row-gap: 20px

    &.active
      transform: translateX(0%)
      opacity: 1
      transition: .3s ease
      visibility: visible

    @include for-desktop-up
      visibility: visible
      opacity: 1
      transform: initial
      display: contents

    @include for-phone-only
      & .btn.rating
        font-family: 'Lemon Milk'
        border: none
        border-radius: initial
        background: none
        backdrop-filter: initial
        padding: 0
        font-size: 20px
        font-weight: initial

  & .navigation
    justify-content: space-between
    position: relative
    flex-grow: 1
    margin: 0 45px
    display: contents

    @include for-desktop-up
      display: flex
      margin: 0 0 0 20px

    @include for-big-desktop-up
      margin: 0 0 0 18px

    @include for-phone-only
      display: block
      margin: 0
      max-height: calc(100vh - 70px)
      overflow-y: auto

    &.active
      & .containerMenu
        opacity: 1
        visibility: visible
        transform: translateY(0%)

    & .containerMenu
      position: fixed
      background: rgba(0, 1, 26, 0.80)
      -webkit-backdrop-filter: blur(24px)
      backdrop-filter: blur(24px)
      height: 100vh
      width: 100vw
      top: 0
      left: 0
      padding: 110px 0 80px
      transform: translateY(-100%)
      transition: .3s ease-in
      transition-property: opacity, visibility, transform
      z-index: $ZIndex-Header-ContainerMenu
      display: contents

      @include for-desktop-up
        display: initial
        opacity: 0
        visibility: hidden

      & .menu
        margin: 0 auto
        width: 100%
        max-width: 1356px
        padding-top: 10px
        padding-left: 15px
        padding-right: 15px

        @include for-big-phone-up
          padding-top: 0
          padding-left: 0
          padding-right: 0

        @include for-desktop-up
          padding-left: 60px
          padding-right: 60px

        @include for-middle-desktop-up
          max-width: 1630px
          padding-left: 120px
          padding-right: 120px

        @include for-big-desktop-up
          max-width: 1920px
          //TODO: 240px
          padding-left: 180px
          padding-right: 180px

        @include for-desktop-up
          height: 100%



        & .mainMenu
          display: none

          @include for-desktop-up
            display: flex
            column-gap: 100px
            overflow: auto
            height: 100%
            padding-right: 30px

            &::-webkit-scrollbar
              width: 6px

        & .col
          list-style: none
          display: none

          @include for-desktop-up
            display: initial

          &.mobileMenu
            display: grid
            grid-template-columns: 1fr
            gap: 17px
            padding-top: 17px
            padding-bottom: 17px
            border-top: 1px solid rgba(255, 255, 255, 0.12)

            @include for-desktop-up
              grid-template-columns: 1fr 1fr
              gap: 24px
              padding-top: 78px
              padding-bottom: 0

            & .colLink .link
              display: flex
              align-items: center
              justify-content: space-between
              width: 100%
              color: #fff
              font-size: 16px
              font-style: normal
              font-weight: 400
              line-height: 100%

              &::after
                content: ""
                display: block
                width: 20px
                height: 20px
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4' clip-path='url(%23clip0_2_3001)'%3E%3Cpath d='M7.74155 13.2333L10.9749 9.99998L7.74155 6.76665C7.41655 6.44165 7.41655 5.91665 7.74155 5.59165C8.06655 5.26665 8.59155 5.26665 8.91655 5.59165L12.7416 9.41665C13.0666 9.74165 13.0666 10.2667 12.7416 10.5917L8.91655 14.4166C8.59155 14.7416 8.06655 14.7416 7.74155 14.4166C7.42489 14.0916 7.41655 13.5583 7.74155 13.2333Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2_3001'%3E%3Crect width='20' height='20' fill='white' transform='matrix(0 1 1 0 0 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
                background-position: center
                background-size: contain
                background-repeat: no-repeat


              @include for-desktop-up
                display: inline-block
                font-size: 32px
                font-style: normal
                font-weight: bold
                line-height: 120%
                text-transform: uppercase

                &::after
                  display: none

              &:hover
                color: #FF00F5
                text-decoration: none

          & .title
            font-family: 'Lemon Milk'
            font-size: 30px
            color: #FF00F5
            margin-bottom: 20px
            text-shadow: 0 0 60px #004C5C

          & .colLink
            & .link
              font-family: Montserrat
              font-size: 18px
              font-weight: 600
              line-height: 1

              @include for-desktop-up
                font-size: 20px

        & .categoriesMenu

      & .menu-title
        color: #FFF
        font-size: 20px
        font-style: normal
        font-weight: bold
        line-height: normal
        text-transform: uppercase

        @include for-desktop-up
          display: none
      & .colLink
            &:last-child .link
              color: #fff

            & .link
              font-size: 18px
              color: #FF00F5

              @include for-big-phone-up
                font-size: 25px

    & .links
      display: flex
      flex-direction: column
      padding: 0 16px

      @include for-big-phone-up
        padding: 0

      @include for-desktop-up
        flex-direction: initial
        align-items: center
        z-index: 1
        padding: 0

      @include for-middle-desktop-up
        column-gap: 8px

      .item, .downItem
        font-family: 'Montserrat'
        font-size: 18px
        font-style: normal
        font-weight: 600
        line-height: 1
        color: #FFFFFF
        text-shadow: 0 0 60px #000000
        text-decoration: none
        transition: initial

        @include for-desktop-down
          padding: 16px 0
          border-top: 1px solid rgba(255, 255, 255, 0.12)
          font-size: 20px
          font-style: normal
          font-weight: bold
          line-height: normal
          text-transform: uppercase

        @include for-desktop-up
          font-size: 16px
          font-weight: 400
          padding: 8px

          &:hover
            color: #EB00FF

          &.active
            color: #EB00FF


      .downItem
        position: relative
        transition: .3s ease-in
        transition-property: background
        border-radius: 10px 10px 0 0

        &:hover
          cursor: default
          text-decoration: none

          @include for-desktop-up
            background: rgba(0, 1, 20, 0.90)

          > .navItems
            opacity: 1
            visibility: visible

        .navItems
          display: flex
          flex-direction: column
          position: absolute
          border-radius: 5px
          background: rgba(0, 1, 20, 0.90)
          top: 100%
          left: 0
          right: 0
          opacity: 0
          visibility: hidden
          transition: .3s ease-in
          transition-property: visibility, opacity
          padding: 10px 8px

          @include for-desktop-up
            border-radius: 0 0 10px 10px
            padding: 5px 10px 10px 10px

          .item
            font-size: 14px
            font-weight: 500
            text-decoration: underline

            @include for-phone-only
              padding: 3px 0

            @include for-desktop-up
              font-size: 16px
              font-weight: 500
              text-decoration: initial
              padding: 0

            @include for-middle-desktop-up
              font-size: 18px

            &:not(:first-child)
              margin-top: 3px

              @include for-desktop-up
                margin-top: 10px

          @include for-middle-desktop-up
            font-size: 18px

          @include for-phone-only
            position: static
            opacity: 1
            visibility: visible
            display: grid
            grid-template-columns: 1fr
            gap: 17px
            padding: 18px 0 0
            background: transparent

            .item
              display: flex
              align-items: center
              justify-content: space-between
              width: 100%
              padding: 0
              border: 0
              text-decoration: none
              text-transform: none
              font-size: 16px

              &::after
                content: ""
                display: block
                width: 20px
                height: 20px
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4' clip-path='url(%23clip0_2_3001)'%3E%3Cpath d='M7.74155 13.2333L10.9749 9.99998L7.74155 6.76665C7.41655 6.44165 7.41655 5.91665 7.74155 5.59165C8.06655 5.26665 8.59155 5.26665 8.91655 5.59165L12.7416 9.41665C13.0666 9.74165 13.0666 10.2667 12.7416 10.5917L8.91655 14.4166C8.59155 14.7416 8.06655 14.7416 7.74155 14.4166C7.42489 14.0916 7.41655 13.5583 7.74155 13.2333Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2_3001'%3E%3Crect width='20' height='20' fill='white' transform='matrix(0 1 1 0 0 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
                background-position: center
                background-size: contain
                background-repeat: no-repeat

      & .openMenu
        display: none

        @include for-desktop-up
          display: flex
          align-items: center
          column-gap: 8px

          &:hover .icon
            background-color: #EB00FF

          &.active .icon
            transform: rotate(-180deg)
            background-color: #EB00FF

          & .icon
            width: 13px
            height: 7px
            transition: transform .3s ease-in

    & .searchBlock
      display: none
      z-index: 1

      @include for-desktop-up
        display: block
        position: relative
        flex-grow: 1
        margin-left: 15px

      @include for-middle-desktop-up
        margin-left: 40px

      & .searchResultsContainer
        background-color: rgba(0, 0, 0, 0.9)
        position: absolute
        width: 100vw
        height: 100vh
        top: -36px
        left: -15px
        padding: 110px 0 0 15px
        opacity: 0
        visibility: hidden
        transform: translateY(-100%)
        transition: .3s ease-in
        transition-property: opacity, visibility, transform

        @include for-middle-desktop-up
          left: -30px
          padding: 110px 0 0 30px

        &.active
          visibility: visible
          opacity: 1
          transform: translateY(0%)

        .searchResult
          display: grid
          max-width: 650px
          grid-template-columns: repeat(4, max-content)
          grid-row-gap: 30px
          justify-content: space-between

          @include for-middle-desktop-up
            max-width: 750px
            grid-row-gap: 50px

  & .mobileNavBtn
    display: flex
    align-items: center
    z-index: $ZIndex-MobileNavBtn

    @include for-desktop-up
      display: none

    & .openMobileMenu
      margin-left: 20px

      @include for-desktop-up
        display: none

  .platformSwitch
    display: flex
    margin: 0 20px
    height: 32px
    align-items: center
    column-gap: 10px
    border-radius: 99px
    background: rgba(255, 255, 255, 0.08)
    padding: 8px 6px
    position: relative
    z-index: 2

    @include for-desktop-up
      order: 1
      margin: 0 20px 0 20px
      height: 42px

    @include for-middle-desktop-up
      padding: 5px
      margin: 0 28px 0 28px

    .marker
      background: #8D00FC
      position: absolute
      border-radius: 100px
      top: 3px
      bottom: 3px
      z-index: -1
      transition: .3s ease-in
      transition-property: left, width

      @include for-middle-desktop-up
        top: 5px
        bottom: 5px

    .btn
      display: flex
      padding: 4.5px 12px
      justify-content: center
      align-items: center
      border-radius: 99px
      background: transparent
      font-size: 14px
      font-weight: 700

      @include for-tablet-portrait-up
        padding: 6px 24px
        font-size: 16px

      &.active
        //background: #8D00FC



  & .profile
    display: flex
    align-items: center
    width: auto
    column-gap: 20px
    margin-left: auto
    padding-right: 120px
    order: -1
    z-index: $ZIndex-HeaderLogo

    @include for-big-phone-up
      width: 100px
      column-gap: 10px
      margin-left: 0
      padding-right: 6px

    @include for-desktop-up
      order: 2
      width: 100px
      justify-content: space-between

    & .btn .icon
      transition: background-color .3s ease-in

      &:hover
        background-color: #FF00E5

    & .btn.cart
      position: relative
      overflow: visible

      @include for-desktop-up
        order: -1

      &.full
        & .icon:hover
          background-color: #fff

        &:hover, &.isCart
          .icon-fillDiamond
            animation: initial
            transform: translateY(-2px)

        & .icon-fillDiamond
          animation: jumpDiamond 2s infinite linear
          opacity: 1

      & .icon-fillDiamond
        position: absolute
        background-color: #FF00E5
        width: 27px
        height: 23px
        z-index: -1
        top: 2px
        right: 2px
        opacity: 0

      & .cart-count
        position: absolute
        top: -5px
        right: -9px
        display: flex
        align-items: center
        justify-content: center
        min-width: 16px
        height: 16px
        padding: 0 4px
        border-radius: 29px
        background: #EB00FF
        color: #FFF
        text-align: center
        font-size: 10px
        font-style: normal
        font-weight: 700
        line-height: 120%

    & .btn.favorite
      @include for-desktop-up
        display: none


  & .mobileQuickSearch
    position: absolute
    top: 0
    left: 0
    height: 100%
    min-height: 100vh
    max-width: 100%
    min-width: 100%
    padding: 90px 15px 25px 15px
    background: linear-gradient(180deg, rgba(184, 0, 249, 0.9) 0%, rgba(73, 2, 138, 0.9) 29.19%, rgba(0, 3, 64, 0.9) 58.54%, rgba(19, 2, 112, 0.9) 82.24%, rgba(48, 0, 186, 0.9) 100%)
    visibility: hidden
    opacity: 0
    transform: translateY(-100%)
    transition: .3s ease
    transition-property: visibility, opacity, transform

    @include for-big-phone-up
      padding: 100px 100px 100px 100px

    &.active
      transform: translateX(0%)
      opacity: 1
      visibility: visible


    @include for-desktop-up
      display: none

    & .searchBar
      margin: 0

      @include for-desktop-up
        margin: 0 140px

    & .searchResults
      padding-right: 10px
      overflow: auto
      margin: 25px 0 0 0
      display: grid
      grid-template-columns: repeat(2, max-content)
      grid-row-gap: 15px
      justify-content: space-around
      height: 80%

      & .textInfo
        color: #fff
        font-size: 13px
        text-align: center
        grid-column: 1/-1

      @include for-middle-phone-up
        grid-row-gap: 25px

      @include for-big-phone-up
        grid-template-columns: repeat(4, max-content)
        grid-row-gap: 50px
        padding: 15px
        margin: 30px 140px 0 140px

@keyframes jumpDiamond
  10%
    transform: translate(4px, 3px) rotate(-10deg)
  20%
    transform: translate(-3px, -2px) rotate(-20deg)
  35%
    transform: translate(-1px, 4px) rotate(15deg)
  50%
    transform: translate(0, 0) rotate(0)

.xbox .header
  background: linear-gradient(#000 0%, rgba(1, 3, 60, 0.3) 75%, transparent 100%)

  .navigateMobileContainer
    background: rgba(0, 0, 0, 0.85)

  .mobileQuickSearch
    background: rgba(0, 0, 0, 0.85)
