@import './breakPoints'
@import './variables'
@import './zIndex'

.header
  position: fixed
  background: linear-gradient(#01033C 0%, rgba(1, 3, 60, 0.3) 75%, transparent 100%)
  left: 0
  right: 0
  padding-top: 20px
  z-index: $ZIndex-Header

  @include for-big-phone-up
    padding-top: 25px

  & .contentContainer
    display: flex
    justify-content: space-between
    align-items: center

  & .logo
    display: flex
    align-items: center
    z-index: $ZIndex-HeaderLogo

    & .name
      color: #fff
      text-transform: uppercase
      font-size: 16px
      font-weight: 600
      line-height: 1
      margin-left: 5px

      @include for-big-phone-up
        margin-left: 10px

      @include for-tablet-portrait-up
        font-size: 26px

      @include for-tablet-landscape-up
        font-size: 30px

      @include for-desktop-up
        display: none

  & .navigateMobileContainer
    display: flex
    flex-direction: column
    row-gap: 30px
    background: linear-gradient(180deg, #B800F9 0%, #49028A 29.19%, #000340 58.54%, #130270 82.24%, #3000BA 100%)
    position: absolute
    top: 0
    right: 0
    height: 100vh
    padding: 25px 20px 30px 25px
    width: 70%
    max-width: 350px
    visibility: hidden
    opacity: 0
    transform: translateX(100%)
    transition: .5s cubic-bezier(0.6, -0.28, 0.74, 0.05)
    transition-property: visibility, opacity, transform
    z-index: $ZIndex-NavigateMobileContainer

    @include for-big-phone-up
      padding: 54px 64px 30px 64px
      row-gap: 35px
      width: initial

    &.active
      transform: translateX(0%)
      opacity: 1
      transition: .3s ease
      visibility: visible

    @include for-desktop-up
      visibility: visible
      opacity: 1
      transform: initial
      display: contents

    @include for-big-phone-down
      & .btn.rating
        font-family: 'Lemon Milk'
        border: none
        border-radius: initial
        background: none
        backdrop-filter: initial
        padding: 0
        font-size: 20px
        font-weight: initial

  & .navigation
    justify-content: space-between
    position: relative
    flex-grow: 1
    margin: 0 45px
    display: contents

    @include for-desktop-up
      display: flex

    @include for-big-desktop-up
      margin: 0 100px

    &.active
      & .containerMenu
        opacity: 1
        visibility: visible
        transform: translateY(0%)

    & .containerMenu
      position: absolute
      background-color: rgba(0, 0, 0, 0.9)
      height: 100vh
      width: 100vw
      top: -36px
      left: -35px
      padding: 110px 0 80px 40px
      transform: translateY(-100%)
      transition: .3s ease-in
      transition-property: opacity, visibility, transform
      z-index: $ZIndex-Header-ContainerMenu
      display: contents

      @include for-desktop-up
        display: initial
        opacity: 0
        visibility: hidden

      & .menu
        display: contents

        @include for-desktop-up
          display: flex
          column-gap: 100px
          max-width: 1100px
          height: 100%

        & .mainMenu
          display: none

          @include for-desktop-up
            display: flex
            column-gap: 100px
            overflow: auto
            height: 100%
            padding-right: 30px

            &::-webkit-scrollbar
              width: 6px

        & .col
          list-style: none
          display: none

          @include for-desktop-up
            display: initial

          &.mobileMenu
            display: block

            & .colLink .link
              color: #fff

          & .title
            font-family: 'Lemon Milk'
            font-size: 30px
            color: #FF00F5
            margin-bottom: 20px
            text-shadow: 0 0 60px #004C5C

          & .colLink
            &:not(:last-child)
              margin-bottom: 8px

              @include for-big-phone-up
                margin-bottom: 12px

            & .link
              font-family: Montserrat
              font-size: 18px
              font-weight: 600
              line-height: 1

              @include for-desktop-up
                font-size: 20px

        & .categoriesMenu
          @include for-desktop-up
            margin-right: 30px

          & .colLink
            &:last-child .link
              color: #fff

            & .link
              font-size: 18px
              color: #FF00F5

              @include for-big-phone-up
                font-size: 25px

    & .links
      display: flex
      flex-direction: column

      @include for-desktop-up
        flex-direction: initial
        align-items: center
        column-gap: 4px
        z-index: 1

      @include for-middle-desktop-up
        column-gap: 20px

      .item, .downItem
        font-family: 'Montserrat'
        font-size: 18px
        font-style: normal
        font-weight: 600
        line-height: 1
        color: #FFFFFF
        text-shadow: 0 0 60px #000000
        text-decoration: none
        transition: initial

        @include for-big-phone-down
          &:not(:last-child)
            margin-bottom: 8px

        @include for-desktop-up
          font-size: 16px
          font-weight: 400
          padding: 8px

          &:hover
            color: #EB00FF
            text-decoration: underline

          &.active
            color: #EB00FF

        @include for-middle-desktop-up
          font-size: 18px
          padding: 10px

      .downItem
        position: relative
        transition: .3s ease-in
        transition-property: background
        border-radius: 10px 10px 0 0

        &:hover
          cursor: default
          text-decoration: none

          @include for-desktop-up
            background: rgba(0, 1, 20, 0.90)

          > .navItems
            opacity: 1
            visibility: visible

        .navItems
          display: flex
          flex-direction: column
          position: absolute
          border-radius: 10px
          background: rgba(0, 1, 20, 0.90)
          top: 100%
          left: 0
          right: 0
          opacity: 0
          visibility: hidden
          transition: .3s ease-in
          transition-property: visibility, opacity
          padding: 10px 8px

          @include for-desktop-up
            border-radius: 0 0 10px 10px
            padding: 5px 10px 10px 10px

          .item
            font-size: 14px
            font-weight: 500
            text-decoration: underline

            @include for-big-phone-down
              padding: 3px 0

            @include for-desktop-up
              font-size: 16px
              font-weight: 500
              text-decoration: initial
              padding: 0

              &:hover
                text-decoration: underline

            @include for-middle-desktop-up
              font-size: 18px

            &:not(:first-child)
              margin-top: 3px

              @include for-desktop-up
                margin-top: 10px

          @include for-middle-desktop-up
            font-size: 18px

      & .openMenu
        display: none

        @include for-desktop-up
          display: flex
          align-items: center
          column-gap: 3px

          &:hover .icon
            background-color: #EB00FF

          &.active .icon
            transform: rotate(-180deg)
            background-color: #EB00FF

          & .icon
            width: 13px
            height: 7px
            transition: transform .3s ease-in

    & .searchBlock
      display: none
      z-index: 1

      @include for-desktop-up
        display: block
        position: relative
        flex-grow: 1
        margin-left: 30px

      @include for-middle-desktop-up
        margin-left: 60px

      & .searchResultsContainer
        background-color: rgba(0, 0, 0, 0.9)
        position: absolute
        width: 100vw
        height: 100vh
        top: -36px
        left: -15px
        padding: 110px 0 0 15px
        opacity: 0
        visibility: hidden
        transform: translateY(-100%)
        transition: .3s ease-in
        transition-property: opacity, visibility, transform

        @include for-middle-desktop-up
          left: -30px
          padding: 110px 0 0 30px

        &.active
          visibility: visible
          opacity: 1
          transform: translateY(0%)

        .searchResult
          display: grid
          max-width: 650px
          grid-template-columns: repeat(4, max-content)
          grid-row-gap: 30px
          justify-content: space-between

          @include for-middle-desktop-up
            max-width: 750px
            grid-row-gap: 50px

  & .mobileNavBtn
    display: flex
    align-items: center
    z-index: $ZIndex-MobileNavBtn

    @include for-desktop-up
      display: none

    & .openMobileMenu
      margin-left: 12px

      @include for-desktop-up
        display: none

  & .profile
    display: flex
    justify-content: space-between
    align-items: center
    width: 75px
    padding-right: 10px
    order: -1

    @include for-big-phone-up
      width: 100px

    @include for-desktop-up
      order: initial

    & .btn .icon
      transition: background-color .3s ease-in

      &:hover
        background-color: #FF00E5

    & .btn.cart
      position: relative

      &.full
        & .icon:hover
          background-color: #fff

        &:hover, &.isCart
          .icon-fillDiamond
            animation: initial
            transform: translateY(-2px)

        & .icon-fillDiamond
          animation: jumpDiamond 2s infinite linear
          opacity: 1

      & .icon-fillDiamond
        position: absolute
        background-color: #FF00E5
        width: 27px
        height: 23px
        z-index: -1
        top: 2px
        right: 2px
        opacity: 0

  & .mobileQuickSearch
    position: absolute
    top: 0
    left: 0
    height: 100%
    min-height: 100vh
    max-width: 100%
    min-width: 100%
    padding: 90px 15px 25px 15px
    background: linear-gradient(180deg, rgba(184, 0, 249, 0.9) 0%, rgba(73, 2, 138, 0.9) 29.19%, rgba(0, 3, 64, 0.9) 58.54%, rgba(19, 2, 112, 0.9) 82.24%, rgba(48, 0, 186, 0.9) 100%)
    visibility: hidden
    opacity: 0
    transform: translateY(-100%)
    transition: .3s ease
    transition-property: visibility, opacity, transform

    @include for-big-phone-up
      padding: 100px 100px 100px 100px

    &.active
      transform: translateX(0%)
      opacity: 1
      visibility: visible


    @include for-desktop-up
      display: none

    & .searchBar
      margin: 0

      @include for-desktop-up
        margin: 0 140px

    & .searchResults
      padding-right: 10px
      overflow: auto
      margin: 25px 0 0 0
      display: grid
      grid-template-columns: repeat(2, max-content)
      grid-row-gap: 15px
      justify-content: space-around
      height: 80%

      & .textInfo
        color: #fff
        font-size: 13px
        text-align: center
        grid-column: 1/-1

      @include for-middle-phone-up
        grid-row-gap: 25px

      @include for-big-phone-up
        grid-template-columns: repeat(4, max-content)
        grid-row-gap: 50px
        padding: 15px
        margin: 30px 140px 0 140px

@keyframes jumpDiamond
  10%
    transform: translate(4px, 3px) rotate(-10deg)
  20%
    transform: translate(-3px, -2px) rotate(-20deg)
  35%
    transform: translate(-1px, 4px) rotate(15deg)
  50%
    transform: translate(0, 0) rotate(0)