@import './breakPoints'
@import './zIndex'

.homeBtn
  width: 288px
  padding: 12px 24px
  border-radius: 99px
  background: #8D00FC
  margin: 37px auto 0 auto
  
  @include for-big-phone-up
  
  @include for-middle-desktop-up