@import './breakPoints'

.homeMediaSlider
  margin-top: 10px
  overflow: hidden

  @include for-big-phone-up
    margin-top: 30px

  & .tape
    display: flex
    height: 100px
    justify-content: space-between

    @include for-big-phone-up
      height: 200px

    & .slide
      height: 100%
      padding: 0 10px

      @include for-big-phone-up
        padding: 0 30px

      & .img
        height: 100%