@import './breakPoints'
@import './zIndex'

.homeBtn
  display: flex
  width: auto
  padding: 12px 24px
  border-radius: 99px
  background: #8D00FC
  margin: 37px 16px 0 16px
    
  // #1280px
  @include for-small-desktop-up
    display: inline-block
    margin: 0 auto
    margin-top: 48px
    

  