@import './animations'
@import './breakPoints'

.homeSlider
  & .tape
    display: grid
    width: 100%
    grid-template-columns: 1fr

    & .slide
      grid-row: 1/2
      grid-column: 1/-1
      transition: visibility, opacity .3s ease-in
      visibility: hidden
      opacity: 0

      &.active
        visibility: visible
        opacity: 1

  & .navigate
    margin-top: -90px

    @include for-big-phone-up
      margin-top: -160px

    & .slideControls
      display: none
      position: relative
      max-width: 440px
      left: calc(100% - 440px)

      @include for-big-phone-up
        display: initial

    & .items
      overflow: hidden
      overflow-x: auto
      padding: 50px 40px

      @include for-desktop-up
        margin-top: 50px
        overflow: initial
        overflow-x: initial
        padding: initial