@import './breakPoints'

.homeCatalog
  & .categories
    display: flex
    max-width: max-content
    margin: 0 auto

    & .btn:not(:last-child)
      margin-right: 10px

      @include for-desktop-up
        margin-right: 20px

  & .blocks
    display: grid
    margin-top: 25px
    max-width: 100%

    @include for-desktop-up
      margin-top: 50px

    & .item
      grid-column: 1/-1
      grid-row: 1/-1
      transition: .3s ease-in
      transition-property: opacity, visibility
      opacity: 0
      visibility: hidden
      display: flex
      max-width: 100%
      column-gap: 20px
      padding-bottom: 15px

      @include for-big-phone-up
        display: grid
        grid-template-columns: repeat(5, max-content)
        justify-content: space-between
        row-gap: 50px
        column-gap: 30px
        padding-bottom: initial

      &.active
        opacity: 1
        visibility: visible

  & .more
    margin: 30px auto 0 auto

    @include for-desktop-up
      margin: 60px auto 0 auto