.homeMediaSlider
  margin-top: 30px
  overflow: hidden

  & .tape
    display: flex
    height: 200px
    justify-content: space-between

    & .slide
      height: 100%
      padding: 0 30px

      & .img
        height: 100%