@import './animations'
@import './breakPoints'

.homeSlider
  position: relative

  & .tape
    display: grid
    width: 100%
    grid-template-columns: 1fr

    & .slide
      grid-row: 1/2
      grid-column: 1/-1
      transition: visibility, opacity .3s ease-in
      visibility: hidden
      opacity: 0

      &.active
        visibility: visible
        opacity: 1
  
  & .wrapNav
    max-width: 1440px
    margin: 0 auto
    position: relative
    
    & .navigate
      position: absolute
      right: 0
      bottom: 480px
      display: flex
      justify-content: space-between
      width: 100%
      max-width: 500px
      padding: 0 14px
     
      // #540px
      @include for-tablet-portrait-up
        padding: 0 24px
        
      // #1280px
      @include for-small-desktop-up
        bottom: 280px
        justify-content: end
        padding-right: 40px
        gap: 24px
      
      // #1366px  
      @include for-desktop-up
        padding-right: 52px
        
      // #1920px
      @include for-big-desktop-up
        bottom: 280px
        padding-right: 0
        
      .roundNavItem
        background: none
        border: none
        margin: 0
  
        &:hover
          cursor: pointer
          transform: scale(1.1, 1.1)
  
        &.active
          transform: scale(1.15, 1.15)