@import './breakPoints'

.homeStatistics
  display: flex
  flex-direction: column
  gap: 24px
  margin-top: 37px
  // margin: 0 auto
  // column-gap: 20px

  @include for-desktop-up
    column-gap: 50px
    justify-content: center