@import './animations'
@import './breakPoints'

.homeSlider
  & .tape
    display: grid
    width: 100%
    grid-template-columns: 1fr

    & .slide
      grid-row: 1/2
      grid-column: 1/-1
      transition: visibility, opacity .3s ease-in
      visibility: hidden
      opacity: 0

      &.active
        visibility: visible
        opacity: 1

  & .navigate
    // margin-top: -255px
    margin-top: -485px
    display: flex

    @include for-middle-phone-up
      margin-top: -230px

    @include for-big-phone-up
      margin-top: -290px
      column-gap: 10px
      justify-content: end

    .roundNavItem
      background: none
      border: none
      margin: 0

      &:hover
        cursor: pointer
        transform: scale(1.1, 1.1)

      &.active
        transform: scale(1.15, 1.15)