@import './breakPoints'

.homeTitle
  font-family: 'Lemon Milk'
  font-weight: 400
  color: #fff
  font-size: 20px

  @include for-big-phone-up
    font-size: 50px
    text-align: center

.homeSubTitle
  color: #fff
  font-family: 'Lemon Milk'
  font-weight: 400
  font-size: 18px

  @include for-desktop-up
    font-size: 35px