@import './breakPoints'

.homeTitle
  font-family: 'Lemon Milk'
  font-weight: 400
  color: #fff
  font-size: 20px
  line-height: 120%
  
  // #375px
  @include for-phone-up
    font-size: 24px

  // #1280px
  @include for-small-desktop-up
    font-size: 48px
    margin: 0 auto
    
.homeSubTitle
  color: #fff
  font-family: 'Lemon Milk'
  font-weight: 400
  font-size: 24px
  line-height: 120%

  // #1280px
  @include for-small-desktop-up
    font-size: 48px
    margin: 0 auto