@import './breakPoints'

.icon
  mask-position: center
  mask-size: cover
  -webkit-mask-position: center
  -webkit-mask-size: cover
  background-color: #fff
  display: block

  &-static
    background-color: initial
    background-position: center
    background-size: cover

    &-favoriteProduct
      background-image: url("./../img/favoriteProduct.svg")
      width: 24px
      height: 23px

      &.active
        background-image: url("./../img/favoriteProduct-active.svg")

    &-cartProduct
      background-image: url("./../img/cartProduct.svg")
      width: 24px
      height: 23px

      &.active
        background-image: url("./../img/cartProduct-active.svg")
        width: 24px
        height: 23px

    &-actionLike
      background-image: url("./../img/like.svg")
      width: 24px
      height: 23px

      &.active
        background-image: url("./../img/likeActive.svg")

      @include for-desktop-up
        &:hover, &:focus-visible
          background-image: url("./../img/likeActive.svg")

    &-arrow
      background-image: url("./../img/arrow.svg")
      width: 32px
      height: 44px

    &-bigLike
      background-image: url("./../img/bigLike.svg")
      width: 26px
      height: 25px

      @include for-desktop-up
        width: 32px
        height: 31px

        &:hover, &:focus-visible
          background-image: url("./../img/bigLike-filled.svg")

      &.active
        background-image: url("./../img/bigLike-filled.svg")

  &-blueLike
    mask-image: url("./../img/favoriteProduct.svg")
    -webkit-mask-image: url("./../img/favoriteProduct.svg")
    width: 24px
    height: 23px
    background-color: #00BEFF

  &-pinkExternalLink
    mask-image: url("./../img/external-link.svg")
    -webkit-mask-image: url("./../img/external-link.svg")
    width: 11px
    height: 11px
    background-color: #EB00FF

  &-info
    display: flex
    justify-content: center
    align-items: center
    border-radius: 100%
    width: 20px
    height: 20px
    border: 1px solid #fff

    &:before
      content: 'i'
      display: block

  &-search
    mask-image: url("./../img/searchBtnIcon.svg")
    -webkit-mask-image: url("./../img/searchBtnIcon.svg")
    width: 22px
    height: 23px

  &-profile
    mask-image: url("./../img/profileIcon.svg")
    -webkit-mask-image: url("./../img/profileIcon.svg")
    width: 24px
    height: 30px

    @include for-big-phone-up
      width: 28px
      height: 35px

  &-cart
    mask-image: url("./../img/cartIcon.svg")
    -webkit-mask-image: url("./../img/cartIcon.svg")
    width: 33px
    height: 31px

    @include for-big-phone-up
      width: 40px
      height: 38px

  &-like
    mask-image: url("./../img/favorite.svg")
    -webkit-mask-image: url("./../img/favorite.svg")
    width: 21px
    height: 20px

    @include for-big-phone-up
      width: 26px
      height: 25px

  &-reply
    mask-image: url("./../img/reply.svg")
    -webkit-mask-image: url("./../img/reply.svg")
    width: 24px
    height: 20px

    @include for-big-phone-up
      width: 30px
      height: 25px

  &-arrowBottom
    mask-image: url("./../img/arrowBottom.svg")
    -webkit-mask-image: url("./../img/arrowBottom.svg")
    width: 40px
    height: 23px

    @include for-big-phone-up
      width: 67px
      height: 39px

  &-star
    mask-image: url("./../img/star.svg")
    -webkit-mask-image: url("./../img/star.svg")
    width: 28px
    height: 26px

    @include for-big-phone-up
      width: 31px
      height: 29px

  &-starFill
    mask-image: url("./../img/starFill.svg")
    -webkit-mask-image: url("./../img/starFill.svg")
    width: 26px
    height: 24px

    @include for-big-phone-up
      width: 28px
      height: 26px

  &-send
    mask-image: url("./../img/send.svg")
    -webkit-mask-image: url("./../img/send.svg")
    width: 35px
    height: 29px

    @include for-big-phone-up
      width: 43px
      height: 36px

  &-thumbsUp
    mask-image: url("./../img/thumbsUp.svg")
    -webkit-mask-image: url("./../img/thumbsUp.svg")
    width: 22px
    height: 21px

  &-thumbsDown
    mask-image: url("./../img/thumbsDown.svg")
    -webkit-mask-image: url("./../img/thumbsDown.svg")
    width: 22px
    height: 21px

  &-lock
    mask-image: url("./../img/lock.svg")
    -webkit-mask-image: url("./../img/lock.svg")
    width: 21px
    height: 25px

    @include for-big-phone-up
      width: 27px
      height: 32px

  &-close
    mask-image: url("./../img/close.svg")
    -webkit-mask-image: url("./../img/close.svg")
    width: 18px
    height: 18px

  &-prompt
    mask-image: url("./../img/prompt.svg")
    -webkit-mask-image: url("./../img/prompt.svg")
    width: 35px
    height: 30px

    @include for-big-phone-up
      width: 64px
      height: 55px

  &-triangle
    mask-image: url("./../img/triangle.svg")
    -webkit-mask-image: url("./../img/triangle.svg")
    width: 45px
    height: 39px

    @include for-desktop-up
      width: 83px
      height: 73px

  &-allResults
    mask-image: url("./../img/allResults.svg")
    -webkit-mask-image: url("./../img/allResults.svg")
    width: 66px
    height: 50px

    @include for-desktop-up
      width: 78px
      height: 59px

  &-fillDiamond
    mask-image: url("./../img/fillDiamond.svg")
    -webkit-mask-image: url("./../img/fillDiamond.svg")
    width: 34px
    height: 29px

  &-back
    mask-image: url("./../img/backIcon.svg")
    -webkit-mask-image: url("./../img/backIcon.svg")
    width: 17px
    height: 20px

  &-filterParams
    mask-image: url("./../img/filterParamsIcon.svg")
    -webkit-mask-image: url("./../img/filterParamsIcon.svg")
    width: 42px
    height: 35px