.icon
  mask-position: center
  mask-size: cover
  -webkit-mask-position: center
  -webkit-mask-size: cover
  background-color: #fff
  display: block

  &-static
    background-color: initial
    background-position: center
    background-size: cover

    &-actionLike
      background-image: url("./../img/like.svg")
      width: 30px
      height: 25px

      &.active, &:hover
        background-image: url("./../img/likeActive.svg")

    &-arrow
      background-image: url("./../img/arrow.svg")
      width: 32px
      height: 44px


  &-search
    mask-image: url("./../img/searchBtnIcon.svg")
    -webkit-mask-image: url("./../img/searchBtnIcon.svg")
    transform: rotateY(180deg)
    width: 30px
    height: 30px

  &-profile
    mask-image: url("./../img/profileIcon.svg")
    -webkit-mask-image: url("./../img/profileIcon.svg")
    width: 28px
    height: 35px

  &-cart
    mask-image: url("./../img/cartIcon.svg")
    -webkit-mask-image: url("./../img/cartIcon.svg")
    width: 40px
    height: 38px

  &-like
    mask-image: url("./../img/favorite.svg")
    -webkit-mask-image: url("./../img/favorite.svg")
    width: 26px
    height: 25px

  &-reply
    mask-image: url("./../img/reply.svg")
    -webkit-mask-image: url("./../img/reply.svg")
    width: 30px
    height: 25px

  &-arrowBottom
    mask-image: url("./../img/arrowBottom.svg")
    -webkit-mask-image: url("./../img/arrowBottom.svg")
    width: 67px
    height: 39px

  &-star
    mask-image: url("./../img/star.svg")
    -webkit-mask-image: url("./../img/star.svg")
    width: 31px
    height: 29px

  &-starFill
    mask-image: url("./../img/starFill.svg")
    -webkit-mask-image: url("./../img/starFill.svg")
    width: 31px
    height: 29px

  &-send
    mask-image: url("./../img/send.svg")
    -webkit-mask-image: url("./../img/send.svg")
    width: 43px
    height: 36px

  &-thumbsUp
    mask-image: url("./../img/thumbsUp.svg")
    -webkit-mask-image: url("./../img/thumbsUp.svg")
    width: 22px
    height: 21px

  &-thumbsDown
    mask-image: url("./../img/thumbsDown.svg")
    -webkit-mask-image: url("./../img/thumbsDown.svg")
    width: 22px
    height: 21px

  &-lock
    mask-image: url("./../img/lock.svg")
    -webkit-mask-image: url("./../img/lock.svg")
    width: 27px
    height: 32px