@charset "UTF-8"
@import './breakPoints'
@import './colors'
@import './variables'
@import './mixins'

* 
  font-family: 'Arial'
  box-sizing: border-box
  margin: 0
  padding: 0

::-webkit-scrollbar
  width: 12px
  height: 12px
  background-color: #241767

::-webkit-scrollbar-thumb
  background-color: #ff6aec
  border-radius: 10px

::-webkit-scrollbar-thumb:hover
  background-color: #9b0787


body
  background: #01033C

  &.openMenu
   overflow: hidden


input
  background: none
  border: none
  outline: none
  padding: 0
  margin: 0
  transition: 0.25s ease-in


.btn
  display: flex
  justify-content: center
  align-items: center
  width: max-content
  border: none
  cursor: pointer
  line-height: 1
  background: none
  font-size: 12px
  text-decoration: none
  color: #000
  height: max-content
  transition: 0.25s ease-in

  &.border
    border: 2px solid #FFFFFF

  &.increase:hover
    transform: scale(1.1, 1.1)

  &.backlight:hover
    box-shadow: 0 0 25px rgba(0, 224, 255, 0.8)

  &.secondary
    opacity: 0.6

    &:hover
      opacity: 1

  &.rounded
    border-radius: 12px
    color: #fff
    font-size: 13px
    font-weight: bold
    padding: 12px 15px

    @include for-tablet-portrait-up
      padding: 15px 20px
      font-size: 16px

  &.round
    border-radius: 100px
    color: #fff
    font-size: 16px
    font-weight: bold

    @include for-desktop-up
      padding: 10px 20px

    @include for-big-desktop-up
      padding: 11px 28px

  &.transparent
    &:hover, &.active
      border-color: #FF00F5
      color: #FF00F5

.searchIcon
  mask-image: url("./../img/searchBtnIcon.svg")
  mask-position: center
  mask-size: cover
  -webkit-mask-image: url("./../img/searchBtnIcon.svg")
  -webkit-mask-position: center
  -webkit-mask-size: cover
  background-color: #fff
  transform: rotateY(180deg)
  display: block
  width: 100%
  height: 100%

.profileIcon
  background-image: url("./../img/profileIcon.svg")
  background-size: cover
  background-position: center
  width: 35px
  height: 35px


.cartIcon
  background-image: url("./../img/cartIcon.svg")
  background-size: cover
  background-position: center
  width: 35px
  height: 35px

.mobileNavToggle
  width: 100%
  height: 100%
  position: relative
  display: flex
  justify-content: center
  align-items: center
  transition: 0.5s

  &.active
    &:before
      transform: translateY(0) rotate(45deg)
      box-shadow: none

    &:after
      transform: translateY(0) rotate(-45deg)

  &:before
    content: ''
    position: absolute
    width: 100%
    height: 3px
    background-color: #fff
    transition: 0.5s
    transform: translateY(-10px)
    box-shadow: 0 10px 0 #fff

  &:after
    content: ''
    position: absolute
    width: 100%
    height: 3px
    background-color: #fff
    transition: 0.5s
    transform: translateY(10px)

.price
  display: flex

.toPrice, .fromPrice
  & .value
    display: block
    max-width: max-content
    position: relative
    font-weight: bold
    padding: 0 3px
    margin-right: 50px

    &:after
      content: 'Руб.'
      position: absolute
      left: 100%
      bottom: 0
      padding-left: 3px
      font-weight: initial

      @include for-tablet-portrait-up
        padding-left: 7px

.fromPrice
  & .value

    &:before
      content: ''
      position: absolute
      left: 0
      right: 0
      height: 3px
      top: 50%
      transform: translateY(0) rotate(-12deg)
      box-shadow: 0 0 10px #000000

.discount
  display: block
  border-radius: 10px
  padding: 5px 8px
  font-weight: bold
  font-size: 20px
  max-width: max-content

  &:before
    margin-right: 5px
    content: '-'

  &:after
    margin-left: 1px
    content: '%'

.header
  display: flex
  position: fixed
  width: 100%
  z-index: 100
  justify-content: center


.header-wrapper
  display: flex
  justify-content: space-between
  width: 100%
  max-width: 1650px
  padding-top: 15px
  margin: 0 15px

  @include for-tablet-portrait-up
    padding-top: 20px
    margin: 0 25px

  @include for-tablet-landscape-up
    padding-top: 25px
    margin: 0 40px

  @include for-desktop-up
    margin: 0 70px

  & > div
    align-items: center

.logo
  display: flex
  & > .logo_name
    color: #fff
    text-transform: uppercase
    font-size: 20px
    font-weight: bold
    line-height: 1
    margin-top: 10px
    margin-left: 5px

    @include for-tablet-portrait-up
      font-size: 26px

    @include for-tablet-landscape-up
      font-size: 30px

    @include for-desktop-up
      display: none

  & > img
    width: 50px

    @include for-tablet-portrait-up
      width: 70px

    @include for-tablet-landscape-up
      width: 80px

    @include for-big-desktop-up
      width: 100px


.navigation
  width: 80%
  max-width: 1250px
  justify-content: space-between
  display: none

  @include for-desktop-up
    margin: 0 40px
    display: flex


.navigationWrapper
  position: relative
  z-index: 1

.navigationContainer
  position: absolute
  background-color: rgba(0, 0, 0, 0.9)
  top: -55px
  height: calc(100vh + 20px)
  width: 100vw
  z-index: -1
  display: none

  @include for-desktop-up
    left: -35px
    padding: 130px 0 100px 40px

  @include for-big-desktop-up
    left: -50px
    padding: 150px 0 100px 60px

  &.active
    display: block


.navigationMenu
  color: rgba(255, 105, 249, 0.5)
  display: grid
  grid-template-columns: repeat(4, 1fr)
  max-width: 1300px
  height: 100%
  overflow: auto

  @include for-desktop-up
    font-size: 26px
    max-width: 80%
    min-width: 1000px
    padding-right: 20px

  @include for-big-desktop-up
    max-width: 1300px
    font-size: 34px

  &::-webkit-scrollbar
    width: 10px
    border-radius: 10px

  & a
    text-decoration: none

    &:hover
      text-decoration: underline

  & > ul
    list-style: none

  & ul:not(:first-child)
    & a
      color: #fff

      @include for-desktop-up
        font-size: 24px

      @include for-big-desktop-up
        font-size: 28px

    & li
      &:not(:last-child)
        margin-bottom: 15px

      &:first-child
        margin-bottom: 35px
        text-shadow: 0 0 60px #004C5C

.categoryMenu
  & li
    &:not(:last-child)
     margin-bottom: 20px

    &:last-child a
      color: #fff

  & a
    color: #FF00F5
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.5)

    @include for-desktop-up
      font-size: 26px

    @include for-big-desktop-up
      font-size: 34px

.navigationOpen
  z-index: 1

.searchBar
  display: flex
  background-color: rgba(0, 190, 255, 0.4)
  border-radius: 100px
  box-shadow: 0 0 60px #000000
  align-items: center
  width: 100%
  height: 42px
  z-index: 1

  @include for-desktop-up
    margin: 0 30px
    height: 40px

  @include for-big-desktop-up
    height: 42px
    margin: 0 50px

  &.active
    background-color: rgba(235, 0, 255, 0.4)


.fieldSearch
  background-color: transparent
  border: none
  color: #fff
  padding: 11px 10px 11px 20px
  font-size: 16px
  outline: none
  width: 100%

  @include for-big-desktop-up
    padding: 12px 10px 12px 20px

  &::-webkit-input-placeholder
    @include place-holder-style

  &::-moz-placeholder
    @include place-holder-style

  &:-moz-placeholder
    @include place-holder-style

  &:-ms-input-placeholder
    @include place-holder-style

  &:focus
    background-color: #fff
    border-radius: 100px 0 0 100px
    color: #000

    & + .goSearch
      background-color: #fff!important

      & .searchIcon
        background-color: #000

    &::-webkit-input-placeholder
      @include place-holder-focus-style

    &::-moz-placeholder
      @include place-holder-focus-style

    &:-moz-placeholder
      @include place-holder-focus-style

    &:-ms-input-placeholder
      @include place-holder-focus-style

.goSearch
  border-radius: 0 100px 100px 0
  padding-right: 10px
  height: 100%

  & .searchIcon
    @include for-desktop-up
      width: 30px
      height: 30px

    @include for-big-desktop-up
      width: 35px
      height: 35px

.headerProfile
  justify-content: space-between
  width: 80px
  display: none

  @include for-desktop-up
    display: flex

.mobileNav
  display: flex

  @include for-tablet-portrait-up
    width: 75px

  @include for-desktop-up
    display: none

  & .searchButton
    margin-right: 10px
    width: 35px
    height: 35px

  & .toggleMenu
    width: 30px
    height: 30px

    @include for-tablet-portrait-up
      width: 35px
      height: 35px

  & .searchContainer
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 0
    background: rgba(5, 6, 65, 0.8)
    padding: 0 30px
    overflow: hidden
    transition: 0.5s cubic-bezier(0.39, 0.58, 0.57, 1)

    & .searchBar
      background: #48798a

      & .searchIcon
        width: 30px
        height: 30px


    &.active
      height: 100vh
      padding: 38px 30px

  & .nav
    grid-template-rows: repeat(3, max-content)
    position: absolute
    top: 0
    right: 0
    height: 0
    background: linear-gradient(180deg, rgba(174, 0, 167, 0.9) 0%, rgba(41, 0, 107, 0.9) 100%)
    z-index: -1
    transition: 0.5s cubic-bezier(0.39, 0.58, 0.57, 1)
    width: 100%
    display: grid
    padding: 0 30px
    overflow: hidden

    @include for-big-phone-up
      grid-template-columns: 1fr 1fr

    @include for-tablet-landscape-up
      padding: 0 50px

    &.active
      padding: 100px 30px 30px 30px
      height: 100vh

      @include for-tablet-portrait-up
        padding: 125px 30px 30px 30px

      @include for-tablet-landscape-up
        padding: 150px 50px 50px 50px

    & ul
      list-style: none

      & li
        margin-bottom: 5px

      &.right
        @include for-big-phone-up
          display: flex
          flex-direction: column
          align-items: flex-end

      & a
        text-decoration: none
        color: #FFD1F8
        text-shadow: 0 0 200px #000124
        font-size: 28px
        font-weight: bold

        @include for-tablet-portrait-up
          font-size: 35px

        &:hover
          text-decoration: underline

      &.staticLink
        & li
          margin-bottom: 15px

        & a
          font-size: 32px
          color: #fff

          @include for-tablet-portrait-up
            font-size: 42px

.mainContent
  display: flex
  align-items: center
  flex-direction: column

.headCover
  position: relative
  height: 100vh
  max-height: 100vh
  background-position: center
  background-size: cover
  width: 100%
  max-width: 1920px
  background-image: url("./../img/mainBacground.png")
  overflow: hidden

  @include for-desktop-up
    height: max-content

  &.blackout
    &.horizontal:before, &.vertical:after
      content: ''
      position: absolute
      left: 0

    &.horizontal:before
      top: 0
      bottom: 50%
      width: 100%
      background: linear-gradient(180deg, #8F00FF 0%, rgba(16, 1, 60, 0) 100%)
      opacity: 0.4

      @include for-desktop-up
        top: initial
        opacity: initial
        bottom: 0
        height: 100%
        width: 70%
        background: linear-gradient(90deg, #01033C 0%, rgba(62, 0, 194, 0) 100%)

      @include for-very-big-desktop-up
        width: 100%
        background: linear-gradient(90deg, #01033C 0%, rgba(62, 0, 194, 0) 50%, #01033C 100%)

    &.vertical:after
      top: 0
      bottom: 0
      width: 100%
      background: linear-gradient(180deg, rgba(0, 3, 81, 0) 0%, #01033C 90%)

      @include for-desktop-up
        top: initial
        height: 70%
        background: linear-gradient(180deg, rgba(1, 3, 60, 0) 0%, #01033C 100%)

  & .video
    width: 100%
    display: none

    @include for-desktop-up
      display: block

  & .offer
    width: 100%
    max-width: 320px
    height: 265px
    background-size: cover
    background-position: center
    background-image: url("./../img/headOfferBorderMobile.svg")
    z-index: 1
    position: absolute
    color: #fff
    padding: 30px 60px 15px 60px
    bottom: 35px
    left: 50%
    transform: translateX(-50%)
    display: flex
    flex-direction: column
    align-items: center

    @include for-tablet-portrait-up
      width: 600px
      height: 495px
      max-width: initial
      padding: 60px 113px 30px 117px
      bottom: 0

    @include for-desktop-up
      display: block
      width: 580px
      height: 499px
      padding: 100px 0 30px 135px
      background-image: url("./../img/headOfferBorder.svg")
      top: 20%
      transform: initial
      bottom: initial
      left: initial

    @include for-big-desktop-up
      padding: 120px 0 30px 160px
      width: 697px
      height: 600px
      left: 50px

    &:before, &:after
      content: ''
      background-image: url("./../img/decorWithHeadOffer.svg")
      background-position: center
      background-size: cover
      position: absolute
      bottom: -5px
      width: 217px
      height: 175px

      @include for-tablet-portrait-up
        width: 400px
        height: 323px

      @include for-desktop-up
        display: none

    &:before
      transform: rotate(-2deg)
      right: 82%

    &:after
      transform: rotate(2deg)
      left: 82%

    & .name
      font-size: 20px
      font-weight: bold
      line-height: 1.2
      text-align: center

      @include for-tablet-portrait-up
        font-size: 38px

      @include for-desktop-up
        text-align: initial

      @include for-big-desktop-up
        font-size: 40px
        line-height: 1.3

    & .description
      display: none
      opacity: 0.7
      margin-top: 20px
      font-weight: bold
      font-size: 18px
      padding: 0 15px

      @include for-desktop-up
        display: block

      @include for-big-desktop-up
        font-size: 20px
        margin-top: 30px

    & .price
      margin-top: 25px
      padding-left: 15px

      @include for-tablet-portrait-up
        margin-top: 50px

      @include for-desktop-up
        margin-top: 15px

      @include for-big-desktop-up
        margin-top: 20px

      & .toPrice, & .fromPrice
        & .value
          font-size: 25px
          line-height: 0.8

          @include for-tablet-portrait-up
            font-size: 38px

          @include for-big-desktop-up
            font-size: 40px

          &:after
            font-size: 15px

            @include for-tablet-portrait-up
              font-size: 20px

      & .toPrice
        margin-right: 15px
        color: #FF01F5

        @include for-big-desktop-up
          margin-right: 20px

        & .value:after
          color: #fff
          font-weight: bold

      & .fromPrice
        margin-right: 30px
        color: #660062

        @include for-big-desktop-up
          margin-right: 40px

        & .value
          &:before
            background-color: #660062

      & .discount
        display: none
        color: #080D2D
        background-color: #4BF2FD

        @include for-desktop-up
          display: block

    & .actions
      display: flex
      margin-top: 30px

      @include for-tablet-portrait-up
        margin-top: 50px

      @include for-desktop-up
        margin-top: 25px

      @include for-big-desktop-up
        margin-top: 35px

      & .btn
        background-color: #FF00F5

        &:not(:last-child)
          margin-right: 20px