@charset "UTF-8"
@import './fonts'
@import './animations'
@import './breakPoints'
@import './colors'
@import './variables'
@import './mixins'
@import './burger'
@import './slideControls'
@import './gameGrid'
@import './row'
@import './homeTitle'

@import './icon'
@import './textField'
@import './btn'
@import './link'
@import './checkbox'
@import './cardGame'
@import './articleBlock'
@import './prices'
@import './discount'
@import './newsPreview'
@import './tabs'
@import './homeSlider'
@import './breadcrumbs'

@import './header'
@import './searchBar'
@import './cover'
@import './uspBlock'
@import './homeCatalog'
@import './genresSlider'

*
  font-family: 'Montserrat', sans-serif
  box-sizing: border-box
  margin: 0
  padding: 0

body
  background: #01033C
  min-width: 320px

  &.noScrolling
    overflow: hidden
    padding-right: $widthScrollBar

    & .header
      right: $widthScrollBar

img
  pointer-events: none
  -moz-user-select: none
  -webkit-user-select: none
  -ms-user-select: none
  user-select: none
  -webkit-user-drag: none

input
  background: none
  border: none
  outline: none
  padding: 0
  margin: 0
  transition: .3s ease-in

::-webkit-scrollbar
  width: $widthScrollBar
  height: 12px
  background-color: #241767

::-webkit-scrollbar-thumb
  background-color: #ff6aec
  border-radius: 10px

::-webkit-scrollbar-thumb:hover
  background-color: #9b0787

.mainContainer
  max-width: 1920px
  margin: 0 auto
  position: relative

.contentContainer
  margin: 0 auto
  min-width: 1260px
  max-width: 1260px
  padding-left: 30px
  padding-right: 30px

  &.withoutHeadCover
    padding-top: 200px

.homeSection
  margin-top: 100px




label
  color: #fff

  &.inField
    position: relative
    border-bottom: 2px solid #fff
    display: block
    height: 42px
    padding-top: 15px
    transition: 0.3s ease-in

    &.hide
      height: 0
      padding-top: 0
      border-bottom: none
      overflow: hidden
      margin-bottom: 0!important

      & .label
        opacity: 0

    & .label
      opacity: 1
      position: absolute
      left: 2px
      top: 18px
      transition: 0.3s ease-in

    & input
      color: #fff
      font-size: 18px
      padding: 3px 2px
      width: 100%

      &:focus + .label
        top: 0
        left: 50%
        transform: translate(-50%)
        font-size: 14px

    &.active .label
      top: 0
      left: 50%
      transform: translate(-50%)
      font-size: 14px

.arrowBlue
  background-image: url("./../img/arrowBlue.svg")
  background-position: center
  background-size: cover
  width: 30px
  height: 57px
  cursor: pointer
  --scaler: 1
  transform: scale(var(--scaler))

  @include for-big-desktop-up
    width: 48px
    height: 90px

  &:hover
    -webkit-filter: drop-shadow(0 0 10px #00E0FF)
    filter: drop-shadow(0 0 10px #00E0FF)
    --scaler: 0.9

  &.next
    transform: scale(var(--scaler)) rotate(180deg)

.likes, .views
  font-size: 20px
  font-weight: 600
  display: flex
  padding: 0 3px

  &:before
    content: ''
    mask-position: center
    mask-size: cover
    -webkit-mask-position: center
    -webkit-mask-size: cover
    display: block
    margin-right: 8px
    background-color: rgba(255, 255, 255, 0.7)

.likes:before
    width: 26px
    height: 25px
    mask-image: url("./../img/favorite.svg")
    -webkit-mask-image: url("./../img/favorite.svg")

.views:before
    width: 34px
    height: 25px
    mask-image: url("./../img/views.svg")
    -webkit-mask-image: url("./../img/views.svg")

.mobileParamsFilter
  position: fixed
  display: flex
  flex-direction: column
  top: 0
  left: 0
  height: 0
  width: 100%
  min-width: 320px
  overflow: auto
  background: linear-gradient(180deg, rgba(1, 0, 48, 0.8) 0%, #010030 100%)
  align-items: center
  justify-content: space-between
  padding: 0
  opacity: 0
  transition: 0.3s ease-in

  &.active
    padding: 30px 0
    height: 100vh
    opacity: 1


  @include for-big-phone-up
    padding: 50px 30px

  & .close
    width: 60px
    min-width: 60px
    min-height: 60px
    height: 60px
    position: relative

    &:before, &:after
      content: ''
      position: absolute
      top: calc(50% - 3px)
      height: 4px
      background-color: #7000FF
      box-shadow: 0 0 10px #AD00FF
      width: 100%

    &:before
      transform: rotate(40deg)

    &:after
      transform: rotate(-40deg)

  & .blocks
    grid-template-columns: 1fr
    width: 100%
    max-width: 500px
    height: max-content
    min-height: 150px
    margin-top: 30px
    padding: 10px 30px
    overflow: auto

    & .block
      width: 100%
      overflow: hidden
      opacity: 0
      height: 0
      transition: 0.3s ease-in
      transition-property: opacity

      &.active
        opacity: 1
        height: max-content

      &.main
        & .btn
          width: 100%
          font-size: 18px
          position: relative

          &:not(:last-child)
            margin-bottom: 15px

          &.active:before
            content: ''
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: 10px
            height: 35px
            width: 35px
            background-image: url("./../img/listDecoration.png")
            background-size: cover
            background-position: center

        & .priceRange
          margin-bottom: 60px

      &.sortBy, &.visibleCount, &.categories, &.activation
        display: flex
        flex-direction: column
        align-items: center

        & .btn:not(:last-child)
          width: 200px
          margin-bottom: 15px

        & .checkbox:not(:last-child)
          margin-bottom: 15px

      &.genres
        & .variants
          display: grid
          grid-template-columns: max-content
          justify-content: space-between
          row-gap: 10px

          @include for-big-phone-up
            grid-template-columns: repeat(2, max-content)

      & .title
        color: #fff
        font-weight: bold
        font-size: 30px
        text-align: center
        margin-bottom: 50px

  & .apply
    justify-self: flex-end
    margin-top: 30px

.range
  position: relative
  display: flex
  align-items: center
  margin: 10px 35px

  &.purple
    & .scale, & .from, & .to
      background-color: #7000FF
      box-shadow: 0 0 50px rgba(0, 255, 224, 0.6)

  & .scale
    width: 100%
    height: 4px
    background-color: #FF00F5

  & .from, & .to
    position: absolute
    bottom: 50%
    background-color: #FF00F5
    padding: 3px 15px
    color: #fff
    font-weight: 600
    border-radius: 20px
    min-width: 60px
    text-align: center
    cursor: pointer

  & .from
    left: 0
    transform: translate(-50%, 50%)

  & .to
    right: 0
    transform: translate(50%, 50%)

.titleFilter
  color: rgba(255, 255, 255, 0.7)
  font-weight: 600
  font-size: 18px

.categoryMenu
  & li
    &:not(:last-child)
     margin-bottom: 20px

    &:last-child a
      color: #fff

  & a
    color: #FF00F5
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.5)

    @include for-desktop-up
      font-size: 26px

    @include for-big-desktop-up
      font-size: 34px

.mobileNav
  display: flex

  @include for-tablet-portrait-up
    width: 75px

  @include for-desktop-up
    display: none

  & .searchButton
    margin-right: 10px
    width: 35px
    height: 35px

  & .toggleMenu
    width: 30px
    height: 30px

    @include for-tablet-portrait-up
      width: 35px
      height: 35px

  & .searchContainer
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 0
    background: rgba(5, 6, 65, 0.8)
    padding: 0 30px
    overflow: hidden
    transition: 0.5s cubic-bezier(0.39, 0.58, 0.57, 1)

    & .searchBar
      background: #48798a

      & .searchIcon
        width: 30px
        height: 30px


    &.active
      height: 100vh
      padding: 38px 30px

  & .nav
    grid-template-rows: repeat(3, max-content)
    position: absolute
    top: 0
    right: 0
    height: 0
    background: linear-gradient(180deg, rgba(174, 0, 167, 0.9) 0%, rgba(41, 0, 107, 0.9) 100%)
    transition: 0.5s cubic-bezier(0.39, 0.58, 0.57, 1)
    width: 100%
    display: grid
    padding: 0 30px
    overflow: hidden

    @include for-big-phone-up
      grid-template-columns: 1fr 1fr

    @include for-tablet-landscape-up
      padding: 0 50px

    &.active
      padding: 100px 30px 30px 30px
      height: 100vh

      @include for-tablet-portrait-up
        padding: 125px 30px 30px 30px

      @include for-tablet-landscape-up
        padding: 150px 50px 50px 50px

    & ul
      list-style: none

      & li
        margin-bottom: 5px

      &.right
        @include for-big-phone-up
          display: flex
          flex-direction: column
          align-items: flex-end

      & a
        text-decoration: none
        color: #FFD1F8
        text-shadow: 0 0 200px #000124
        font-size: 28px
        font-weight: 600

        @include for-tablet-portrait-up
          font-size: 35px

        &:hover
          text-decoration: underline

      &.staticLink
        & li
          margin-bottom: 15px

        & a
          font-size: 32px
          color: #fff

          @include for-tablet-portrait-up
            font-size: 42px

.containerProfileForms
  position: fixed
  left: 100%
  top: 0
  height: 100vh
  overflow: hidden
  background-color: rgba(20, 0, 46, 0.96)
  box-shadow: 0 0 50px #000000
  width: 100%
  transition: .5s cubic-bezier(0.6, -0.28, 0.74, 0.05)
  transition-property: left, opacity
  opacity: 0

  @include for-tablet-portrait-up
    width: 325px

  @include for-big-desktop-up
    width: 450px

  &.active
    opacity: 1
    left: 0%
    transition: .3s ease-in

    @include for-tablet-portrait-up
      left: calc(100% - 325px)

    @include for-big-desktop-up
      left: calc(100% - 450px)

  & .formWrapper
    position: absolute
    top: 45px
    right: 35px
    left: 35px
    opacity: 1
    transition: 0.3s ease-in
    overflow: hidden

    @include for-big-desktop-up
      top: 53px

    &.hide
      opacity: 0

  & .switches
    display: flex

    & .btn:not(:last-child)
      margin-right: 20px

  & .form
    margin-top: 55px
    transition: 0.3s ease-in

    & label:not(:last-child)
      margin-bottom: 20px

    & .btn[type="submit"]
      margin: 40px auto 0 auto

  & .restore
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 30px

    &.hide
      opacity: 0
      visibility: hidden
      transition: .3s ease-in

    & .forgot
      color: rgba(255, 255, 255, 0.5)
      font-size: 18px
      margin-bottom: 5px

    & .btn
      color: #fff
      font-size: 18px

      &:hover
        text-decoration: underline

  & .restoreForm
    & .forgot
      @include for-big-desktop-up
        padding: 0 30px

      & > div
        text-align: center

      & .title
        color: #fff
        font-size: 24px
        font-weight: 600

        @include for-tablet-portrait-up
          font-size: 25px

      & .description
        margin: 10px 0 30px 0
        color: rgba(255, 255, 255, 0.5)
        font-size: 15px

        @include for-tablet-portrait-up
          font-size: 16px

    & .back
      display: flex
      flex-direction: column
      align-items: center
      margin-top: 15px

      & .btn
        color: rgba(255, 255, 255, 0.5)
        font-size: 16px

        &:hover
          text-decoration: underline

.homeNewsTape
  margin-top: 100px
  position: relative

  & .slider
    display: flex
    margin: 50px auto 0 auto
    max-width: 1290px

    & .slide
      margin: 0 25px

  & .prev, & .next
    background-image: url("./../img/slideControlArrowBig.svg")
    background-size: cover
    background-position: center
    width: 175px
    height: 200px
    position: absolute
    top: 115px

  & .prev
    left: 40px

    &:hover
      transform: scale(1.1, 1.1)

  & .next
    right: 40px
    transform: rotate(180deg)

    &:hover
      transform: rotate(180deg) scale(1.1, 1.1)

.mediaHome
  margin-top: 100px

  & .items
    display: flex
    height: 200px
    justify-content: space-between

    & .item
      height: 100%

      & img
        height: 100%

.gridGamePage
  margin-top: 70px

  @include for-tablet-landscape-up
    margin-top: 30px

  @include for-desktop-up
    display: grid
    grid-template-columns: repeat(3, 1fr)
    column-gap: 80px
    margin-top: 50px

  & .head

    @include for-desktop-up
      border-radius: 20px
      margin-bottom: 100px
      padding: 50px
      grid-column: 1/4
      justify-content: space-between
      display: flex
      flex-direction: row-reverse
      background: #320065
      box-shadow: 0 0 50px rgba(235, 0, 255, 0.25)

    & .gallery
      align-items: center
      justify-content: space-between
      width: 100%
      margin: 0 auto

      @include for-tablet-landscape-up
        display: flex
        max-width: 750px

      @include for-desktop-up
        margin: 0

      @include for-big-desktop-up
        max-width: 900px

      & .prev, & .next
        display: none

        @include for-tablet-landscape-up
          display: block

      & .progress
        width: 100%
        max-width: 290px
        height: 4px
        background-color: rgba(112, 0, 255, 0.5)
        margin: 30px auto 0 auto
        position: relative

        @include for-big-phone-up
          max-width: 400px

        @include for-tablet-portrait-up
          max-width: 528px

        @include for-tablet-landscape-up
          display: none
          max-width: 650px

        &:before
          content: ''
          position: absolute
          height: 100%
          left: 30px
          width: 20%
          background-color: #7000FF

      & .tape
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        margin: 0 auto
        max-width: 290px

        @include for-big-phone-up
          max-width: 400px

        @include for-tablet-portrait-up
          max-width: 528px

        @include for-tablet-landscape-up
          max-width: 650px
          margin: initial

        @include for-big-desktop-up
          max-width: 730px

        & .item
          border-radius: 20px
          height: 85px
          width: 140px
          object-fit: cover
          box-shadow: 0 0 5px #FF00F5
          cursor: pointer

          @include for-big-phone-up
            box-shadow: 0 0 10px #FF00F5
            height: 115px
            width: 190px

          @include for-tablet-portrait-up
            box-shadow: 0 0 15px #FF00F5
            height: 145px
            width: 255px

          @include for-tablet-landscape-up
            height: 185px
            width: 315px

          @include for-desktop-up
            box-shadow: 0 0 2px #000

          @include for-big-desktop-up
            height: 200px
            width: 350px

    & .metaDescription
      display: grid
      grid-template-columns: 1fr 120px
      font-size: 14px
      color: rgba(255, 255, 255, 0.8)
      font-weight: 600
      margin: 50px auto 0 auto
      border: 3px solid rgba(255, 0, 245, 0.5)
      box-shadow: inset 0 0 10px #FF00F5, 0 0 10px #FF00F5
      border-radius: 20px
      padding: 10px
      row-gap: 10px
      width: 100%

      @include for-big-phone-up
        padding: 20px
        grid-template-columns: repeat(2, 1fr)
        font-size: 16px

      @include for-tablet-portrait-up
        padding: 20px 40px

      @include for-tablet-landscape-up
        width: 768px
        padding: 30px 60px
        row-gap: 12px
        font-size: 18px

      @include for-desktop-up
        margin: initial
        border: initial
        box-shadow: initial
        border-radius: initial
        padding: initial
        width: 345px
        font-size: 16px

      @include for-big-desktop-up
        font-size: 18px
        row-gap: 15px
        width: 400px

  & .information
    margin-top: 50px

    @include for-desktop-up
      grid-column: 2/4
      grid-row: 2/4
      margin: initial

    & .tabs

      & .nav
        display: grid
        grid-template-columns: 1fr
        grid-gap: 20px

        @include for-big-phone-up
          grid-template-columns: 1fr 1fr

        @include for-desktop-up
          display: flex
          padding: 0 30px

        & .btn
          width: 100%
          background-color: #170058
          border: 2px solid #FFFFFF
          border-radius: 100px
          padding: 10px
          font-size: 20px
          text-shadow: 0 0 10px #EB00FF

          @include for-big-phone-up
            font-size: 22px

          @include for-desktop-up
            width: max-content
            background-color: initial
            border: initial
            border-radius: initial
            padding: initial
            text-shadow: initial

          @include for-big-desktop-up
            font-size: 30px

      & .blocks
        margin-top: 30px

        @include for-desktop-up
          margin-top: 15px

        & > .item
          background-color: #170058
          border: 2px solid #FFFFFF
          border-radius: 20px
          padding: 30px 50px

          @include for-desktop-up
            background-color: #320065
            box-shadow: 0 0 50px rgba(235, 0, 255, 0.25)
            padding: 70px 50px
            border: initial

          & .title
            color: #fff
            text-shadow: 0 0 35px #EB00FF
            font-size: 30px
            margin-bottom: 30px
            text-transform: uppercase

          & .paragraph
            color: #fff
            font-size: 18px
            margin: 0
            line-height: 1.5

            &:not(:last-child)
              margin-bottom: 30px

          & .list
            list-style: none

            & .item
              display: flex
              color: #fff
              font-weight: 600
              justify-content: flex-start
              font-size: 20px
              line-height: 1.5

              &:not(:last-child)
                margin-bottom: 20px

              &:before
                content: ''
                background-image: url("./../img/listDecoration.png")
                background-size: cover
                background-position: center
                min-height: 30px
                max-height: 30px
                min-width: 30px
                max-width: 30px
                margin-right: 20px
                display: block

          & .slider
            display: flex
            justify-content: space-between
            align-items: center

            & .tape
              display: flex
              justify-content: space-between
              flex-grow: 1

    & .requirements
      margin-top: 50px

      & .title
        text-shadow: 0 0 30px #EB00FF
        color: #fff
        font-size: 20px
        text-transform: uppercase

        @include for-big-phone-up
          font-size: 22px

        @include for-desktop-up
          font-size: 30px
          padding: 0 30px

      & .content
        background-color: #170058
        border: 2px solid #FFFFFF
        border-radius: 10px
        padding: 15px 10px
        margin-top: 10px
        display: grid
        grid-template-columns: 175px 355px
        row-gap: 15px
        column-gap: 15px
        font-size: 16px
        color: #fff
        overflow: auto

        @include for-big-phone-up
          padding: 30px 50px
          border-radius: 20px
          font-size: 18px
          column-gap: 30px
          overflow: initial
          grid-template-columns: 200px 500px

        @include for-desktop-up
          margin-top: 20px
          padding: 50px 100px
          background-color: #320065
          box-shadow: 0 0 50px rgba(235, 0, 255, 0.25)
          border: initial

        & .input
          font-weight: 600

  & .adjacent
    margin: 50px auto 0 auto
    max-width: 500px

    @include for-desktop-up
      margin: initial

    & .title
      width: 100%
      cursor: initial

    & .tape
      display: flex
      justify-content: space-between
      overflow: hidden
      padding: 35px 30px

  & .commentsBlock
    margin-top: 70px

    & .title
      width: 100%

    & .comments
      margin-top: 30px

      & .item
        color: #fff
        padding: 12px 25px
        background-color: rgba(50, 0, 101, 0.8)
        border-radius: 20px
        font-size: 18px
        display: flex
        align-items: center

        &:not(:last-child)
          margin-bottom: 20px

        &:before
          display: block
          content: ''
          background-image: url("./../img/extendSingleGame.svg")
          background-position: center
          background-size: cover
          min-width: 30px
          max-width: 30px
          min-height: 30px
          max-height: 30px
          margin-right: 10px

  & .views
    display: none
    grid-column: 1/4
    position: relative
    margin-top: 100px

    @include for-desktop-up
      display: block

    & .title
      text-shadow: 0 0 30px #eb00ff
      color: #fff
      font-size: 30px
      text-transform: uppercase
      padding: 0 30px
      font-weight: 600

    & .tape
      display: flex
      justify-content: space-between
      overflow: hidden
      padding: 60px 50px

    & .slideControls
      position: absolute
      width: 500px
      top: 0
      right: 0

.gridCatalog
  grid-template-columns: 1fr 3fr
  row-gap: 50px
  column-gap: 50px

  @include for-desktop-up
    display: grid

  & .title
    text-align: center
    text-transform: uppercase
    font-weight: 600
    font-size: 35px
    color: #fff

    @include for-desktop-up
      display: none

  & .mobileParamsOpen
    background-position: center
    background-size: cover
    background-image: url("./../img/modileParamsOpen.svg")
    width: 110px
    height: 100px
    margin: 0 auto

    @include for-desktop-up
      display: none

  & .priceRange
    display: none

    @include for-desktop-up
      display: initial

    & .rangeWrapper
      margin-top: 30px

  & .headCatalog
    justify-content: space-between
    display: none

    @include for-desktop-up
      display: flex

    & .sortBy

      & .variants
        margin-top: 10px
        display: flex
        align-items: center

        & .item:not(:last-child)
          margin-right: 15px

    & .countProducts

      & .variants
        display: flex
        margin-top: 10px

        & .item:not(:last-child)
          margin-right: 15px

  & .filters
    display: none
    grid-template-columns: repeat(2, max-content)
    grid-auto-rows: max-content
    column-gap: 20px
    row-gap: 12px

    @include for-desktop-up
      display: grid

    @include for-big-desktop-up
      grid-template-columns: repeat(3, max-content)

    & .titleFilter
      grid-column: 1/-1

      &:not(:first-child)
        margin-top: 20px

  & .games
    margin-top: 30px

    @include for-desktop-up
      margin-top: initial

  & .pagination
    grid-column: 2/-1
    display: flex
    justify-content: center
    margin-top: 45px

    @include for-desktop-up
      margin-top: initial

    & .item:not(:last-child)
      margin-right: 20px

.footer
  margin-top: 100px
  border-top: 2px solid #00C2FF
  padding: 40px 0 20px 0

  & .footerNavigation
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

    @include for-desktop-up
      flex-direction: row
      align-items: initial

    & .logoFull
      width: 100px
      margin-left: 60px
      display: none

      @include for-desktop-up
        display: block

      & img
        width: 100%

    & .menu
      display: grid
      grid-template-columns: repeat(2, max-content)
      column-gap: 15px
      row-gap: 15px
      margin-top: 40px
      width: 100%
      max-width: 800px
      justify-content: space-between

      @include for-desktop-up
        width: initial

      & .delivery
        order: 1
        justify-self: center
        grid-column: 1/3

        @include for-big-phone-up
          order: initial
          justify-self: initial
          grid-column: initial

      @include for-tablet-portrait-up
        grid-template-columns: repeat(3, max-content)
        column-gap: 40px
        row-gap: 20px

      @include for-tablet-landscape-up
        column-gap: 50px
        row-gap: 30px

      @include for-desktop-up
        margin-top: initial

      & .link
        font-size: 18px

        @include for-tablet-portrait-up
          font-size: 21px

        @include for-tablet-landscape-up
          font-size: 26px

        &:hover
          text-decoration: underline

    & .social
      display: flex

      @include for-desktop-up
        order: 1

      & .link
        width: 35px

        @include for-tablet-portrait-up
          width: 50px

        @include for-desktop-up
          width: 30px

        &:not(:last-child)
          margin-right: 10px

        & img
          width: 100%

  & .info
    display: grid
    row-gap: 30px
    margin-top: 30px
    align-items: center
    justify-items: center

    @include for-tablet-portrait-up
      margin-top: 70px

    @include for-desktop-up
      display: flex
      margin-top: 70px
      align-items: center
      justify-content: space-between

    & .legalInfo
      @include for-desktop-up
        order: -1

    & .legalInfo, & .designBy
      color: #fff
      opacity: 0.7

      & .link
        font-size: 13px
        text-transform: uppercase

        @include for-tablet-portrait-up
          font-size: 16px

        &:hover
          text-decoration: underline

    & .payments
      width: 100%
      max-width: 900px

      @include for-desktop-up
        max-width: 650px

      @include for-big-desktop-up
        max-width: 800px

      & img
        width: 100%

    & .designBy .link
      font-size: 12px

      @include for-tablet-portrait-up
        font-size: 14px

  & .copy
    color: #A9A9A9
    max-width: 1050px
    margin: 30px auto 0 auto
    text-align: center