@import './breakPoints'
@import './zIndex'

.textField
  color: #fff
  font-size: 13px
  border: none
  outline: none
  padding: 0
  margin: 0
  transition: .3s ease-in
  background: none

  @include for-desktop-up
    font-size: 16px

.input
  &-frame
    display: block
    position: relative

    .label
      display: block
      padding: 0 15px
      color: #fff
      font-size: 15px
      margin-bottom: 4px

      @include for-big-phone-up
        margin-bottom: 7px

    .textField
      border: 1px solid #fff
      border-radius: 100px
      padding: 8px 15px
      display: block

      &::-webkit-input-placeholder
        color: rgba(255, 255, 255, 0.5)
        font-size: 13px

        @include for-desktop-up
          font-size: 16px

    .prompt
      font-family: 'Montserrat'
      font-weight: 400
      line-height: 1
      color: #fff
      position: absolute
      background-color: #111351
      border-radius: 100px
      top: 50%
      transform: translateY(-50%)
      opacity: 1
      visibility: visible
      transition: .3s ease-in
      transition-property: opacity, visibility
      padding: 5px 7px
      right: 6px
      font-size: 12px

      @include for-desktop-up
        font-size: 14px

    &.active .prompt
      opacity: 0
      visibility: hidden

  &-labelInField
    position: relative
    display: block
    border-bottom: 1px solid #fff
    padding-top: 12px

    @include for-desktop-up
      padding-top: 16px
      border-bottom: 2px solid #fff

    .label, & .textField
      color: #fff
      font-size: 13px
      padding: 5px

      @include for-desktop-up
        font-size: 16px

    .label
      position: absolute
      left: 0
      top: 12px
      z-index: $ZIndex-LabelInTextFiled-Label
      transition: .3s ease-in
      transition-property: left, top, transform, font-size, padding

      @include for-desktop-up
        top: 16px

    .textField
      width: 100%
      font-size: 13px

      @include for-desktop-up
        font-size: 16px

      &:focus, &.active
        & + .label
          padding: 0px
          top: 0
          left: 50%
          transform: translate(-50%)
          font-size: 11px

          @include for-desktop-up
            font-size: 14px