@import './breakPoints'

.lastViews
  & .title
    font-family: 'Lemon Milk'
    font-size: 20px
    color: #fff
    margin-bottom: 20px

    @include for-big-phone-up
      font-size: 24px

  & .games
    display: flex
    column-gap: 15px
    padding: 9px 8px

    @include for-big-phone-up
      padding: initial
      column-gap: 30px