.lastViews
  & .title
    font-size: 24px
    color: #fff
    font-family: 'Lemon Milk'
    margin-bottom: 20px

  & .games
    display: flex

    & .cardGame:not(:last-child)
      margin-right: 30px