.legalInfoPage
  width: 100%

  .title
    font-family: 'Lemon Milk'
    font-size: 40px
    color: #fff

  .description
    max-width: 600px
    color: #fff
    margin-top: 15px

  .links
    margin-top: 30px

    .link
      display: block
      max-width: max-content
      color: #01C2FF
      font-weight: 600

  .entity
    margin-top: 50px
    color: #fff

    .row:not(:last-child)
      margin-bottom: 15px