@import './breakPoints'
@import './zIndex'
@import './animations'

.login
  z-index: $ZIndex-Login
  position: fixed
  height: 100vh
  overflow: hidden
  background-color: rgba(20, 0, 46, 0.96)
  box-shadow: 0 0 10px #000000
  max-width: 380px
  right: -380px
  transition: .5s cubic-bezier(0.6, -0.28, 0.74, 0.05)
  transition-property: right, opacity
  opacity: 0
  padding: 68px 40px
  display: grid

  & .close
    top: 15px
    right: 15px
    width: 30px
    height: 35px
    position: absolute
    display: flex
    justify-content: center
    align-items: center

    &:before, &:after
      content: ''
      position: absolute
      width: 100%
      height: 3px
      background-color: #fff
      transition: inherit

    &:after
      transform: translateY(0) rotate(45deg)

    &:before
      transform: translateY(0) rotate(-45deg)

    @include for-desktop-up
      display: none

  & .formContainer
    grid-column: 1/-1
    grid-row: 1/2
    transition: .3s ease-in
    transition-property: opacity, visibility
    opacity: 0
    visibility: hidden

    &.active
      opacity: 1
      visibility: visible

    & .form
      margin-top: 15px

      @include for-desktop-up
        margin-top: 30px

      & .submit
        margin: 15px auto 0 auto

        @include for-desktop-up
          margin: 25px auto 0 auto

  &.active
    opacity: 1
    right: 0px
    transition: .3s ease

  & .auth
    overflow: hidden

    & .switches
      display: flex

      & .btn:not(:last-child)
        margin-right: 20px

    & .form
      display: flex
      flex-direction: column
      justify-content: flex-end
      transition: height .3s ease-in
      transition-delay: 0s
      height: 197px
      row-gap: 10px

      @include for-desktop-up
        row-gap: 15px
        height: 251px

      & .input-labelInField
        &:first-child
          transition: .3s ease-in
          transition-delay: .35s
          transition-property: opacity, visibility

      &.auth
        height: 148px

        @include for-desktop-up
          height: 189px

        & .input-labelInField:first-child
          transition-delay: 0s
          opacity: 0
          visibility: hidden

    & .canRestore
      display: flex
      flex-direction: column
      align-items: center
      margin-top: 20px

      @include for-desktop-up
        margin-top: 30px

      & .text
        color: rgba(255, 255, 255, 0.5)
        font-size: 13px
        margin-bottom: 10px

        @include for-desktop-up
          font-size: 16px

  & .restore
    text-align: center

    & .title
      color: #fff
      font-size: 16px
      font-weight: 600

      @include for-desktop-up
        font-size: 21px

    & .description
      margin-top: 10px
      color: rgba(255, 255, 255, 0.5)
      font-size: 13px

      @include for-desktop-up
        font-size: 16px

    & .btn
      margin: 20px auto 0 auto

      @include for-desktop-up
        margin: 30px auto 0 auto