@import './breakPoints'

.logo
  text-decoration: none
  position: relative

  &:hover, &:focus-visible
    & .imgContainer
      &:before
        transform: translateX(-1px) rotate(-12deg)

        @include for-big-phone-up
          transform: translateX(-2px) rotate(-15deg)

      &:after
        transform: translateY(4px) rotate(15deg)

        @include for-big-phone-up
          transform: translateY(6px) rotate(15deg)

      & .eye
        top: 11px
        height: 0

        @include for-big-phone-up
          top: 13px

  & .imgContainer
    position: relative
    max-width: 40px
    min-width: 40px

    @include for-big-phone-up
      max-width: 85px
      min-width: 85px

    @include for-middle-desktop-up
      max-width: 103px
      min-width: 103px

    &:before, &:after
      content: ''
      position: absolute
      width: 11px
      height: 3px
      top: 1px
      background-color: #FA00FF
      transition: transform .3s ease-in

      @include for-big-phone-up
        top: 3px
        width: 22px
        height: 6px

    &:before
      left: 8px
      transform: translateY(0) rotate(15deg)

      @include for-big-phone-up
        left: 18px

    &:after
      right: 8px
      transform: translateY(0) rotate(-15deg)

      @include for-big-phone-up
        right: 18px

    & .eye
      display: block
      position: absolute
      top: 3px
      right: 10px
      width: 6px
      height: 8px
      background-color: #fff
      z-index: -1
      border-radius: 50px/65px
      transition: .3s ease-in

      @include for-big-phone-up
        top: 5px
        right: 25px
        width: 16px
        height: 23px

    & .img
      width: 100%
