@import './breakPoints'


.mobileCartLink
  display: flex
  align-items: center
  justify-content: center
  visibility: hidden
  opacity: 0
  transition: .3s ease-in
  transition-property: opacity, visibility, transform
  position: fixed
  bottom: 50px
  right: 15px
  border-radius: 100%
  background-color: rgba(63, 94, 251, 0.9)
  width: 52px
  height: 52px
  z-index: 1

  @include for-desktop-up
    display: none

  &.active
    visibility: visible
    opacity: 1

  &.adding
    transform: scale(1.2, 1.2)
    transition: .2s ease-in
    background-color: rgba(199, 69, 203, 0.5)

  & .icon-fillDiamond
    position: absolute
    background-color: #FF00E5
    width: 22px
    height: 18px
    z-index: -1
    top: 50%
    right: 50%
    transform: translate(calc(50% + 4px), calc(-50% - 7px))