@import './zIndex'
@import './breakPoints'

.modal
  position: fixed
  display: flex
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(0, 0, 0, 0.7)
  z-index: $ZIndex-Modal
  padding: 80px 30px

  .close
    position: absolute
    top: 0
    right: 0
    padding: 10px
    background-color: rgba(128, 128, 128, 0.8)
    border-radius: 5px