@import './zIndex'
@import './breakPoints'

.modal
  position: fixed
  display: flex
  justify-content: center
  align-items: start
  top: 0
  left: 0
  width: 100%
  height: 100vh
  background-color: rgba(0, 0, 0, 0.8)
  z-index: $ZIndex-Modal
  padding: 40px 15px
  overflow: auto
  visibility: hidden
  opacity: 0
  transition: .3s ease-in
  transition-property: opacity, visibility

  @include for-desktop-up
    padding: 80px 30px

  &.active
    visibility: visible
    opacity: 1

  .contentBlock
    position: relative
    max-width: 1200px
    border: 1px solid #fff
    border-radius: 15px
    background-color: #984BFB
    color: #fff
    padding: 15px 10px
    font-size: 14px

    @include for-desktop-up
      border: 2px solid #fff
      border-radius: 20px
      padding: 27px 35px
      font-size: 16px

    .roundCloseModal
      position: absolute
      right: 5px
      top: 5px

      @include for-desktop-up
        right: 10px
        top: 10px

    h1
      margin-bottom: 10px
      font-size: 18px

      @include for-desktop-up
        margin-bottom: 15px
        font-size: 24px

    p, ul
      margin-bottom: 8px

      @include for-desktop-up
        margin-bottom: 12px

    ul
      margin-left: 26px

      @include for-desktop-up
        margin-left: 28px

      li
        margin-bottom: 2px

        @include for-desktop-up
          margin-bottom: 3px

  .close
    position: absolute
    top: 0
    right: 0
    padding: 10px
    background-color: rgba(128, 128, 128, 0.8)
    border-radius: 5px


  & .prevModal, & .nextModal
    display: flex
    min-width: 40px
    min-height: 40px
    border: 3px solid #984BFB
    border-radius: 100%
    position: absolute
    top: 50%
    transform: translateY(-50%)
    transition: background-color .3s ease-in

    &:hover
      background-color: #984BFB

    &:before
      content: ''
      background-size: cover
      background-position: center
      background-image: url("./../img/slideControlArrow.svg")
      width: 15px
      height: 8px
      transition: transform .3s ease-in

    &.prevModal
      &:before
        transform: rotate(90deg) translateY(1px)

      &:hover:before
        transform: rotate(90deg) translateY(8px)

    &.nextModal
      &:before
        transform: rotate(-90deg) translateY(1px)

      &:hover:before
        transform: rotate(-90deg) translateY(8px)

  .prevModal
    left: 30px

    @include for-desktop-up
      left: 50px

  .nextModal
    right: 30px

    @include for-desktop-up
      right: 50px