@import './breakPoints'

.newsSlider
  margin-top: 10px
  position: relative
  display: flex

  & + .all
    margin: 35px auto 0 auto

  & > .btn
    margin-top: 84px

  & .prev
    margin-right: 20px

    &:hover
      transform: scale(1.1, 1.1)

  & .visibleArea
    flex-grow: 1
    overflow: hidden

    & .tape
      display: flex

      & .newsPreview
        padding: 18px 25px 0 25px
        min-width: calc(1132px / 3) //width visibleArea / count slides
        visibility: hidden

        &.active
          visibility: visible

        @include for-big-desktop-up
          min-width: calc(1306px / 3) //width visibleArea / count slides

        @include for-very-big-desktop-up
          min-width: calc(1446px / 3)

  & .next
    transform: rotate(180deg)
    margin-left: 20px

    &:hover
      transform: rotate(180deg) scale(1.1, 1.1)