@import './breakPoints'

.newsSlider
  margin-top: 10px
  position: relative
  display: flex
  z-index: -1

  & + .all
    margin: 35px auto 0 auto

  & > .btn
    display: none

    @include for-big-phone-up
      display: initial
      margin-top: 84px

  & .prev
    @include for-big-phone-up
      margin-right: 20px

    &:hover
      transform: scale(1.1, 1.1)

  & .visibleArea
    flex-grow: 1
    overflow: hidden

    & .tape
      display: flex
      transition: 1s ease

      & .newsPreview
        visibility: hidden
        opacity: 0
        transition: 1s ease
        min-width: 100%
        padding: 10px

        @include for-big-phone-up
          padding: 18px 25px 0 25px
          min-width: calc(1132px / 3) //width visibleArea / count slides

        &.active
          visibility: visible
          opacity: 1

        @include for-big-desktop-up
          min-width: calc(1306px / 3) //width visibleArea / count slides

        @include for-very-big-desktop-up
          min-width: calc(1446px / 3)

  & .next
    @include for-big-phone-up
      margin-left: 20px

    & .icon-static
      transform: rotate(180deg)