.newsPreview
  display: block
  width: 330px
  text-decoration: none

  &:hover
    & .img
      transform: scale(1.1, 1.1) translate(15px, -7px)

    & .description
      & .title, & .text
        color: #984BFB

  & .img
    object-fit: cover
    width: 330px
    height: 172px
    overflow: hidden
    border-radius: 22px
    transition: transform .3s ease-in

  & .attributes
    display: flex
    align-items: center
    margin-top: 20px

    & .date
      margin-left: 15px
      font-weight: 600
      color: rgba(255, 255, 255, 0.6)

  & .description
    margin-top: 15px

    & .title
      color: #fff
      font-weight: 600
      transition: color .3s ease-in

    & .text
      color: rgba(255, 255, 255, 0.6)
      margin-top: 10px
      line-height: 1.5
      transition: color .3s ease-in