.pagination
  display: flex
  justify-content: center
  align-items: flex-end

  & .btn:not(:last-child)
    margin-right: 10px

  & .ellipsis
    color: #fff
    font-weight: 600
    margin-right: 10px