@import './breakPoints'

.popularSwiper
  position: relative
  padding-top: 24px
  
  
  // #1280px
  @include for-small-desktop-up
    padding-top: 48px
  
  .container
    position: relative
  
  .swiper-wrapper
  
    .swiper-slide
      display: flex
      height: auto
      
  .swiper-button-prev, .swiper-button-next
    transform: translate(0)