.preOrderInfo
  font-family: 'Montserrat'
  border: 1px solid #964AF7
  border-radius: 10px
  padding: 7px 18px
  font-size: 13px
  font-weight: 400
  color: #fff
  line-height: 1.1

  & .date
    font-weight: 600