@import './breakPoints'

.price
  display: flex
  font-size: 16px
  color: #fff
  font-weight: 600

  @include for-middle-desktop-up
    font-size: 18px

  @include for-big-desktop-up
    font-size: 20px

.toPrice, .fromPrice
  display: flex
  align-items: flex-end

  & .value
    display: block
    position: relative

  &:after
    content: '₽'
    margin-left: 3px
    font-size: 14px

    @include for-middle-desktop-up
      font-size: 10px

    @include for-big-desktop-up
      font-size: 12px

.fromPrice
  color: #8244D9

  & .value:before
    content: ''
    position: absolute
    width: 106%
    left: -3%
    height: 2px
    top: 40%
    transform: rotate(-14deg)
    box-shadow: 3px 2px 5px #000000
    background-color: #8043D7

    @include for-desktop-up
      top: 45%
      height: 3px