@import './breakPoints'

.price
  display: flex
  font-size: 18px
  color: #fff
  font-weight: 600

.toPrice, .fromPrice
  display: flex
  align-items: flex-end

  & .value
    display: block
    position: relative

  &:after
    content: 'Руб.'
    margin-left: 3px
    font-size: 10px

.fromPrice
  color: #8244D9

  & .value:before
    content: ''
    position: absolute
    width: 106%
    left: -3%
    height: 2px
    top: 50%
    transform: rotate(-14deg)
    box-shadow: 0 0 10px #000000
    background-color: #8043D7