@import './breakPoints'

.ratingPage
  .title
    font-size: 20px
    font-weight: 600
    color: #fff
    text-align: center
    margin-top: 30px

    @include for-big-phone-up
      font-size: 48px
      margin-top: 70px

  .description
    color: #fff
    text-align: center
    font-size: 13px

    @include for-big-phone-up
      font-size: 16px

  .list
    width: 100%
    margin-top: 30px

    @include for-big-phone-up
      margin-top: 70px
      min-width: 800px

    .item
      width: 100%
      display: flex
      align-items: center
      justify-content: space-between
      color: #fff
      box-shadow: 0 0 19px #33005A
      font-weight: bold
      padding: 10px 20px 10px 70px
      border-radius: 50px
      font-size: 13px
      text-decoration: none
      transition: transform .3s ease-in

      @include for-big-phone-up
        padding: 14px 32px 14px 120px
        font-size: 16px

        &:hover
          transform: scale(1.03, 1.03)

      &:not(:last-child)
        margin-bottom: 10px

        @include for-big-phone-up
          margin-bottom: 20px

      &:nth-child(-n+3)
        position: relative
        margin-bottom: 25px

        & .crownContainer
          display: block
          position: absolute
          filter: drop-shadow(-1px 3px 10px #000)
          -webkit-filter: drop-shadow(-1px 3px 10px #000)
          -moz-filter: drop-shadow(-1px 3px 10px #000)
          -o-filter: drop-shadow(-1px 3px 10px #000)
          -ms-filter: drop-shadow(-1px 3px 10px #000)
          transform: rotate(-25deg)
          left: 10px
          top: -15px
          width: 45px
          height: 38px

          @include for-big-phone-up
            left: 15px
            top: -25px
            width: 65px
            height: 55px

          .mask
            width: 100%
            height: 100%
            mask-position: center
            mask-size: cover
            -webkit-mask-position: center
            -webkit-mask-size: cover
            mask-image: url("./../img/crown.svg")
            -webkit-mask-image: url("./../img/crown.svg")

            .crown
              width: 100%
              height: 100%
              background-color: #FF00F5

        @include for-big-phone-up
          margin-bottom: 50px

          &:after
            width: 88px
            height: 74px

      &:nth-child(1)
        background-image: radial-gradient(75% 250% at 55% 75%, #43FFFF -10%, #B85DFF 45%, #FC53F5 75%)

      &:nth-child(1n+2)
        background: radial-gradient(40% 250% at 56% 80%, #00E0FF 0%, #8F00FF 80%)

        .crownContainer .mask .crown
          background-color: #8C03F8

      &:nth-child(1n+4)
        background: #08CCF4

      &:nth-child(1n+11)
        background-color: #0085FF