@import './breakPoints'

.reviewsPage
  & .reviewsList
    display: grid
    grid-template-columns: 1fr
    gap: 30px
    
    @include for-big-phone-up
      grid-template-columns: repeat(2, minmax(540px, 760px))
      gap: 30px 30px

  // & .loadMore
  //   margin: 30px auto 0 auto

  //   @include for-big-phone-up
  //     margin: 45px auto 0 auto

  // & .lastViews
  //   margin-top: 40px

  //   @include for-big-phone-up
  //     margin-top: 100px