@import './breakPoints'

.review
  border: 1px solid #fff
  border-radius: 25px
  padding: 15px

  @include for-big-phone-up
    border-radius: 40px
    padding: 20px

  & .head
    display: flex
    justify-content: space-between

    & .forGame
      color: #fff
      font-size: 14px

  & .grade
    display: flex
    margin-top: 10px

    @include for-big-phone-up
      margin-top: 20px

    & .icon
      background-color: #00D1FF

      &:not(:last-child)
        margin-right: 5px

  & .text
    color: #fff
    margin-top: 15px
    font-size: 13px

    @include for-big-phone-up
      font-size: 16px