@import './breakPoints'

.review
  display: flex
  flex-direction: column
  align-items: center
  gap: 16px
  border: 2px solid #525379
  border-radius: 15px
  background:#fa60ff0f
  padding: 16px

  @include for-big-phone-up
    flex-direction: row
    gap: 40px
    border-radius: 20px
    padding: 24px
    
  .image
    position: relative
    width: 200px
    height: 268px
    flex-shrink: 0
    border-radius: 12px
    background: #13485A
    text-decoration: none
    
    .img
        position: absolute
        width: 100%
        height: 100%
        border-radius: 12px
        z-index: 0
        
    .gameName
      position: absolute
      bottom: 0
      width: 100%
      padding: 16.5px
      color: #fff
      font-size: 18px
      z-index: 2
        
    .overlay:before
      content: ''
      z-index: 1
      width: 100%
      height: 50%
      display: block
      position: absolute
      bottom: -1px
      background: linear-gradient(180deg, rgba(70, 11, 110, 0.00) 0%, #02043D 83.87%)
      border-radius: 0px 0px 12px 12px
  
  .content
    display: flex
    flex-direction: column
    gap: 16px
    width: 100%
    height: 100%
    
    .activation
      display: flex
      flex-direction: column
      gap: 8px 
      margin-top: auto
      font-size: 14px
      line-height: 140%
      color: #fff
      
      @include for-big-phone-up
        font-size: 14px

  & .grade
    display: flex
    margin-top: 6px

    @include for-big-phone-up
      margin-top: 8px

    & .icon
      background-color: #EB00FF

      &:not(:last-child)
        margin-right: 3px

  & .text
    color: #fff
    font-size: 14px

    @include for-big-phone-up
      font-size: 18px