@import './breakPoints'

.reviewsPage
  & .reviewsList
    & .review:not(:last-child)
      margin-bottom: 10px

      @include for-big-phone-up
        margin-bottom: 15px

  & .loadMore
    margin: 30px auto 0 auto

    @include for-big-phone-up
      margin: 45px auto 0 auto

  & .lastViews
    margin-top: 40px

    @include for-big-phone-up
      margin-top: 100px