@import "./breakPoints"

.selectionPage
  .cover
    .descriptionContent
      width: 100%
      color: #fff
      position: absolute
      bottom: 120px

      @include for-desktop-up
        bottom: initial
        top: 50%
        transform: translateY(-50%)
        max-width: 900px

      .title
        font-family: 'Lemon Milk'
        font-size: 24px
        font-weight: 100

        @include for-desktop-up
          font-size: 36px

      .description
        font-size: 14px
        margin-top: 5px
        text-align: justify

        @include for-desktop-up
          text-align: initial
          margin-top: 15px
          font-size: 16px

  .mainContent
    width: 100%
    position: relative
    z-index: 1
    margin-top: -90px

    @include for-desktop-up
      margin-top: -200px

    .products

      @include for-desktop-up
        display: flex
        justify-content: space-between

      .title
        color: #fff
        font-size: 18px
        font-family: 'Lemon Milk'
        font-weight: 100

        @include for-desktop-up
          font-size: 28px
          margin-top: 120px

      .items
        display: flex
        column-gap: 10px
        padding: 12px 0

        @include for-desktop-up
          column-gap: initial
          row-gap: 20px
          justify-content: space-between
          flex-wrap: wrap
          min-width: 1050px
          max-width: 1050px


    .articles
      margin-top: 30px

      @include for-desktop-up
        display: flex
        justify-content: space-between
        align-items: center
        column-gap: 50px
        margin-top: 80px

      .title
        color: #fff
        font-size: 18px
        font-family: 'Lemon Milk'
        font-weight: 100

        @include for-desktop-up
          font-size: 28px

      .items
        display: flex
        column-gap: 15px
        padding: 15px 0

        @include for-desktop-up
          column-gap: initial
          padding: initial
          justify-content: space-between
          max-width: 1050px
          min-width: 1050px

        .article
          display: block
          min-width: 200px
          max-width: 200px
          text-decoration: none

          @include for-desktop-up
            min-width: 330px
            max-width: 330px

          &:hover, &:focus-visible
            outline: none

            .img
              @include for-desktop-up
                transform: scale(1.05, 1.05)

            .description
              & .title, & .text
                color: #984BFB

          .img
            display: block
            width: 100%
            border-radius: 12px
            object-fit: cover
            min-height: 130px
            max-height: 130px
            transition: transform .3s ease-in

            @include for-desktop-up
              min-height: 200px
              max-height: 200px

          .attributes
            display: flex
            column-gap: 10px
            align-items: center
            margin-top: 10px

            @include for-big-phone-up
              margin-top: 15px

            .btn
              font-size: 14px
              min-height: 30px
              padding: 0 10px
              border-width: 1px

            .date
              font-size: 14px
              font-weight: 600
              color: rgba(255, 255, 255, 0.6)

          .description
            margin-top: 10px

            @include for-big-phone-up
              margin-top: 15px

            .title
              font-family: Montserrat
              color: #fff
              font-weight: 600
              transition: color .3s ease-in
              font-size: 14px
              white-space: nowrap
              overflow: hidden
              text-overflow: ellipsis

              @include for-big-phone-up
                font-size: 16px

            .text
              overflow: hidden
              color: rgba(255, 255, 255, 0.6)
              margin-top: 6px
              transition: color .3s ease-in
              text-overflow: ellipsis
              display: -webkit-box
              display: -moz-box
              -webkit-box-orient: vertical
              -moz-box-orient: vertical
              box-orient: vertical
              font-size: 14px
              line-clamp: 3 // line-count
              -webkit-line-clamp: 3 // line-count
              line-height: 15px // line-height
              max-height: calc(15px * 3) // line-height * line-count

              @include for-desktop-up
                font-size: 16px
                line-clamp: 3 // line-count
                -webkit-line-clamp: 3 // line-count
                line-height: 18px // line-height
                max-height: calc(18px * 3) // line-height * line-count

    .selections
      margin-top: 50px
      display: flex
      flex-wrap: wrap
      column-gap: 5px
      row-gap: 5px

      @include for-desktop-up
        column-gap: 20px
        row-gap: 20px
        margin-top: 80px

      .selection
        display: block
        overflow: hidden
        border-radius: 10px
        position: relative
        width: 100%
        height: 130px

        @include for-middle-phone-up
          &:nth-child(4n + 1), &:nth-child(4n + 4)
            flex-basis: 49%

          &:nth-child(4n + 2), &:nth-child(4n + 3)
            flex-basis: 49%


        @include for-desktop-up
          height: 280px

          &:nth-child(4n + 1), &:nth-child(4n + 4)
            flex-basis: initial
            width: 700px

          &:nth-child(4n + 2), &:nth-child(4n + 3)
            flex-basis: initial
            width: 516px

        @include for-middle-desktop-up
          height: 300px

          &:nth-child(4n + 1), &:nth-child(4n + 4)
            width: 800px

          &:nth-child(4n + 2), &:nth-child(4n + 3)
            width: 570px

        @include for-big-desktop-up
          height: 350px

          &:nth-child(4n + 1), &:nth-child(4n + 4)
            width: 880px

          &:nth-child(4n + 2), &:nth-child(4n + 3)
            width: 650px

        &:before
          content: ''
          display: block
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          background: linear-gradient(180deg, rgba(1, 3, 58, 0.00) 0%, #01033A 100%)

        .selectionImg
          display: block
          width: 100%
          height: 100%
          object-fit: cover

        .selectionInfo
          position: absolute
          color: #FFF
          bottom: 10px
          left: 10px

          @include for-desktop-up
            bottom: 23px
            left: 23px

          @include for-big-desktop-up
            bottom: 28px
            left: 28px

          .selectionName
            font-family: 'Lemon Milk'
            font-size: 18px
            font-weight: 100

            @include for-desktop-up
              font-size: 32px

          .selectionCountProducts
            @include for-big-phone-down
              font-size: 12px

    .loadMore
      margin: 30px auto 0 auto

      @include for-desktop-up
        margin: 50px auto 0 auto