@import "./breakPoints"

.splitInfoPage
  color: #fff
  
  .breadcrumbs
    top: 77.5px
    
    // #375px
    @include for-phone-up
     top: 90px
    
    // #540px
    @include for-tablet-portrait-up
      top: 140px
  
  .cover
    overflow: hidden 
    
    &:before
      background: linear-gradient(147deg, rgba(0, 0, 0, 0.67) 40.18%, rgba(0, 0, 0, 0.00) 66.69%)
            
    .yaPayBlock
      position: absolute
      top: 452px
      display: flex
      justify-content: center
      align-items: center
      gap: 12px
      padding: 12px
      
      border-radius: 8px
      background: rgba(141, 0, 252, 0.60)
      backdrop-filter: blur(24px)
      
      left: 50%
      transform: translateX(-50%)
      
      // #540px
      @include for-tablet-portrait-up
        left: 0
        transform: translateX(32px)
        
      // #1280px
      @include for-small-desktop-up
        top: 684px
        transform: translateX(240px)
        padding: 16px
        
        
      .qr
        width: 48px
        height: 48px
        
        // #1280px
        @include for-small-desktop-up
          width: 96px
          height: 96px
      
      .direction
        font-size: 14px
        font-weight: 500
        line-height: 140%
        white-space: nowrap
        
        // #1280px
        @include for-small-desktop-up
          font-size: 24px
      
    .textBlock
      position: absolute
      top: 116px
      z-index: $ZIndex-Cover-Content
      margin-left: 16px
      max-width: 854px
      
      // #375px
      @include for-phone-up
        top: 135px
        
      // #540px
      @include for-tablet-portrait-up
        top: 205px
        font-size: 42px
        margin-left: 32px
        
      // #1280px
      @include for-small-desktop-up
        top: 294px
        font-size: 88px
        margin-left: 240px
      
      .title
        font-family: 'Lemon Milk'
        font-size: 24px
        font-weight: 400
        line-height: 120%
        text-align: left
        
        // #375px
        @include for-phone-up
        
        // #540px
        @include for-tablet-portrait-up
          font-size: 42px
         
        
        // #1280px
        @include for-small-desktop-up
          font-size: 88px
          
      
      .description
        margin-top: 16px
        font-size: 14px
        font-weight: 400
        line-height: 140%
        text-transform: uppercase
        text-align: left
        
        // #375px
        @include for-phone-up
        
        // #540px
        @include for-tablet-portrait-up
          font-size: 22px
        
        // #1280px
        @include for-small-desktop-up
          font-size: 32px
    
    .separate, &:after
      width: 25px
      height: 150%
      position: absolute
      transform: rotate(45deg)
      background-color: #01033C
      
      // #1280px
      @include for-small-desktop-up
        width: 35px
      
    .separate
      bottom: -311px
      right: 29px
      
      // #1280px
      @include for-small-desktop-up
        bottom: -311px
        right: 338px
    
    &:after
      content: ''
      display: block
      left: 275px
      bottom: 100px
      
      // #1280px
      @include for-small-desktop-up
        left: 404px
        bottom: -131px
   

  .howWorks
    margin-top: 32px
    
    // #1280px
    @include for-small-desktop-up
      margin-top: 72px
    
    .title
      font-family: 'Lemon Milk'
      font-size: 24px
      line-height: 120%
      
      // #1280px
      @include for-small-desktop-up
        font-size: 88px
     
    .description
      font-family: 'Montserrat'
      font-size: 14px
      line-height: 140%
      text-transform: uppercase
      margin-top: 16px
      max-width: 1147px

      // #1280px
      @include for-small-desktop-up
        font-size: 32px
        
    .desktop
      display: none
      
      // #1280px
      @include for-small-desktop-up
        display: block
        margin-bottom: 160px
      
    .scale
      display: flex
      flex-direction: column
      gap: 24px
      margin-top: 24px
      
      // #1280px
      @include for-small-desktop-up
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 48px
        margin-top: 124px
        margin-bottom: 206px
      
      .section
        flex-grow: 1
        
        .text
          color: rgba(255, 255, 255, 0.60)
          font-size: 12px
          font-weight: 500
          line-height: 120%
  
          // #1280px
          @include for-small-desktop-up
            font-size: 20px
  
          &:after
            content: ''
            display: block
            width: 100%
            height: 8px
            border-radius: 30px
            background-color: rgba(250, 0, 255, 0.5)
            margin: 12px 0
  
            // #1280px
            @include for-small-desktop-up
              height: 16px
        
        .date
          font-size: 14px
          font-weight: 500
          line-height: 120%
          
          // #1280px
          @include for-small-desktop-up
            font-size: 28px
        
        &:first-child .text:after
          background: #FA00FF 

  .variants
    .items
      display: flex
      flex-direction: column
      margin-top: 10px
      row-gap: 10px

      @include for-desktop-up
        flex-direction: initial
        column-gap: 30px
        margin-top: 20px
        max-height: 350px
        height: initial

      .item
        flex-basis: 50%
        overflow: hidden
        border-radius: 20px
        border: 1px solid #fff
        position: relative
        max-height: 150px
        min-height: 150px

        @include for-desktop-up
          max-height: 350px
          min-height: 350px

        &:before
          content: ''
          display: block
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          background-color: rgba(0, 0, 0, 0.5)

        .textInfo
          position: absolute
          bottom: 10px
          left: 10px

          @include for-desktop-up
            bottom: 30px
            left: 30px

        .img
          width: 100%
          display: block
          object-fit: cover
          height: 100%

  .example
    .visual
      display: flex
      justify-content: space-between
      align-items: center
      margin-top: 20px

      .widgetSplit
        display: block
        border-radius: 15px
        width: 100%

        @include for-desktop-up
          width: 300px

      .mac
        height: 600px
        position: relative
        display: none

        @include for-desktop-up
          display: block

        &:before
          content: ''
          display: block
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          background: linear-gradient(90deg, rgba(1, 3, 60, 0.7) 70%, #01033C 100%)

        .img
          display: block
          object-fit: cover
          width: 100%
          height: 100%

  .faq
    margin-top: 30px

    @include for-desktop-up
      margin-top: 50px

    .item
      margin-top: 8px

      @include for-desktop-up
        margin-top: 15px