@import './breakPoints'

.starRating
  max-width: max-content

  &.error
    & .label
      color: #FF00F5

    & .stars
      & .star .icon
        background-color: #FF00F5

      &:before
        content: '* Оставьте оценку'
        margin-left: 30px
        color: #FF00F5

  & .label
    font-size: 14px
    color: #fff

    @include for-big-phone-up
      font-size: 16px

  & .stars
    margin-top: 5px
    display: flex
    flex-direction: row-reverse
    align-items: center
    column-gap: 3px
    justify-content: flex-end

    @include for-big-phone-up
      margin-top: 10px
      column-gap: 5px

    & .input
      display: none

      &:checked ~ .star .icon
        background-color: #EB00FF
        mask-image: url("./../img/starFill.svg")
        -webkit-mask-image: url("./../img/starFill.svg")

    & .star
      cursor: pointer

      &:hover,
        & .icon, & ~ .star .icon
          background-color: #EB00FF
          mask-image: url("./../img/starFill.svg")
          -webkit-mask-image: url("./../img/starFill.svg")