@import './breakPoints'

.supportPage
  & .titlePage
    font-size: 16px
    color: #fff
    font-family: 'Lemon Milk'
    text-align: start

    @include for-big-phone-up
      font-size: 48px
      
  & .supportCards
    display: flex
    flex-direction: column
    margin-top: 24px
    margin-bottom: 32px
    gap: 8px
    
    @include for-big-phone-up
      flex-direction: row
      margin-top: 32px
      margin-bottom: 56px
      gap: 32px
        
    & .text
      color: #fff
      line-height: 140%
    
    & h3
      font-size: 16px
      font-weight: 700
     
      text-transform: uppercase

      @include for-big-phone-up
        font-size: 48px
      
    & .card
      display: flex
      flex-direction: column
      align-items: flex-start
      width: 100%
      min-height: 126px
      padding: 16px
      gap: 16px
      border-radius: 12px
      border: 2px solid #525379
      background: #fa60ff0f
      backdrop-filter: blur(12px)
    
      @include for-big-phone-up
        padding: 24px
        min-height: 240px
         
      & a 
        font-size: 14px
        color: #EB00FF
        font-weight: 400
        text-decoration: underline 
      
        @include for-big-phone-up
          font-size: 32px
      & p 
        font-size: 14px
        font-weight: 400 
              
        @include for-big-phone-up
          font-size: 18px

  & .faq
    margin-top: 30px
    
    & .item:hover
        background: #984BFB

    & .item:not(:last-child)
      margin-bottom: 8px

      @include for-big-phone-up
        margin-bottom: 12px
        
    & .divider
      border: none
      margin-bottom: 16px
      margin-top: 16px
      
    & .item.active
      background: #32006552
      
      & .divider
        background-color: #ffffff1f
        color: #ffffff1f
        height: 1px

  & .chatBlock
    background-color: #320065
    border-radius: 50px
    padding: 25px 30px
    margin-top: 90px

    & .chat
      margin-top: 30px

      & .messages
        display: flex
        flex-direction: column
        max-height: 300px
        overflow: auto
        padding: 25px

        & .message
          background-color: #7E4AB3
          border-radius: 19px
          padding: 10px 25px
          max-width: 300px
          width: max-content
          color: #fff
          text-shadow: 0 0 50px #938083
          position: relative

          &:not(:last-child)
            margin-bottom: 30px

          &.from
            align-self: flex-end

            &:before
              transform: matrix(-1, 0, 0, 1, 0, 0)
              right: initial
              top: calc(100% - 19px)
              left: calc(100% - 20px)

          &:before
            content: ''
            position: absolute
            top: calc(100% - 19px)
            right: calc(100% - 20px)
            display: block
            width: 20px
            height: 24px
            mask-position: center
            mask-size: cover
            -webkit-mask-position: center
            -webkit-mask-size: cover
            background-color: #7E4AB2
            mask-image: url("./../img/decorMesageBlock.svg")
            -webkit-mask-image: url("./../img/decorMesageBlock.svg")

      & .messageFiled
        margin-top: 30px
        background-color: #7E4AB3
        border: none