@import './zIndex'

.tabs
  & .nav
    display: flex

  & .blocks
    display: grid
    grid-template-columns: 100%

    & > .item
      grid-column: 1/-1
      grid-row: 1/2
      display: none

      &.active
        display: block

    &.totalHeight > .item
      display: initial
      visibility: hidden
      opacity: 0
      transition: .3s ease-in
      transition-property: visibility, opacity

      &.active
        z-index: $ZIndex-Tabs-ActiveElement
        visibility: visible
        opacity: 1