@import './breakPoints'

.uspBlock
    display: flex
    font-family: 'Lemon Milk'
    align-items: center
    min-width: 208px
    min-height: 120px
    background: linear-gradient(180.13deg, #C745CB 0.11%, rgba(199, 69, 203, 0) 94.7%)
    color: #fff
    font-size: 18px
    border-radius: 20px
    text-transform: uppercase
    text-align: center
    cursor: default
    transition: transform .3s ease-in
    padding: 0 10px

    @include for-big-desktop-up
        width: 218px
        height: 134px

    @include for-very-big-desktop-up
        width: 239px
        height: 137px
        padding: 0 25px

    &:hover
        transform: scale(1.1, 1.1)

    &:not(:last-child)
        margin-right: 10px