@import './breakPoints'

.viewProfilePage
  width: 100%

  .subtitle
    font-family: 'Lemon Milk'
    font-size: 18px
    color: #fff
    text-align: center

    @include for-big-phone-up
      font-size: 35px

  & > .head
    max-width: 1250px
    margin: 10px auto 0 auto

    @include for-big-phone-up
      margin: 40px auto 0 auto

    .main
      text-align: center
      color: #fff
      font-weight: 600

      &.secondPlace
        background-image: linear-gradient(90deg, transparent 0%, rgba(78, 0, 105, 0.5) 50%, transparent 100%)

      &:before, &:after
        content: ''
        display: block
        height: 2px
        background-image: linear-gradient(90deg, transparent 0%, #00E0FF 50%, transparent 100%)

      &:before
        margin-bottom: 15px

        @include for-big-phone-up
          margin-bottom: 30px

      &:after
        margin-top: 15px

        @include for-big-phone-up
          margin-top: 30px

      & .name
        font-size: 20px
        text-shadow: 0 0 35px #000000

        @include for-big-phone-up
          font-size: 48px

      & .rating
        margin-top: 10px
        font-size: 13px

        @include for-big-phone-up
          margin-top: 20px
          font-size: 16px

    .statistics
      display: flex
      column-gap: 10px
      row-gap: 10px
      flex-wrap: wrap
      justify-content: center
      margin-top: 20px

      @include for-big-phone-up
        justify-content: space-between

      .item
        text-align: center
        color: #fff
        text-shadow: 0 0 35px #000000
        display: flex
        flex-direction: column
        align-items: center

        .value
          font-family: 'Lemon Milk'
          font-size: 20px
          min-width: 90px

          @include for-big-phone-up
            font-size: 40px
            min-width: 125px

        .name
          font-size: 13px
          max-width: 90px

          @include for-big-phone-up
            font-size: 16px
            max-width: 125px

  .achievements
    margin-top: 40px

    @include for-big-phone-up
      margin-top: 100px

    .slider
      display: flex
      align-items: center
      justify-content: space-between
      margin-top: 15px

      @include for-big-phone-up
        margin-top: 35px

      .next .icon-static
        transform: rotateY(180deg)

      .visibleAreaWrapper
        overflow: hidden
        padding: 15px 0

        .visibleArea
          max-width: (204px + 15px * 2) * 5 //(widthSlide + marginSlide * 2) * countSlides

          @include for-big-desktop-up
            max-width: (220px + 15px * 2) * 5 //(widthSlide + marginSlide * 2) * countSlides

          @include for-very-big-desktop-up
            max-width: (233px + 20px * 2) * 5 //(widthSlide + marginSlide * 2) * countSlides

          .tape
            display: flex

            .slide
              background-color: #460B6E
              border-radius: 22px
              box-shadow: 0 0 15px #0066ff
              border: 2px solid #fff
              opacity: 0
              visibility: hidden
              margin: 0 15px //marginSlide
              min-width: 204px //widthSlide
              height: 317px

              @include for-big-desktop-up
                margin: 0 15px //marginSlide
                min-width: 220px //widthSlide
                height: 340px

              @include for-very-big-desktop-up
                margin: 0 20px //marginSlide
                min-width: 233px //widthSlide
                height: 368px

              &.active
                visibility: visible
                opacity: 1

  .games
    margin: 40px auto 0 auto
    width: max-content

    @include for-big-phone-up
      margin: 100px auto 0 auto

    .items
      margin-top: 15px
      display: flex

      @include for-big-phone-up
        margin-top: 35px

      .cardGame
        margin: 0 15px

        @include for-very-big-desktop-up
          margin: 0 20px