@import './breakPoints'

.viewProfilePage
  width: 100%

  .subtitle
    font-family: 'Lemon Milk'
    font-size: 18px
    color: #fff
    text-align: center

    @include for-big-phone-up
      font-size: 35px

  & > .head
    max-width: 1250px
    margin: 10px auto 0 auto

    @include for-big-phone-up
      margin: 40px auto 0 auto

    .main
      text-align: center
      color: #fff
      font-weight: 600

      &.secondPlace
        background-image: linear-gradient(90deg, transparent 0%, rgba(78, 0, 105, 0.5) 50%, transparent 100%)

      &:before, &:after
        content: ''
        display: block
        height: 2px
        background-image: linear-gradient(90deg, transparent 0%, #00E0FF 50%, transparent 100%)

      &:before
        margin-bottom: 15px

        @include for-big-phone-up
          margin-bottom: 30px

      &:after
        margin-top: 15px

        @include for-big-phone-up
          margin-top: 30px

      .crown
        margin: 0 auto

        .crownColor
          background-color: #fff

      & .name
        font-size: 20px
        text-shadow: 0 0 35px #000000
        margin-top: 10px

        @include for-big-phone-up
          font-size: 48px

      & .rating
        margin-top: 10px
        font-size: 13px

        @include for-big-phone-up
          margin-top: 20px
          font-size: 16px

    .statistics
      display: flex
      column-gap: 10px
      row-gap: 10px
      flex-wrap: wrap
      justify-content: center
      margin-top: 20px

      @include for-big-phone-up
        justify-content: space-between

      .item
        text-align: center
        color: #fff
        text-shadow: 0 0 35px #000000
        display: flex
        flex-direction: column
        align-items: center

        .value
          font-family: 'Lemon Milk'
          font-size: 20px
          min-width: 90px

          @include for-big-phone-up
            font-size: 40px
            min-width: 125px

        .name
          font-size: 13px
          max-width: 85px

          @include for-big-phone-up
            font-size: 16px
            max-width: 105px

  .achievements
    margin-top: 40px

    @include for-big-phone-up
      margin-top: 100px

    .slider
      display: flex
      align-items: center
      justify-content: center
      margin: 15px auto 0 auto

      @include for-phone-only
        & .prev, & .next
          display: none

      @include for-desktop-up
        justify-content: space-between
        margin: 35px auto 0 auto
        max-width: 1100px

      @include for-middle-desktop-up
        max-width: 1270px

      @include for-big-desktop-up
        max-width: 1500px

      .next .icon-static
        transform: rotateY(180deg)

      .visibleArea
        overflow: hidden
        max-width: (130px + 5px * 2) * 2 //(widthSlide + marginSlide * 2) * countSlides

        @include for-middle-phone-up
          max-width: (150px + 7px * 2) * 2 //(widthSlide + marginSlide * 2) * countSlides

        @include for-desktop-up
          max-width: (171px + 15px * 2) * 5 //(widthSlide + marginSlide * 2) * countSlides
          padding: 15px 0

        @include for-middle-desktop-up
          max-width: (207px + 15px * 2) * 5 //(widthSlide + marginSlide * 2) * countSlides

        @include for-big-desktop-up
          max-width: (241px + 20px * 2) * 5 //(widthSlide + marginSlide * 2) * countSlides

        .tape
          display: flex
          transition: transform .5s ease-in

          .slide
            opacity: 0
            visibility: hidden
            margin: 0 5px //marginSlide
            transition: .5s ease-in
            transition-property: opacity, visibility

            @include for-middle-phone-up
              margin: 0 7px //marginSlide

            @include for-desktop-up
              margin: 0 15px //marginSlide
              background-color: #460B6E
              box-shadow: 0 0 15px rgba(250, 0, 255, 0.9)

            @include for-big-desktop-up
              margin: 0 20px //marginSlide

            &.active
              visibility: visible
              opacity: 1

  .games
    margin: 40px auto 0 auto

    @include for-big-phone-up
      margin: 100px auto 0 auto

    .items
      margin-top: 15px
      display: flex
      column-gap: 10px
      padding-bottom: 15px

      @include for-big-phone-up
        margin-top: 35px
        column-gap: 20px
        justify-content: center
        padding-bottom: initial

  &.firstPlace > .head .main .crown
    filter: drop-shadow(0 0 2px #01D7F5)
    -webkit-filter: drop-shadow(0 0 2px #01D7F5)
    -moz-filter: drop-shadow(0 0 2px #01D7F5)
    -o-filter: drop-shadow(0 0 2px #01D7F5)
    -ms-filter: drop-shadow(-0px 0px 2px #01D7F5)

    .crownColor
      background-color: #01D7F5