//Modal indexes
$ZIndex-Login: 3

//Interactive elements indexes
$ZIndex-Btn-FilFromCenter-Before: -1
$ZIndex-LabelInTextFiled-Label: -1
$ZIndex-Tooltip: 1
$ZIndex-GameExtend-Backlight: -1
$ZIndex-AutoSizeInput: 1
$ZIndex-AutoSizeInput-Placeholder: -1
$ZIndex-Reviews-AddNew-Locked: 1
$ZIndex-Cover-ActiveVideo-Element: -1
$ZIndex-Tabs-ActiveElement: 1
$ZIndex-Modal: 3

//Main indexes
$ZIndex-BreadCrumbs: 2
$ZIndex-Header: 2
$ZIndex-Header-ContainerMenu: 1
$ZIndex-Header-OpenMenu: 1
$ZIndex-Header-SearchBar: 1
$ZIndex-Cover-Offer: 1
$ZIndex-Cover-Content: 1
$ZIndex-Cover-Btn: 1
$ZIndex-CardGame-Actions: 1
$ZIndex-AchievementsProgress-Backlight: -1
$ZIndex-RatingPageBg: -1
$ZIndex-AboutPage-BgBlocks: -1