<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="IceGames -- Магазин Ключей Steam">
    <meta name="keywords" content="IceGames -- Магазин Ключей Steam">
    <link rel="stylesheet" href="./styles/bundle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">
    <title>ICE Games -- Магазин Ключей Steam</title>
</head>
<body>
<div class="login">
    <div class="formContainer auth active">
        <div class="switches">
            <button class="btn round border fillFromCenter fillFromCenter-darkLilac active">Вход</button>
            <button class="btn round border fillFromCenter fillFromCenter-darkLilac">Регистрация</button>
        </div>
        <form class="form auth" action="/auth" method="post">
            <label class="label-inField">
                <input class="textField" type="text" name="nickName">
                <span class="label">Ник</span>
            </label>
            <label class="label-inField">
                <input class="textField" type="text" name="email">
                <span class="label">E-mail</span>
            </label>
            <label class="label-inField">
                <input class="textField" type="password" name="password">
                <span class="label">Пароль</span>
            </label>
            <button type="submit" class="btn round border fillFromCenter fillFromCenter-darkLilac submit">Войти</button>
        </form>
        <div class="canRestore">
            <span class="text">Забыли пароль?</span>
            <button class="btn link">Восстановить</button>
        </div>
    </div>
    <div class="formContainer restore">
        <div class="title">Вы забыли пароль?</div>
        <div class="description">Мы пришлем Вам новый на E-mail, указанный при регистрации!</div>
        <form class="form" action="/restore" method="post">
            <label class="label-inField">
                <input class="textField" type="text" name="email">
                <span class="label">E-mail</span>
            </label>
            <button type="submit" class="btn round border fillFromCenter fillFromCenter-darkLilac submit">Восстановить</button>
        </form>
        <button class="btn link">Назад</button>
    </div>
</div>
<header class="header">
    <div class="contentContainer">
        <a class="logo link">
            <img src="img/logo.png" class="img" alt="Логотип Ice Games" title="Логотип Ice Games">
            <div class="name">Ice Games<br>Store</div>
        </a>
        <div class="navigation js-mainNavigation">
            <div class="containerMenu">
                <nav class="menu">
                    <ul class="col categoriesMenu">
                        <li class="colLink">
                            <a href="#" class="link" title="Топ продаж">Топ продаж</a>
                        </li>
                        <li class="colLink">
                            <a href="#" class="link" title="Новинки">Новинки</a>
                        </li>
                        <li class="colLink">
                            <a href="#" class="link" title="Предзаказы">Предзаказы</a>
                        </li>
                        <li class="colLink">
                            <a href="#" class="link" title="Скидки">Скидки</a>
                        </li>
                        <li class="colLink">
                            <a href="#" class="link" title="ТОП 2020">ТОП 2020</a>
                        </li>
                        <li class="colLink">
                            <a href="#" class="link" title="Все игры">Все игры</a>
                        </li>
                    </ul>
                    <div class="containerMainMenuSearch">
                        <div class="searchResult">
                            <div class="cardGame">
                                <div class="actions">
                                    <button class="btn like">
                                        <span class="likeIcon"></span>
                                    </button>
                                    <button class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart" title="Добавить данный товар в корзину покупок">В корзину</button>
                                </div>
                                <div class="cover">
                                    <img src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                    <div class="name">Doom ETERNAL</div>
                                </div>
                                <div class="price">
                                    <div class="toPrice">
                                        <span class="value">999</span>
                                    </div>
                                    <div class="fromPrice">
                                        <span class="value">1300</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cardGame">
                                <div class="actions">
                                    <button class="btn like">
                                        <span class="likeIcon"></span>
                                    </button>
                                    <button class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart" title="Добавить данный товар в корзину покупок">В корзину</button>
                                </div>
                                <div class="cover">
                                    <img src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                    <div class="name">Doom ETERNAL</div>
                                </div>
                                <div class="price">
                                    <div class="toPrice">
                                        <span class="value">999</span>
                                    </div>
                                    <div class="fromPrice">
                                        <span class="value">1300</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cardGame">
                                <div class="actions">
                                    <button class="btn like">
                                        <span class="likeIcon"></span>
                                    </button>
                                    <button class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart" title="Добавить данный товар в корзину покупок">В корзину</button>
                                </div>
                                <div class="cover">
                                    <img src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                    <div class="name">Doom ETERNAL</div>
                                </div>
                                <div class="price">
                                    <div class="toPrice">
                                        <span class="value">999</span>
                                    </div>
                                    <div class="fromPrice">
                                        <span class="value">1300</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cardGame">
                                <div class="actions">
                                    <button class="btn like">
                                        <span class="likeIcon"></span>
                                    </button>
                                    <button class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart" title="Добавить данный товар в корзину покупок">В корзину</button>
                                </div>
                                <div class="cover">
                                    <img src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                    <div class="name">Doom ETERNAL</div>
                                </div>
                                <div class="price">
                                    <div class="toPrice">
                                        <span class="value">999</span>
                                    </div>
                                    <div class="fromPrice">
                                        <span class="value">1300</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mainMenu">
                            <ul class="col">
                                <li class="title">Жанры</li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Шутеры">Шутеры</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Экшн">Экшн</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Ролевые">Ролевые</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Стратегии">Стратегии</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Инди">Инди</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Симуляторы">Симуляторы</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Приключения">Приключения</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Атмосфера">Атмосфера</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Хорор">Хорор</a>
                                </li>
                            </ul>
                            <ul class="col">
                                <li class="title">Издатели</li>
                                <li class="colLink">
                                    <a href="#" class="link" title="2К">2К</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Bandi Namko">Bandi Namko</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Bethesda softworks">Bethesda softworks</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Capcom">Capcom</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Electronic Arts">Electronic Arts</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Paradox Interactive">Paradox Interactive</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Segs">Segs</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Ubisoft">Ubisoft</a>
                                </li>
                            </ul>
                            <ul class="col">
                                <li class="title">Разработчики</li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Gearbox Software">Gearbox Software</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Hangar 13">Hangar 13</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Team17 Digital">Team17 Digital</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Creative Assembly">Creative Assembly</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Dice">Dice</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Firaxis">Firaxis</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Remedy Entertaiment">Remedy Entertaiment</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Respawn Entertaiment">Respawn Entertaiment</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <button title="Открыть каталог игр" class="btn round border hover-color-pink hover-border-pink openMenu js-toggleMainNavigation">Каталог</button>
            <div class="searchBar">
                <input class="textField" type="text" placeholder="Поиск...">
                <button class="btn goSearch" title="Выполнить поиск">
                    <span class="icon icon-search"></span>
                </button>
            </div>
            <a href="#" title="Рейтинг пользователей Ice Games" class="btn round border hover-color-pink hover-border-pink">Рейтинг</a>
        </div>
        <div class="profile">
            <button class="btn js-openProfileForms" title="Авторизация">
                <span class="icon icon-profile"></span>
            </button>
            <a href="#" class="btn cart" title="Перейти в корзину с товарами">
                <span class="icon icon-cart"></span>
            </a>
        </div>
    </div>
</header>
<main class="gamePage">
    <div class="breadcrumbs contentContainer">
        <div class="item">
            <a class="btn link" href="#">Главная</a>
        </div>
        <div class="item">
            <a class="btn link" href="#">Каталог</a>
        </div>
        <div class="current">PHOENIX POINT: YEAR ONE EDITION</div>
    </div>
    <div class="cover blackout blackout-left blackout-bottom slide active js-slide">
        <img class="img" src="./img/mainBacground.png" alt="Phoenix Point: Year One Edition" title="Phoenix Point: Year One Edition">
        <video class="video" autoplay muted loop>
            <source type="video/mp4" src="https://icegames.store/wp-content/uploads/2021/07/cut.mp4">
        </video>
        <div class="offer">
            <div class="packages">
                <div class="btn rounded translucent bg-paleBlue active package">Standard</div>
                <div class="tooltip package">
                    <a href="#" class="btn rounded translucent bg-paleBlue">Ultima edition</a>
                    <div class="prompt">
                        <ul class="list">
                            <li class="item">Guccci halat</li>
                            <li class="item">3 кг отборной ганжи</li>
                            <li class="item">2 М16 с доставкой</li>
                            <li class="item">Номер в отеле “Юстина”</li>
                        </ul>
                    </div>
                </div>
                <div class="tooltip package">
                    <a href="#" class="btn rounded translucent bg-paleBlue">Premium edition</a>
                    <div class="prompt">
                        <ul class="list">
                            <li class="item">Guccci halat</li>
                            <li class="item">3 кг отборной ганжи</li>
                            <li class="item">2 М16 с доставкой</li>
                            <li class="item">Номер в отеле “Юстина”</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="name">PHOENIX POINT: YEAR ONE EDITION</div>
            <div class="statuses">
                <div class="status positive">В наличии</div>
                <div class="status positive">Данный товар купили сегодня 30 раз</div>
            </div>
            <div class="description">
                Phoenix Point: Year One Edition — самое полное издание знаменитой стратегии от создателя X-COM.
                Phoenix Point: Year One Edition — самое полное издание знаменитой стратегии от создателя X-COM.
                Phoenix Point: Year One Edition — самое полное издание знаменитой стратегии от создателя X-COM.
            </div>
            <div class="price">
                <div class="toPrice">
                    <span class="value">999</span>
                </div>
                <div class="fromPrice">
                    <span class="value">1300</span>
                </div>
                <div class="discount">30</div>
            </div>
            <div class="actions">
                <button title="Добавить игру в корзину покупок" class="btn rounded increase bg-pink hover-backlight-blue">В корзину</button>
            </div>
            <div class="extends">
                <div class="tooltip">
                    <button class="btn extend">
                        <img  class="img" src="./img/extendGamePade.svg" alt="игра с геймпадом" title="игра с геймпадом">
                    </button>
                    <div class="prompt">Возможна игра с геймпадом</div>
                </div>
                <div class="tooltip">
                    <button class="btn extend">
                        <img  class="img" src="./img/extendMultiplayerGame.svg" alt="игра с геймпадом" title="игра с геймпадом">
                    </button>
                    <div class="prompt">Возможна игра с геймпадом</div>
                </div>
                <div class="tooltip">
                    <button class="btn extend">
                        <img  class="img" src="./img/extendSingleGame.svg" alt="игра с геймпадом" title="игра с геймпадом">
                    </button>
                    <div class="prompt">Возможна игра с геймпадом</div>
                </div>
            </div>
        </div>
    </div>
    <div class="contentContainer">
        <div class="main infoBlock">
            <ul class="fieldedList">
                <li class="item">
                    <div class="name">Язык:</div>
                    <div class="value">Русский, English</div>
                </li>
                <li class="item">
                    <div class="name">Регион активации:</div>
                    <div class="value">Россия</div>
                </li>
                <li class="item">
                    <div class="name">Сервис активации:</div>
                    <div class="value">Steam</div>
                </li>
                <li class="item">
                    <div class="name">Жанр:</div>
                    <div class="value">Экшн</div>
                </li>
                <li class="item">
                    <div class="name">Платформа:</div>
                    <div class="value">PC</div>
                </li>
                <li class="item">
                    <div class="name">Издатель:</div>
                    <div class="value">Gucci Gang Gaming</div>
                </li>
            </ul>
            <div class="gallerySlider">
                <button class="btn prev increase">
                    <span class="icon-static icon-static-arrow"></span>
                </button>
                <div class="visibleArea">
                    <div class="tape">
                        <div class="slideWrapper active">
                            <div class="slide active">
                                <button class="btn increase video" title="Открыть на весь экран">
                                    <img class="img" src="./img/gamePageGallery-1.png" alt="Фото из галереи игы">
                                </button>
                            </div>
                        </div>
                        <div class="slideWrapper active">
                            <div class="slide active">
                                <button class="btn increase" title="Открыть на весь экран">
                                    <img class="img" src="./img/gamePageGallery-2.png" alt="Фото из галереи игы">
                                </button>
                            </div>
                        </div>
                        <div class="slideWrapper">
                            <div class="slide">
                                <button class="btn increase" title="Открыть на весь экран">
                                    <img class="img" src="./img/gamePageGallery-2.png" alt="Фото из галереи игы">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn next increase">
                    <span class="icon-static icon-static-arrow"></span>
                </button>
            </div>
        </div>
        <div class="fullInfo">
            <div class="sideBar">
                <div class="doubleGameSlider">
                    <div class="title">Вам может понравится</div>
                    <div class="slider">
                        <div class="visibleAreaWrapper">
                            <div class="visibleArea">
                                <div class="tape">
                                    <div class="slide active">
                                        <a href="#" class="cardGame small" title="Перейти к странице игры">
                                            <div class="actions">
                                                <button class="btn like" title="Добавить игру в избранное">
                                                    <span class="icon-static icon-static-actionLike"></span>
                                                </button>
                                                <button
                                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                                        title="Добавить данный товар в корзину покупок"
                                                >
                                                    В корзину
                                                </button>
                                            </div>
                                            <div class="head">
                                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                                <div class="name">Doom ETERNAL</div>
                                            </div>
                                            <div class="price">
                                                <div class="toPrice">
                                                    <span class="value">999</span>
                                                </div>
                                                <div class="fromPrice">
                                                    <span class="value">1300</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="slide active">
                                        <a href="#" class="cardGame small" title="Перейти к странице игры">
                                            <div class="actions">
                                                <button class="btn like" title="Добавить игру в избранное">
                                                    <span class="icon-static icon-static-actionLike"></span>
                                                </button>
                                                <button
                                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                                        title="Добавить данный товар в корзину покупок"
                                                >
                                                    В корзину
                                                </button>
                                            </div>
                                            <div class="head">
                                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                                <div class="name">Doom ETERNAL</div>
                                            </div>
                                            <div class="price">
                                                <div class="toPrice">
                                                    <span class="value">999</span>
                                                </div>
                                                <div class="fromPrice">
                                                    <span class="value">1300</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="slide">
                                        <a href="#" class="cardGame small" title="Перейти к странице игры">
                                            <div class="actions">
                                                <button class="btn like" title="Добавить игру в избранное">
                                                    <span class="icon-static icon-static-actionLike"></span>
                                                </button>
                                                <button
                                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                                        title="Добавить данный товар в корзину покупок"
                                                >
                                                    В корзину
                                                </button>
                                            </div>
                                            <div class="head">
                                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                                <div class="name">Doom ETERNAL</div>
                                            </div>
                                            <div class="price">
                                                <div class="toPrice">
                                                    <span class="value">999</span>
                                                </div>
                                                <div class="fromPrice">
                                                    <span class="value">1300</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slideControls">
                            <button class="btn prev"></button>
                            <div class="progress"></div>
                            <button class="btn next"></button>
                        </div>
                    </div>
                </div>
                <div class="doubleGameSlider">
                    <div class="title">Вы недавно смотрели</div>
                    <div class="slider">
                        <div class="visibleAreaWrapper">
                            <div class="visibleArea">
                                <div class="tape">
                                    <div class="slide active">
                                        <a href="#" class="cardGame small" title="Перейти к странице игры">
                                            <div class="actions">
                                                <button class="btn like" title="Добавить игру в избранное">
                                                    <span class="icon-static icon-static-actionLike"></span>
                                                </button>
                                                <button
                                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                                        title="Добавить данный товар в корзину покупок"
                                                >
                                                    В корзину
                                                </button>
                                            </div>
                                            <div class="head">
                                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                                <div class="name">Doom ETERNAL</div>
                                            </div>
                                            <div class="price">
                                                <div class="toPrice">
                                                    <span class="value">999</span>
                                                </div>
                                                <div class="fromPrice">
                                                    <span class="value">1300</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="slide active">
                                        <a href="#" class="cardGame small" title="Перейти к странице игры">
                                            <div class="actions">
                                                <button class="btn like" title="Добавить игру в избранное">
                                                    <span class="icon-static icon-static-actionLike"></span>
                                                </button>
                                                <button
                                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                                        title="Добавить данный товар в корзину покупок"
                                                >
                                                    В корзину
                                                </button>
                                            </div>
                                            <div class="head">
                                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                                <div class="name">Doom ETERNAL</div>
                                            </div>
                                            <div class="price">
                                                <div class="toPrice">
                                                    <span class="value">999</span>
                                                </div>
                                                <div class="fromPrice">
                                                    <span class="value">1300</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="slide">
                                        <a href="#" class="cardGame small" title="Перейти к странице игры">
                                            <div class="actions">
                                                <button class="btn like" title="Добавить игру в избранное">
                                                    <span class="icon-static icon-static-actionLike"></span>
                                                </button>
                                                <button
                                                        class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                                        title="Добавить данный товар в корзину покупок"
                                                >
                                                    В корзину
                                                </button>
                                            </div>
                                            <div class="head">
                                                <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                                <div class="name">Doom ETERNAL</div>
                                            </div>
                                            <div class="price">
                                                <div class="toPrice">
                                                    <span class="value">999</span>
                                                </div>
                                                <div class="fromPrice">
                                                    <span class="value">1300</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slideControls">
                            <button class="btn prev"></button>
                            <div class="progress"></div>
                            <button class="btn next"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="generalInfo tabs">
                    <div class="nav">
                        <button class="btn round border big translucent active">Об игре</button>
                        <button class="btn round border big translucent">Активация</button>
                        <button class="btn round border big translucent">Состав набора</button>
                        <button class="btn round border big translucent">Серии игр</button>
                    </div>
                    <div class="blocks totalHeight infoBlock">
                        <div class="item">
                            <p class="paragraph">
                                Phoenix Point: Year One Edition — самое полное издание знаменитой стратегии от создателя
                                X-COM, которое включает в себя все предыдущие дополнения, обновления и дополнительный
                                контент.
                            </p>
                            <p class="paragraph">
                                Земля была захвачена. Мутирующая инопланетная угроза угрожает последним остаткам
                                человечества. Только «Проект Феникс» — секретная организация, состоящая из лучших умов и
                                самых храбрых солдат, оставшихся на Земле, может дать отпор инопланетянам и остановить
                                неизбежное. Вам предстоит возглавить Проект Феникс, чтобы исследовать и разрабатывать
                                новые технологии и методики, исследовать опустошенный земной шар, управлять ресурсами и
                                сражаться в тяжелых битвах.
                            </p>
                        </div>
                        <ul class="item bulletedList">
                            <li class="item">Если у вас не установлен Steam клиент, скачайте и установите его.</li>
                            <li class="item">Войдите в свой аккаунт Steam или зарегистрируйте новый, если у вас его нет.</li>
                            <li class="item">Перейдите в раздел "Игры" и выберите "Активировать через Steam...".</li>
                            <li class="item">Введите ключ активации.</li>
                            <li class="item">После этого игра будет в вашей библиотеке Steam, и вы сможете скачать.</li>
                        </ul>
                        <div class="item">
                            <div class="btn rounded bg-paleBlue package">Ultima edition</div>
                            <ul class="bulletedList">
                                <li class="item">Набор гитлера</li>
                                <li class="item">Адская носоглотка</li>
                                <li class="item">Крепкий орешек</li>
                                <li class="item">Копье ануса</li>
                            </ul>
                        </div>
                        <div class="item active">
                            <div class="slider">
                                <button class="btn prev increase">
                                    <span class="icon-static icon-static-arrow"></span>
                                </button>
                                <div class="visibleAreaWrapper">
                                    <div class="visibleArea">
                                        <div class="tape">
                                            <div class="slide active">
                                                <a href="#" class="cardGame small" title="Перейти к странице игры">
                                                    <div class="actions">
                                                        <button class="btn like" title="Добавить игру в избранное">
                                                            <span class="icon-static icon-static-actionLike"></span>
                                                        </button>
                                                        <button
                                                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                                                title="Добавить данный товар в корзину покупок"
                                                        >
                                                            В корзину
                                                        </button>
                                                    </div>
                                                    <div class="head">
                                                        <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                                        <div class="name">Doom ETERNAL</div>
                                                    </div>
                                                    <div class="price">
                                                        <div class="toPrice">
                                                            <span class="value">999</span>
                                                        </div>
                                                        <div class="fromPrice">
                                                            <span class="value">1300</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="slide active">
                                                <a href="#" class="cardGame small" title="Перейти к странице игры">
                                                    <div class="actions">
                                                        <button class="btn like" title="Добавить игру в избранное">
                                                            <span class="icon-static icon-static-actionLike"></span>
                                                        </button>
                                                        <button
                                                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                                                title="Добавить данный товар в корзину покупок"
                                                        >
                                                            В корзину
                                                        </button>
                                                    </div>
                                                    <div class="head">
                                                        <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                                        <div class="name">Doom ETERNAL</div>
                                                    </div>
                                                    <div class="price">
                                                        <div class="toPrice">
                                                            <span class="value">999</span>
                                                        </div>
                                                        <div class="fromPrice">
                                                            <span class="value">1300</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="slide active">
                                                <a href="#" class="cardGame small" title="Перейти к странице игры">
                                                    <div class="actions">
                                                        <button class="btn like" title="Добавить игру в избранное">
                                                            <span class="icon-static icon-static-actionLike"></span>
                                                        </button>
                                                        <button
                                                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                                                title="Добавить данный товар в корзину покупок"
                                                        >
                                                            В корзину
                                                        </button>
                                                    </div>
                                                    <div class="head">
                                                        <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                                        <div class="name">Doom ETERNAL</div>
                                                    </div>
                                                    <div class="price">
                                                        <div class="toPrice">
                                                            <span class="value">999</span>
                                                        </div>
                                                        <div class="fromPrice">
                                                            <span class="value">1300</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="slide active">
                                                <a href="#" class="cardGame small" title="Перейти к странице игры">
                                                    <div class="actions">
                                                        <button class="btn like" title="Добавить игру в избранное">
                                                            <span class="icon-static icon-static-actionLike"></span>
                                                        </button>
                                                        <button
                                                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                                                title="Добавить данный товар в корзину покупок"
                                                        >
                                                            В корзину
                                                        </button>
                                                    </div>
                                                    <div class="head">
                                                        <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                                        <div class="name">Doom ETERNAL</div>
                                                    </div>
                                                    <div class="price">
                                                        <div class="toPrice">
                                                            <span class="value">999</span>
                                                        </div>
                                                        <div class="fromPrice">
                                                            <span class="value">1300</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="slide">
                                                <a href="#" class="cardGame small" title="Перейти к странице игры">
                                                    <div class="actions">
                                                        <button class="btn like" title="Добавить игру в избранное">
                                                            <span class="icon-static icon-static-actionLike"></span>
                                                        </button>
                                                        <button
                                                                class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart small"
                                                                title="Добавить данный товар в корзину покупок"
                                                        >
                                                            В корзину
                                                        </button>
                                                    </div>
                                                    <div class="head">
                                                        <img class="img" src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                                        <div class="name">Doom ETERNAL</div>
                                                    </div>
                                                    <div class="price">
                                                        <div class="toPrice">
                                                            <span class="value">999</span>
                                                        </div>
                                                        <div class="fromPrice">
                                                            <span class="value">1300</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn next increase">
                                    <span class="icon-static icon-static-arrow"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="systemInfo">
                    <div class="btn border round big">Системные требования</div>
                    <ul class="fieldedList infoBlock">
                        <li class="item">
                            <div class="name">Процессор:</div>
                            <div class="value">Intel Core i3 / AMD Phenom II X4</div>
                        </li>
                        <li class="item">
                            <div class="name">Видеокарта:</div>
                            <div class="value">Nvidia GeForce GTX 950 / AMD Radeon R9 270x</div>
                        </li>
                        <li class="item">
                            <div class="name">Оперативная память:</div>
                            <div class="value">8 GB</div>
                        </li>
                        <li class="item">
                            <div class="name">Место на диске:</div>
                            <div class="value">30 GB</div>
                        </li>
                    </ul>
                </div>
                <div class="comments tabs">
                    <div class="nav">

                    </div>
                    <div class="blocks">

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="contentContainer homeSection footer">
    <div class="navigation">
        <a class="link" href="#">
            <img class="logo" src="./img/logoFull.png" alt="Ice Games полный логотип" title="Ice Games полный логотип">
        </a>
        <div class="social">
            <a href="#" class="link" title="Перейти на страницу Ice Games во Вконтакте">
                <img class="img" src="./img/vkSocial.png" alt="Логотип вконтакте" title="Перейти на страницу Ice Games во Вконтакте">
            </a>
            <a href="#" class="link" title="Перейти на страницу Ice Games в TikTok">
                <img class="img" src="./img/tiktokSocial.png" alt="Логотип TikTok" title="Перейти на страницу Ice Games в TikTok">
            </a>
            <a href="#" class="link" title="Перейти на страницу Ice Games в Instagram">
                <img class="img" src="./img/instagramSocial.png" alt="Логотип Instagram" title="Перейти на страницу Ice Games в Instagram">
            </a>
            <a href="#" class="link" title="Перейти на страницу Ice Games в Twitch">
                <img class="img" src="./img/twitchSocial.png" alt="Логотип Twitch" title="Перейти на страницу Ice Games в Twitch">
            </a>
            <a href="#" class="link" title="Перейти на страницу Ice Games в Twitter">
                <img class="img" src="./img/twitterSocial.png" alt="Логотип Twitter" title="Перейти на страницу Ice Games в Twitter">
            </a>
            <a href="#" class="link" title="Перейти на страницу Ice Games в FaceBook">
                <img class="img" src="./img/fbSocial.png" alt="Логотип FaceBook" title="Перейти на страницу Ice Games в FaceBook">
            </a>
        </div>
        <div class="menu">
            <a href="#" class="link">Все игры</a>
            <a href="#" class="link">Поддержка</a>
            <a href="#" class="link">Доставка и оплата</a>
            <a href="#" class="link">Отзывы</a>
            <a href="#" class="link">О магазине</a>
            <a href="#" class="link">Гарантия</a>
            <a href="#" class="link">Скидки</a>
            <a href="#" class="link">Новинки</a>
            <a href="#" class="link">Предзаказы</a>
        </div>
    </div>
    <div class="info">
        <img class="payments" src="./img/payments.png" alt="Способы оплаты" title="Способы оплаты">
        <a class="link legalInfo" href="#" title="Перейти на страницу правовой информации">Правовая информация</a>
        <a class="link designBy" href="#" title="Перейти на сайт студии" target="_blank">Дизайн: дизайн студия ган михаила</a>
    </div>
    <div class="copy">
        Все права защищены. Копирование любых материалов сайта запрещено! Все названия продуктов и игр,
        компаний и марок, логотипы, товарные знаки и другие материалы являются собственностью
        соответствующих владельцев. Только лицензионные ключи ко всем игровым платформам: Steam, Uplay,
        Battle.net, Origin и другие. Выгодно, надежно и быстро!
    </div>
</footer>
<script src="./js/bundle.js"></script>
</body>
</html>