<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="IceGames -- Магазин Ключей Steam">
    <meta name="keywords" content="IceGames -- Магазин Ключей Steam">
    <link rel="stylesheet" href="./styles/bundle.css">
    <title>ICE Games -- Магазин Ключей Steam</title>
</head>
<body class="openMenu">
    <header class="header">
        <div class="header-wrapper">
            <div class="logo">
                <img src="./img/logo.png" alt="Логотип Ice Games" title="Логотип Ice Games">
                <div class="logo_name">Ice Games<br>Store</div>
            </div>
            <div class="navigation">
                <div class="navigationWrapper">
                    <div class="navigationContainer">
                        <nav class="navigationMenu">
                            <ul class="categoryMenu">
                                <li>
                                    <a href="#" title="Топ продаж">Топ продаж</a>
                                </li>
                                <li>
                                    <a href="#" title="Новинки">Новинки</a>
                                </li>
                                <li>
                                    <a href="#" title="Предзаказы">Предзаказы</a>
                                </li>
                                <li>
                                    <a href="#" title="Скидки">Скидки</a>
                                </li>
                                <li>
                                    <a href="#" title="ТОП 2020">ТОП 2020</a>
                                </li>
                                <li>
                                    <a href="#" title="Все игры">Все игры</a>
                                </li>
                            </ul>
                            <ul>
                                <li>Жанры</li>
                                <li>
                                    <a href="#" title="Шутеры">Шутеры</a>
                                </li>
                                <li>
                                    <a href="#" title="Экшн">Экшн</a>
                                </li>
                                <li>
                                    <a href="#" title="Ролевые">Ролевые</a>
                                </li>
                                <li>
                                    <a href="#" title="Стратегии">Стратегии</a>
                                </li>
                                <li>
                                    <a href="#" title="Инди">Инди</a>
                                </li>
                                <li>
                                    <a href="#" title="Симуляторы">Симуляторы</a>
                                </li>
                                <li>
                                    <a href="#" title="Приключения">Приключения</a>
                                </li>
                                <li>
                                    <a href="#" title="Атмосфера">Атмосфера</a>
                                </li>
                                <li>
                                    <a href="#" title="Хорор">Хорор</a>
                                </li>
                            </ul>
                            <ul>
                                <li>Издатели</li>
                                <li>
                                    <a href="#" title="2К">2К</a>
                                </li>
                                <li>
                                    <a href="#" title="Bandi Namko">Bandi Namko</a>
                                </li>
                                <li>
                                    <a href="#" title="Bethesda softworks">Bethesda softworks</a>
                                </li>
                                <li>
                                    <a href="#" title="Capcom">Capcom</a>
                                </li>
                                <li>
                                    <a href="#" title="Electronic Arts">Electronic Arts</a>
                                </li>
                                <li>
                                    <a href="#" title="Paradox Interactive">Paradox Interactive</a>
                                </li>
                                <li>
                                    <a href="#" title="Segs">Segs</a>
                                </li>
                                <li>
                                    <a href="#" title="Ubisoft">Ubisoft</a>
                                </li>
                            </ul>
                            <ul>
                                <li>Разработчики</li>
                                <li>
                                    <a href="#" title="Gearbox Software">Gearbox Software</a>
                                </li>
                                <li>
                                    <a href="#" title="Hangar 13">Hangar 13</a>
                                </li>
                                <li>
                                    <a href="#" title="Team17 Digital">Team17 Digital</a>
                                </li>
                                <li>
                                    <a href="#" title="Creative Assembly">Creative Assembly</a>
                                </li>
                                <li>
                                    <a href="#" title="Dice">Dice</a>
                                </li>
                                <li>
                                    <a href="#" title="Firaxis">Firaxis</a>
                                </li>
                                <li>
                                    <a href="#" title="Remedy Entertaiment">Remedy Entertaiment</a>
                                </li>
                                <li>
                                    <a href="#" title="Respawn Entertaiment">Respawn Entertaiment</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <button title="Открыть каталог игр" class="btn round border transparent navigationOpen active">Каталог</button>
                </div>
                <div class="searchBar active">
                    <input type="text" placeholder="Поиск..." class="fieldSearch">
                    <button class="btn goSearch" title="Выполнить поиск">
                        <span class="searchIcon"></span>
                    </button>
                </div>
                <a href="#" title="Рейтинг пользователей Ice Games" class="btn round border transparent">Рейтинг</a>
            </div>
            <div class="headerProfile">
                <a href="#" class="btn profile" title="Авторизоваться/Перейти в профиль">
                    <span class="profileIcon"></span>
                </a>
                <a href="#" class="btn cart" title="Перейти в корзину с товарами">
                    <span class="cartIcon"></span>
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="cover">
            <div class="fide"></div>
        </div>
        <div class="cover">
            <div class="fide"></div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>