<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="IceGames -- Магазин Ключей Steam">
    <meta name="keywords" content="IceGames -- Магазин Ключей Steam">
    <link rel="stylesheet" href="./styles/bundle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">
    <title>ICE Games -- Магазин Ключей Steam</title>
</head>
<body>
<div class="login">
    <div class="formContainer auth active">
        <div class="switches">
            <button class="btn round border fillFromCenter fillFromCenter-darkLilac active">Вход</button>
            <button class="btn round border fillFromCenter fillFromCenter-darkLilac">Регистрация</button>
        </div>
        <form class="form auth" action="/auth" method="post">
            <label class="label-inField">
                <input class="textField" type="text" name="nickName">
                <span class="label">Ник</span>
            </label>
            <label class="label-inField">
                <input class="textField" type="text" name="email">
                <span class="label">E-mail</span>
            </label>
            <label class="label-inField">
                <input class="textField" type="password" name="password">
                <span class="label">Пароль</span>
            </label>
            <button type="submit" class="btn round border fillFromCenter fillFromCenter-darkLilac submit">Войти</button>
        </form>
        <div class="canRestore">
            <span class="text">Забыли пароль?</span>
            <button class="btn link">Восстановить</button>
        </div>
    </div>
    <div class="formContainer restore">
        <div class="title">Вы забыли пароль?</div>
        <div class="description">Мы пришлем Вам новый на E-mail, указанный при регистрации!</div>
        <form class="form" action="/restore" method="post">
            <label class="label-inField">
                <input class="textField" type="text" name="email">
                <span class="label">E-mail</span>
            </label>
            <button type="submit" class="btn round border fillFromCenter fillFromCenter-darkLilac submit">Восстановить</button>
        </form>
        <button class="btn link">Назад</button>
    </div>
</div>
<header class="header">
    <div class="contentContainer">
        <a class="logo link">
            <img src="img/logo.png" class="img" alt="Логотип Ice Games" title="Логотип Ice Games">
            <div class="name">Ice Games<br>Store</div>
        </a>
        <div class="navigation js-mainNavigation">
            <div class="containerMenu">
                <nav class="menu">
                    <ul class="col categoriesMenu">
                        <li class="colLink">
                            <a href="#" class="link" title="Топ продаж">Топ продаж</a>
                        </li>
                        <li class="colLink">
                            <a href="#" class="link" title="Новинки">Новинки</a>
                        </li>
                        <li class="colLink">
                            <a href="#" class="link" title="Предзаказы">Предзаказы</a>
                        </li>
                        <li class="colLink">
                            <a href="#" class="link" title="Скидки">Скидки</a>
                        </li>
                        <li class="colLink">
                            <a href="#" class="link" title="ТОП 2020">ТОП 2020</a>
                        </li>
                        <li class="colLink">
                            <a href="#" class="link" title="Все игры">Все игры</a>
                        </li>
                    </ul>
                    <div class="containerMainMenuSearch">
                        <div class="searchResult">
                            <div class="cardGame">
                                <div class="actions">
                                    <button class="btn like">
                                        <span class="likeIcon"></span>
                                    </button>
                                    <button class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart" title="Добавить данный товар в корзину покупок">В корзину</button>
                                </div>
                                <div class="cover">
                                    <img src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                    <div class="name">Doom ETERNAL</div>
                                </div>
                                <div class="price">
                                    <div class="toPrice">
                                        <span class="value">999</span>
                                    </div>
                                    <div class="fromPrice">
                                        <span class="value">1300</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cardGame">
                                <div class="actions">
                                    <button class="btn like">
                                        <span class="likeIcon"></span>
                                    </button>
                                    <button class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart" title="Добавить данный товар в корзину покупок">В корзину</button>
                                </div>
                                <div class="cover">
                                    <img src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                    <div class="name">Doom ETERNAL</div>
                                </div>
                                <div class="price">
                                    <div class="toPrice">
                                        <span class="value">999</span>
                                    </div>
                                    <div class="fromPrice">
                                        <span class="value">1300</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cardGame">
                                <div class="actions">
                                    <button class="btn like">
                                        <span class="likeIcon"></span>
                                    </button>
                                    <button class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart" title="Добавить данный товар в корзину покупок">В корзину</button>
                                </div>
                                <div class="cover">
                                    <img src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                    <div class="name">Doom ETERNAL</div>
                                </div>
                                <div class="price">
                                    <div class="toPrice">
                                        <span class="value">999</span>
                                    </div>
                                    <div class="fromPrice">
                                        <span class="value">1300</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cardGame">
                                <div class="actions">
                                    <button class="btn like">
                                        <span class="likeIcon"></span>
                                    </button>
                                    <button class="btn border rounded uppercase bg-darkPink hover-bg-pink inCart" title="Добавить данный товар в корзину покупок">В корзину</button>
                                </div>
                                <div class="cover">
                                    <img src="./img/CoverDoomEternal.jpg" alt="Image of Doom ETERNAL" title="Doom ETERNAL">
                                    <div class="name">Doom ETERNAL</div>
                                </div>
                                <div class="price">
                                    <div class="toPrice">
                                        <span class="value">999</span>
                                    </div>
                                    <div class="fromPrice">
                                        <span class="value">1300</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mainMenu">
                            <ul class="col">
                                <li class="title">Жанры</li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Шутеры">Шутеры</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Экшн">Экшн</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Ролевые">Ролевые</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Стратегии">Стратегии</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Инди">Инди</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Симуляторы">Симуляторы</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Приключения">Приключения</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Атмосфера">Атмосфера</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Хорор">Хорор</a>
                                </li>
                            </ul>
                            <ul class="col">
                                <li class="title">Издатели</li>
                                <li class="colLink">
                                    <a href="#" class="link" title="2К">2К</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Bandi Namko">Bandi Namko</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Bethesda softworks">Bethesda softworks</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Capcom">Capcom</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Electronic Arts">Electronic Arts</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Paradox Interactive">Paradox Interactive</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Segs">Segs</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Ubisoft">Ubisoft</a>
                                </li>
                            </ul>
                            <ul class="col">
                                <li class="title">Разработчики</li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Gearbox Software">Gearbox Software</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Hangar 13">Hangar 13</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Team17 Digital">Team17 Digital</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Creative Assembly">Creative Assembly</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Dice">Dice</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Firaxis">Firaxis</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Remedy Entertaiment">Remedy Entertaiment</a>
                                </li>
                                <li class="colLink">
                                    <a href="#" class="link" title="Respawn Entertaiment">Respawn Entertaiment</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <button title="Открыть каталог игр" class="btn round border hover-color-pink hover-border-pink openMenu js-toggleMainNavigation">Каталог</button>
            <div class="searchBar">
                <input class="textField" type="text" placeholder="Поиск...">
                <button class="btn goSearch" title="Выполнить поиск">
                    <span class="icon icon-search"></span>
                </button>
            </div>
            <a href="#" title="Рейтинг пользователей Ice Games" class="btn round border hover-color-pink hover-border-pink">Рейтинг</a>
        </div>
        <div class="profile">
            <button class="btn js-openProfileForms" title="Авторизация">
                <span class="icon icon-profile"></span>
            </button>
            <a href="#" class="btn cart" title="Перейти в корзину с товарами">
                <span class="icon icon-cart"></span>
            </a>
        </div>
    </div>
</header>
<main class="contentContainer withoutCover profilePage">
    <div class="breadcrumbs contentContainer">
        <div class="item">
            <a class="btn link" href="#">Главная</a>
        </div>
        <div class="current">Профиль</div>
    </div>
    <div class="profile">
        <div class="nav">
            <div class="menu">
                <button class="btn">Профиль</button>
                <button class="btn">Личные данные</button>
                <button class="btn">Достижения</button>
                <button class="btn">Пригласи друга</button>
                <button class="btn">Мои игры</button>
                <button class="btn">Избранное</button>
            </div>
            <button class="btn border rounded viewProfile">Как видят мою страницу</button>
            <button class="btn link exit">Выход</button>
        </div>
    </div>
</main>
<footer class="contentContainer homeSection footer">
    <div class="navigation">
        <a class="link" href="#">
            <img class="logo" src="./img/logoFull.png" alt="Ice Games полный логотип" title="Ice Games полный логотип">
        </a>
        <div class="social">
            <a href="#" class="link" title="Перейти на страницу Ice Games во Вконтакте">
                <img class="img" src="./img/vkSocial.png" alt="Логотип вконтакте" title="Перейти на страницу Ice Games во Вконтакте">
            </a>
            <a href="#" class="link" title="Перейти на страницу Ice Games в TikTok">
                <img class="img" src="./img/tiktokSocial.png" alt="Логотип TikTok" title="Перейти на страницу Ice Games в TikTok">
            </a>
            <a href="#" class="link" title="Перейти на страницу Ice Games в Instagram">
                <img class="img" src="./img/instagramSocial.png" alt="Логотип Instagram" title="Перейти на страницу Ice Games в Instagram">
            </a>
            <a href="#" class="link" title="Перейти на страницу Ice Games в Twitch">
                <img class="img" src="./img/twitchSocial.png" alt="Логотип Twitch" title="Перейти на страницу Ice Games в Twitch">
            </a>
            <a href="#" class="link" title="Перейти на страницу Ice Games в Twitter">
                <img class="img" src="./img/twitterSocial.png" alt="Логотип Twitter" title="Перейти на страницу Ice Games в Twitter">
            </a>
            <a href="#" class="link" title="Перейти на страницу Ice Games в FaceBook">
                <img class="img" src="./img/fbSocial.png" alt="Логотип FaceBook" title="Перейти на страницу Ice Games в FaceBook">
            </a>
        </div>
        <div class="menu">
            <a href="#" class="link">Все игры</a>
            <a href="#" class="link">Поддержка</a>
            <a href="#" class="link">Доставка и оплата</a>
            <a href="#" class="link">Отзывы</a>
            <a href="#" class="link">О магазине</a>
            <a href="#" class="link">Гарантия</a>
            <a href="#" class="link">Скидки</a>
            <a href="#" class="link">Новинки</a>
            <a href="#" class="link">Предзаказы</a>
        </div>
    </div>
    <div class="info">
        <img class="payments" src="./img/payments.png" alt="Способы оплаты" title="Способы оплаты">
        <a class="link legalInfo" href="#" title="Перейти на страницу правовой информации">Правовая информация</a>
        <a class="link designBy" href="#" title="Перейти на сайт студии" target="_blank">Дизайн: дизайн студия ган михаила</a>
    </div>
    <div class="copy">
        Все права защищены. Копирование любых материалов сайта запрещено! Все названия продуктов и игр,
        компаний и марок, логотипы, товарные знаки и другие материалы являются собственностью
        соответствующих владельцев. Только лицензионные ключи ко всем игровым платформам: Steam, Uplay,
        Battle.net, Origin и другие. Выгодно, надежно и быстро!
    </div>
</footer>
<script src="./js/bundle.js"></script>
</body>
</html>